<?php $lk_url = '/cabinet'; ?>
<div class="t228__rightside">
    <div class="t228__rightcontainer">
        <div class="t228__right_buttons">
            <div class="t228__right_buttons_wrap">
                <div class="t228__right_buttons_but">
                    <a href="<?= $lk_url ?>" target="" class="t-btn " style="color:#000000;background-color:#ffffff;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;">
                        <table style="width:100%; height:100%;">
                            <tr>
                                <td>Личный кабинет</td>
                            </tr>
                        </table>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
