
      <form class="form-login form-register form" action="/auth/register.php" METHOD=POST style="max-width:  550px;">
        <? //=($REG_RESULT_STR) ? "<div class='alert alert-danger'>".$REG_RESULT_STR."</div>" : '';?>
        <div class="login-wrap">
    			<?php echo $cform->Body_print(); ?>

    		<input type="hidden" name="reg" value="1"/><br />
            <input type='hidden' class="btnreg" name="submit" value="1">
            <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> Зарегистрироваться</button>
          <hr>
          <div class="registration">
            уже зарегистрированы?<br/>
            <a  onclick="$('#registerModal').modal('hide')" data-toggle="modal" data-target="#authModal"  >
              Авторизуйтесь
              </a>
          </div>
        </div>
      </form>

