<div id="rec111862120" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px; "
     data-record-type="795"><!-- T795 -->
    <div class="t795">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">Личные данные</div>
            </div>
        </div>
    </div>
</div>
<div id="rec111867143" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px; "
     data-record-type="431"><!-- t431 --><!--color5 — table head border color-->
    <div class="t431">
        <div class="t-container">
            <div class="t-col t-col_10 t-prefix_1 t431__tdscale_1 t-text t-text_sm t-align_left t431__mobilescroll">
                <div class="t431__wrapper-for-mobile">
                    <div class="t431__table-wapper" data-auto-correct-mobile-width="false">
                        <table class="t431__table " style=""></table>
                    </div>
                </div>
                <div class="t431__data-part1" data-auto-correct-mobile-width="false"
                     data-btn-style="color:#ffffff;border:0px solid #000000;background-color:#000000;border-radius:21px; -moz-border-radius:21px; -webkit-border-radius:21px;"
                     style="display: none;"></div>
                <div class="t431__data-part2" data-auto-correct-mobile-width="false" style="display: none;">
                    Имя:;Иван
                    Фамилия:;Иванов
                    Регион:;Москва
                    Статус:;Одобрен
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"> $(document).ready(function () {
            var t431__tablehead = $('#rec' + '111867143' + ' .t431 .t-container .t431__data-part1').html();
            var t431__tablebody = $('#rec' + '111867143' + ' .t431 .t-container .t431__data-part2').html();
            var t431__btnstyles = $('#rec' + '111867143' + ' .t431 .t-container .t431__data-part1').attr('data-btn-style');
            var t431__tdstyles = 'font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;';
            var t431__thstyles = 'font-size: inherit; background: ; border-width: 0px 0px 1px 0px; border-color: #000000; color: ; font-size: ; font-family: ; font-weight: ;';
            var t431__oddrowstyles = 'background: #ffffff';
            var t431__evenrowstyles = 'background: #ffffff';
            t431_createTable('111867143', t431__tablehead, t431__tablebody, '25%;75%;', '', t431__btnstyles, t431__tdstyles, t431__thstyles, t431__oddrowstyles, t431__evenrowstyles);
            if ('' && $('#rec' + '111867143' + ' .t431 .t-container .t431__data-part2').html().length > 0) {
                setTimeout(function () {
                    t431_setHeadWidth('111867143');
                }, 200);
            }
            if ('' && $('#rec' + '111867143' + ' .t431 .t-container .t431__data-part2').html().length > 0) {
                $('.t431').bind('displayChanged', function () {
                    t431_setHeadWidth('111867143');
                });
            }
        });	// change the width of thead cells when window resizes if('' && $('#rec'+'111867143'+' .t431 .t-container .t431__data-part2').html().length>0) { var t431__doResize; $(window).resize(function(){ t431_setHeadWidth('111867143'); clearTimeout(t431__doResize); t431__doResize = setTimeout(function() { t431_setHeadWidth('111867143'); }, 100); }); }</script>
</div>
<div id="rec111867826" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px; "
     data-record-type="191"><!-- T142 -->
    <div class="t142">
        <div class="t-container_100">
            <div class="t142__wrapone">
                <div class="t142__wraptwo"><a href="http://" target="" class="">
                        <div class="t-btn t142__submit "
                             style="color:#000000;border:3px solid #000000;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;">
                            Редактировать
                        </div>
                    </a></div>
            </div>
        </div>
    </div>
    <script type="text/javascript"> $(document).ready(function () {
            t142_checkSize('111867826');
        });
        $(window).load(function () {
            t142_checkSize('111867826');
        });</script>
    <style>#rec111867826 .t-btn[data-btneffects-first],
        #rec111867826 .t-btn[data-btneffects-second],
        #rec111867826 .t-submit[data-btneffects-first],
        #rec111867826 .t-submit[data-btneffects-second] {
            position: relative;
            overflow: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }</style>
    <script type="text/javascript">$(document).ready(function () {
        });</script>
</div>
<h2>Изменить личные данные</h2>
<TABLE cellspacing=1 cellpadding=3>
<FORM METHOD=POST enctype="multipart/form-data">

<?php $cform->Body_print(); ?>

<TR><TD class=tabright>&nbsp;</td>
	<TD><INPUT class=buttons TYPE='submit' name=submit value='Сохранить'></TD>
</TR>

	</FORM>
</TABLE>