<?php
header('Location: /oauth/login');
    exit;
?>
<div id="rec111860571" class="r t-rec t-rec_pt_120 t-rec_pb_120" style="padding-top:120px;padding-bottom:120px; "
     data-animationappear="off" data-record-type="678"><!-- t678 -->
    <div class="t678 ">
        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__topwrapper t-align_center">
                    <div class="t-section__title t-title t-title_xs" field="btitle">Авторизация</div>
                </div>
            </div>
        </div>
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_2">
                <div>
                    <form class="form-login" action="/auth/login.php" METHOD="POST"
                           data-formactiontype="0" data-inputbox=".t-input-group"
                           class="t-form js-form-proccess t-form_inputs-total_2 "
                           data-success-callback="t678_onSuccess">
                        <div class="js-successbox t-form__successbox t-text t-text_md" style="display:none;"><?= $LOGIN_RESULT_STR ?></div>
                        <div class="t-form__inputsbox">
                            <div class="t-input-group t-input-group_in" >
                                <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no"
                                     field="li_title__1562565514313" style="">Логин
                                </div>
                                <div class="t-input-block">
                                    <input type="text" name="login"
                                                                  class="t-input js-project-rule " value=""
                                                                  data-project-req="1"
                                                                  style="color:#000000; border:1px solid #000000; ">
                                    <div class="t-input-error"></div>
                                </div>
                            </div>
                            <div class="t-input-group t-input-group_in">
                                <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no"
                                     field="li_title__1562565514313" style="">Пароль
                                </div>
                                <div class="t-input-block"><input type="password" name="passwd"
                                                                  class="t-input js-project-rule " value=""
                                                                  data-project-req="1"
                                                                  style="color:#000000; border:1px solid #000000; ">
                                    <div class="t-input-error"></div>
                                </div>
                            </div>
                            <div class="t-form__errorbox-middle">
                                <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;">
                                    <div class="t-form__errorbox-text t-text t-text_md"><p
                                                class="t-form__errorbox-item js-rule-error js-rule-error-all"></p>
                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-req"></p>
                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-email"></p>
                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-name"></p>
                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-phone"></p>
                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-minlength"></p>
                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-string"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="t-form__submit">
                                <button type="submit" class="t-submit"
                                        style="color:#ffffff;background-color:#000000;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;">
                                    Войти
                                </button>
                            </div>
                        </div>

                    </form>
                    <style>
                        #rec111860571 input::-webkit-input-placeholder {
                            color: #000000;
                            opacity: 0.5;
                        }

                        #rec111860571 input::-moz-placeholder {
                            color: #000000;
                            opacity: 0.5;
                        }

                        #rec111860571 input:-moz-placeholder {
                            color: #000000;
                            opacity: 0.5;
                        }

                        #rec111860571 input:-ms-input-placeholder {
                            color: #000000;
                            opacity: 0.5;
                        }

                        #rec111860571 textarea::-webkit-input-placeholder {
                            color: #000000;
                            opacity: 0.5;
                        }

                        #rec111860571 textarea::-moz-placeholder {
                            color: #000000;
                            opacity: 0.5;
                        }

                        #rec111860571 textarea:-moz-placeholder {
                            color: #000000;
                            opacity: 0.5;
                        }

                        #rec111860571 textarea:-ms-input-placeholder {
                            color: #000000;
                            opacity: 0.5;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
</div>
