<?
global $FORM_DATA, $_USER;
$cl_tree = array();
foreach ( $_DOC['SUBTREE']['next'] as $val) {
	if (empty($val['hidden'])) $cl_tree[] = $val;
}
if(is_array($cl_tree) && count($cl_tree)){
	echo '<ul class="subtree nav">';
	foreach ($cl_tree as $data){
	
			if ($_USER['NO_DOCTXT_IN_MENU']) {
				$data['path'] = str_replace('/doctxt/', '/', $data['path']);
			}
	
		if (DOCTXT::inc_tpl('down_list.item.html', $file)){
			include "$file"; 
		}else{
			?>
		<p><a href='<?=$data['path']?>' title='<?=$data['name']?>'><?=Main::short($data['name'], 80,1)?></a></p>
	<?	
		}//if
	}	
}
echo ($was) ? '</ul>' :'';
?>