            </tbody>
        </table>
    <?php
    echo $_KAT['SEARCH_PLINE'];
    $_KAT[$_KAT['KUR_ALIAS']]['NO_PLINE'] = true;
    ?>
            </div>
    </div>
            <?php if (sizeof($_KAT['SEARCH_RES']) > 0) { ?>
            <div class="box-footer"><?= Main::get_lang_str('on_page','db');?>: <?=sizeof($_KAT['SEARCH_RES']);?></div>
            <?php } ?>
</div>