<?
global $_PROJECT, $_CORE;
if (is_array($_PROJECT['PATH_2_CONTENT']))
	$cur = end($_PROJECT['PATH_2_CONTENT']);
if($cur['hidden']) {
	echo "Материал не опубликован.";
	return;
}
//$_CORE->MainTpl = 'altinner';
//$content = cmd("doctxt/field/".$form["path"]."/cont");


?>

<div id="rec115586428" class="r t-rec t-rec_pt_165 t-rec_pb_0" style="padding-top:165px;padding-bottom:0px; "
     data-record-type="255"><!-- T225 -->
    <div class="t225">
        <div class="t-container t-align_left">
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t225__title t-title t-title_md" field="title" style=""><?=$form['title']?></div>
            </div>
        </div>
    </div>
</div>
<div id="rec115586430" class="r t-rec t-rec_pt_45 t-rec_pb_60" style="padding-top:45px;padding-bottom:60px; "
     data-record-type="106"><!-- T004 -->
    <div class="t004">
        <div class="t-container ">
            <div class="t-col t-col_8 t-prefix_2">
                <div field="text" class="t-text t-text_md " style=""><?=$form['cont']?></div>
            </div>
        </div>
    </div>
</div>

<?php
$docs_main = array();
$path_doctxt = $FORM_DATA["doc"]["path"]."/";
$abs_path_doctxt = $_SERVER['DOCUMENT_ROOT']. $path_doctxt;
foreach (array('','2','3') as $num_doc) {
    $file_name = $form["doc".$num_doc];
    if(!empty($file_name) && is_file($abs_path_doctxt.$file_name)){
        $docs_main[] = $path_doctxt.$file_name;
    }
}
?>
<?php if(count($docs_main)>0){ ?>
    <div id="rec111463266" class="r t-rec t-rec_pt_45 t-rec_pb_60" data-record-type="472">
        <!-- T472 -->
        <div class="t472">
            <div class="t-container t-align_center">
                <div class="t-col t-col_8 t-prefix_2">
                    <div class="t-row t-clear">
                            <?php foreach ($docs_main as $num_doc => $url_doc): ?>
                                <div class="t-col t-col_4">
                                    <div class="t472__blockimg t-bgimg" bgimgfield="img<?= $num_doc?>" data-original="<?= $url_doc?>" style="background: url('/reimg<?= $url_doc?>?20x20') center center no-repeat; background-size:cover;" ></div>
                                </div>
                            <?php endforeach;?>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php } ?>
<? if(!empty($form['dbmodule'])){ echo cmd('db/'.$form['dbmodule'], false, true); } ?>