                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <?php if($_KAT[$_KAT['KUR_ALIAS']]['PERM']['ua'] == '0'){ ?>
        <div class="t142" style="padding-top:60px;padding-bottom:0px; ">
            <div class="t-container_100">
                <div class="t142__wrapone">
                    <div class="t142__wraptwo"><a
                                onclick="$('#rec112402337 .t431:first').hide();$('#rec112402337 .t431:eq(1)').show(); scrollToElement('manuals');return false;"
                                target="" class="">
                            <div class="t-btn t142__submit "
                                 style="color:#000000;border:3px solid #000000;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;">
                                Добавить
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <?php } ?>
    </div>
    <?php if($_KAT[$_KAT['KUR_ALIAS']]['PERM']['ua'] == '0'){ ?>
    <div class="t431 t431_form" style="display: none;">
        <div class="t-container">
            <div class="t-col t-col_10 t-prefix_1 t431__tdscale_1 t-text t-text_sm t-align_left ">
                <div class="t431__wrapper-for-mobile">
                    <div class="t431__table-wapper" data-auto-correct-mobile-width="false">
                        <?php $_GET['edit'] = 1; ?>
                        <?= cmd('db/manuals/add', false, true); ?>
                        <?php unset($_GET['edit']); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php } ?>
    <?php if(count($manuals_form) > 0 && $_KAT[$_KAT['KUR_ALIAS']]['PERM']['ue'] == '0'){ ?>
        <?php foreach ($manuals_form as $alias => $str_form){?>
    <div class="t431 t431_form" id="manual_<?= $alias?>" style="display: none;">
        <div class="t-container">
            <div class="t-col t-col_10 t-prefix_1 t431__tdscale_1 t-text t-text_sm t-align_left ">
                <div class="t431__wrapper-for-mobile">
                    <div class="t431__table-wapper" data-auto-correct-mobile-width="false">
                        <?= $str_form ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <?php } ?>
    <?php } ?>
</div>
<?php if($_KAT[$_KAT['KUR_ALIAS']]['PERM']['ue'] == '0'){ ?>
<script type="text/javascript">

    $(document).ready(function() {
        $('#manualsForm input[type=file]').hide();

        $('#manualsForm input[type=file]').each(function (index, el){
            // Для каждого элемента сохраняем значение в personsIdsArray,
            // если значение есть.
            $(el).after('<div class="load_file btn t-submit">Обзор...</div><input type="text" name="f_name" class="t-input load_file_name" value="Файл не выбран.">');
        });

        $('#manualsForm .load_file').click(function(){
            $(this).prev('input[type=file]').click();
            return false;
        });
        $('#manualsForm input[type=file]').change(function() {
            if($(this).get(0).files.length > 0){
                var f_name = [];
                for (var i = 0; i < $(this).get(0).files.length; ++i) {
                    f_name.push($(this).get(0).files[i].name);
                }
                $(this).next().next('input.load_file_name').val(f_name.join(", "));
            }else{
                $(this).next().next('input.load_file_name').val('Файл не выбран.');
            }
        });

    });

    $('#manuals').off('submit', '#manualsForm').on('submit','#manualsForm',function (e) {
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
        var $form = $(this);
        // создадим объект данных формы
        formData = new FormData($form.get(0));

        $.ajax({
            contentType: false, // важно - убираем форматирование данных по умолчанию
            processData: false, // важно - убираем преобразование строк по умолчанию
            type: 'post',
            url: '/empty/db/manuals/add?edit&ajax_data',
            data: formData
        }).done(function (data) {
            console.log('success');
            $(document).off('submit','#manualsForm');
            $('#manuals').html(data);

        }).fail(function (jqXHR, textStatus) {
            //alert( "Request failed: " + textStatus );
            console.log("Request failed: " + textStatus);
            console.log(data);
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
    });
    $('#manuals').off('click', 'input[type=reset]').on('click','input[type=reset]',function (e) {
        $('#rec112402337 .t431').hide();
        $('#rec112402337 .t431:first').show();
        scrollToElement('manuals');
    });

    $('#manuals').off('click', 'a.manual_del').on('click', 'a.manual_del', function (e) {
        // console.log($(this).attr('href'));

        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
        if(confirm('Вы уверены, что хотите удалить эту запись?')) {
            $.ajax({
                type: 'get',
                url: $(this).attr('href'),
            }).done(function (data) {
                console.log('success');
                $('#manuals').html(data);

            }).fail(function (jqXHR, textStatus) {
                //alert( "Request failed: " + textStatus );
                console.log("Request failed: " + textStatus);
                console.log(data);
            });
            //отмена действия по умолчанию для кнопки submit
            e.preventDefault();
        }
        return false;
    });
</script>
<?php } ?>