<div id="rec111860556" class="r t-rec t-rec_pt_120 t-rec_pb_30"
     data-record-type="795"><!-- T795 -->
    <div class="t795">
        <div class="t-container t-align_center">
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">Методические
                    материалы
                </div>
            </div>
        </div>
    </div>
</div>
<?php $manuals_form = array();?>
<div id="rec112402337" class="r t-rec t-rec_pt_0 t-rec_pb_60"
     data-record-type="431"><!-- t431 --><!--color5 — table head border color-->
    <div class="t431">
        <div class="t-container">
            <div class="t-col t-col_10 t-prefix_1 t431__tdscale_1 t-text t-text_sm t-align_left "> <!--t431__mobilescroll-->
                <div class="t431__wrapper-for-mobile">
                    <div class="t431__table-wapper" data-auto-correct-mobile-width="false">
                        <table class="t431__table " style="">
                            <thead class="t431__thead">
                            <tr>
                                <th class="t431__th"
                                    style="width:<?=($_SESSION['SESS_AUTH']['ALL']['nomination_id'])?"20vw":"25vw"?>;font-size: inherit;  border-width: 0px 0px 1px 0px; border-color: #000000;">
                                    Документ
                                </th>
                                <th class="t431__th"
                                    style="width:<?=($_SESSION['SESS_AUTH']['ALL']['nomination_id'])?"60vw":"75vw"?>;font-size: inherit; border-width: 0px 0px 1px 0px; border-color: #000000;">
                                    Описание
                                </th>
                                <?php if($_SESSION['SESS_AUTH']['ALL']['nomination_id']){ ?>
                                <th class="t431__th"
                                    style="width:20vw;font-size: inherit; border-width: 0px 0px 1px 0px; border-color: #000000; ">
                                    Доступно
                                </th>
                                <?php } ?>
                            </tr>
                            </thead>
                            <tbody class="t431__tbody">