<tr class="t431__oddrow" style="background: #ffffff">
    <td class="t431__td"
        style="font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;border-top: 0 !important;">
        <?= $data['name']?>
        <?php if(!empty($data['nomination_id']) && $data['nomination_id'] == $_SESSION['SESS_AUTH']['ALL']['nomination_id']){ ?>
            <br>
        <a class="internal" onclick="$('#rec112402337 .t431:first').hide();$('#manual_<?= $data['alias']?>').show(); scrollToElement('manuals');return false;">редактировать</a>
            <br>
        <a href="/empty/db/manuals/<?= $data['alias']?>?del" class="internal manual_del" >удалить</a>
        <?php } ?>
    </td>
    <td class="t431__td"
        style="font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
        <?=$data['anons']?><br>
        <?php if (!empty($data["doc"]) && is_file($FORM_DATA["doc"]["abspath"]."/".$data["doc"])){ ?>
            <?php $f_size = FILE::f_size(filesize($FORM_DATA["doc"]["abspath"]."/".$data["doc"]),0);  ?>
            <?php $f_ext = substr($data["doc"],strripos($data["doc"],'.'));  ?>
        <a href="<?=$FORM_DATA["doc"]["path"]."/".$data["doc"]?>" target="_blank">скачать (<?=$f_ext;?> <?=$f_size;?>)</a>
        <?php } ?>
    </td>
    <?php if($_SESSION['SESS_AUTH']['ALL']['nomination_id']){ ?>
    <td class="t431__td"
        style="font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
        <ul>
            <?php if(!empty($data['nomination_id'])){ ?>
                <?php echo '<li>Номинация: '.SQL::getval('name',DB_TABLE_PREFIX.'nominations',"alias = '{$data['nomination_id']}'").'</li>'; ?>
            <?php } ?>
            <?php if(!empty($data['project_id'])){ ?>
                <?php echo '<li>Проект: '.SQL::getval('name',DB_TABLE_PREFIX.'projects',"alias = '{$data['project_id']}'").'</li>'; ?>
            <?php } ?>

            <?php if(empty($data['project_id']) && empty($data['nomination_id'])){ ?>
                <li>Всем участникам</li>
            <?php } ?>
        </ul>
    </td>
    <?php } ?>
</tr>
<?php $_GET['edit'] = 1; ?>
<?php $manuals_form[$data['alias']] = cmd('db/manuals/'.$data['alias'], false, true);?>
<?php unset($_GET['edit']); ?>
