<?	global $_PROJECT; reset($_PROJECT);

if (is_array($_PROJECT['CURRTREE'])) { ?>
	<ul class="add_nav">
<? 		foreach ($_PROJECT['CURRTREE'] as $data) {
			if (!empty($data['hidden'])) continue;
			$cut = ($_SERVER['REQUEST_URI'] == $data['path']) ? 'active': '';
			$data['path'] = str_replace('/doctxt/','/', $data['path']);
			?>
			<li <?=( $cut  ?'class="active"':'');?>>
				<a href="<?=$data['path'];?>"><?=$data['name'];?></a>
		<? 	if(!empty($data['next']) && is_array($data['next'])) menu_left_sub( $data['next'] ); ?>
			</li>
<?		}
?>
	</ul>
<?}?>	
<?php

function menu_left_sub( $tree ){
	$next_tree	=& $tree['next'];
	$cl_tree = array();
	foreach ( $next_tree as $val) {
		if (empty($val['hidden'])) $cl_tree[] = $val;
	}
	echo '<ul>';
	$i = 0;
	foreach ( $cl_tree as $val) {
		$i++;
		
		if (!empty($val['hidden'])) {continue;}
		$active = ($_SERVER['REQUEST_URI'] == $val['path']) ? 'class="active"': '';
		echo '<li '.$active.'>';
		$val['path'] = (empty($val['link'])) ? $val['path'] : $val['link'];
		$val['path'] = str_replace('/doctxt/','/', $val['path']);
		
		echo '<a href="'.$val['path'].'" >'.$val['name'].'</a>';
		
		echo "</li>";
	}
	echo '</ul>';

}
?>