<span class="mr-2">
<?
if ($_USER['NO_DOCTXT_IN_MENU']) {
	$path = str_replace('/doctxt/', '/', $path);
}
$path = str_replace('/main/', '/', $path);
$menunolink = cmd('doctxt/field/'.str_replace('/doctxt/','',$_PROJECT['PATH_2_CONTENT'][$i]['path']).'menunolink');

if (!empty($menunolink)){
	echo '<a href="javascript:;">'.$name."</a>";
}else{
	echo STR::taging_a($name, $path, '', true);
}
?>
    
</span>