<?php $num++; ?>
<div class="t-col t-col_8 t-prefix_2 t-item">
    <div class="t-cell t-valign_top"></div>
    <div class="t512__textwrapper t-cell t-valign_top" style="">
        <div class="t-name t-name_md t512__bottommargin" style="" field="li_title__1476961779840">
            <?=$data['name']?>
        </div>
        <div class="t-descr t-descr_sm" style="color:#666666;" field="li_descr__1476961779840">
            <?= nl2br($data['cont'])?>
        </div>
    </div>
</div>
<?php if(sizeof($_KAT['SEARCH_RES']) != $num){ ?>
<div class="t-clear t512__separator" style="margin-bottom:50px;"></div>
<?php } ?>
