<div class="t-clear t512__separator" style="margin-bottom:50px;"></div>
<div class="t-col t-col_8 t-prefix_2 t-item">
    <div class="t-cell t-valign_top"></div>
    <div class="t512__textwrapper t-cell t-valign_top" style="">
        <div class="t-name t-name_md t512__bottommargin" style="" field="li_title__1476961779840">Положение о
            Программе
        </div>
        <div class="t-descr t-descr_sm" style="color:#666666;" field="li_descr__1476961779840">
            <a href="/templates/def/docs/about.pdf" target="_blank">Положение о Программе.pdf</a>
        </div>
    </div>
</div>
<div class="t-clear t512__separator" style="margin-bottom:50px;"></div>
<div class="t-col t-col_8 t-prefix_2 t-item">
    <div class="t-cell t-valign_top"></div>
    <div class="t512__textwrapper t-cell t-valign_top" style="">
        <div class="t-name t-name_md t512__bottommargin" style="" field="li_title__1476961779840">
            Согласие на обработку персональных данных
        </div>
        <div class="t-descr t-descr_sm" style="color:#666666;" field="li_descr__1476961779840">
            <a href="/templates/def/docs/agree.pdf" target="_blank">Согласие на обработку персональных данных.pdf</a>
        </div>
    </div>
</div>
<div class="t-clear t512__separator" style="margin-bottom:50px;"></div>
<div class="t-col t-col_8 t-prefix_2 t-item">
    <div class="t-cell t-valign_top"></div>
    <div class="t512__textwrapper t-cell t-valign_top" style="">
        <div class="t-name t-name_md t512__bottommargin" style="" field="li_title__1476961779840">
            Пользовательское соглашение
        </div>
        <div class="t-descr t-descr_sm" style="color:#666666;" field="li_descr__1476961779840">
            <a href="/templates/def/docs/agreement.pdf" target="_blank">Пользовательское соглашение.pdf</a>
        </div>
    </div>
</div>
        </div>
    </div>
</div>