<?php if (sizeof($_KAT['SEARCH_RES']) > 0) { ?>

    <div id="rec111473075" class="r t-rec" style=" " data-record-type="215" ><a name="mentors" style="font-size:0;"></a></div>
    <div id="rec111469465" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px;background-color:#ffffff; " data-record-type="524" data-bg-color="#ffffff">
        <!-- t524 -->
        <div class="t524">
            <div class="t-section__container t-container">
                <div class="t-col t-col_12">
                    <div class="t-section__topwrapper t-align_center">
                        <div class="t-section__title t-title t-title_xs" field="btitle">Менторы</div>
                        <!--<div class="t-section__descr t-descr t-descr_xl t-margin_auto" field="bdescr">Профессионалы окажут поддержку и помогут в проработке ваших проектов</div>-->
                    </div>
                </div>
            </div>
            <div class="t524__container t-container">
<?php $num_item = 0; } ?>