<?php
global $form, $_CORE;
if (empty($form['from_auth'])) $form['from_auth'] = $_SESSION['SESS_AUTH']['ID'];

// скроем от пользователей удаленные
if (!$_CORE->IS_ADMIN && !empty($form['hidden'])) {

    echo '<div class="alert alert-danger alert-dismissable">Данные удалены<button type="button" class="close" data-dismiss="alert" aria-hidden="true">х</button></div>';

} else {

    ?>
    <div class="content-panel">

        <?= (!empty($_KAT['ERROR'])) ? '<p class="alert alert-warning">' . @nl2br($_KAT['ERROR']) . '</p>' : '' ?>

        <form class="form form-horizontal style-form" id="docs_rootForm" autocomplete="off" method=post
              enctype="multipart/form-data" name='db_form'>


            <table border=0 width='100%' cellspacing=0 cellpadding=0 class="form">
                <tbody class="t431__tbody">
                <?php $_KAT['cForm']->Form_TD_title['class'] = "t431__td td-18"; ?>
                <?php $_KAT['cForm']->Form_TD_val['class'] = "t431__td td-75 padding-right"; ?>
                <?php $_KAT['cForm']->Body_print(); ?>
                </tbody>
            </table>

            <table width="100%" border="0" cellpadding="0" cellspacing="0" class=" form"
                   style="margin-top:20px">
                <tr>
                    <td colspan="3" class="sep">
                        <div class="sep">
                            <spacer type="block" width="1" height="1"></spacer>
                        </div>
                    </td>
                </tr>
                <tr>
                    <input type="hidden" name="apply" value="0">
                    <input type="hidden" name="submit_x" value="1">
                    <td width="30%" class="tdleft"><input type=submit name="submit"
                                                          class="t-submit btn btn-primary btn-info btn-large"
                                                          value="Сохранить"></td>
                    <td width="40%">&nbsp; &nbsp;</td>
                    <td width="30%" class="tdright" align="right">
                        <input type="reset" value="Отменить" class="t-submit btn btn-warning btn-large btn-block" ">
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <script>

        $(document).ready(function() {

            $("#docs_rootForm").validate({
                rules: {
                    'form[name]': {
                        required: true,
                        rangelength: [3, 255]
                    },
                    'sizedoc':{
                        required: true
                    },
                    'typedoc':{
                        required: true
                    },
                },
                messages: {
                    'form[name]': {
                        required: "Заполните это поле",
                        rangelength: "Введите от 3 до 255 символов"
                    },
                    'sizedoc': {
                        required: "<br>Максимально допустимый размер файла: 10 МБ"
                    },
                    'typedoc': {
                        required: "<br>Допустимые типы файлов: .pdf"
                    },
                }
            });
            $('#docs_rootForm input[type=file]').hide();

            $('#docs_rootForm input[type=file]').each(function (index, el){
                // Для каждого элемента сохраняем значение в personsIdsArray,
                // если значение есть.
                $(el).after('<div class="load_file btn t-submit">Обзор...</div><input type="text" name="f_name" class="t-input load_file_name" value="Файл не выбран.">');
                // console.log('файл не загружен');
                $(el).next().next().after('<input type="text" class="sizedoc" name="sizedoc" value=""><input type="text" class="typedoc sizedoc" name="typedoc" value="1">');
            });

            $('#docs_rootForm .load_file').click(function(){
                $(this).prev('input[type=file]').click();
                return false;
            });
            $('#docs_rootForm input[type=file]').change(function() {
                if($(this).get(0).files.length > 0){
                    var f_name = [];
                    for (var i = 0; i < $(this).get(0).files.length; ++i) {
                        f_name.push($(this).get(0).files[i].name);
                        if(!validateSize(this)){
                            $(this).next().next().next('input.sizedoc').val('');
                            console.log('файл слишком большой');
                        }else{
                            $(this).next().next().next('input.sizedoc').val('1');
                            console.log('файл можно загружать');
                        }
                        if(!validateType($(this).get(0).files[i].name)){
                            $(this).next().next().next().next('input.typedoc').val('');
                            console.log('не разрешенный тип данных');
                        }else{
                            $(this).next().next().next().next('input.typedoc').val('1');
                            console.log('тип файл разрешен можно загружать');
                        }
                    }
                    $(this).next().next('input.load_file_name').val(f_name.join(", "));
                }else{
                    $(this).next().next('input.load_file_name').val('Файл не выбран.');
                    $(this).next().next().next('input.sizedoc').val('');
                    $(this).next().next().next().next('input.typedoc').val('1');
                    console.log('файл не загружен');
                }
            });

        });

    </script>
<? } ?>