<?php if ($kat_search_res > 0) { ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="t585__border" style="height: 1px; background-color: #eee;"></div>
</div>
<?php } ?>
<?php if($_KAT[$_KAT['KUR_ALIAS']]['PERM']['ue'] == '0'){ ?>
<div class="t-col t-col_8 t-prefix_2">
    <div class="t585__accordion">
        <div class="t585__wrapper">
            <div class="t585__header" style=" border-top: 1px solid #eee;">
                <div class="t585__title t-name t-name_xl" >
                    <?php if($cur_stage == 2){ ?>
                        Загрузить файл по итогам 1-го очного модуля<br>
                        <span class="t-text t-text_xs">Необходимо загрузить до 27 октября 23:59 (по Мск)</span>
                    <?php }else{ ?>
                        Загрузить файл
                    <?php } ?>
                </div>
                <div class="t585__icon">
                    <div class="t585__lines">
                        <svg width="24px" height="24px" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                               stroke-linecap="square">
                                <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                    <path d="M0,11 L22,11"></path>
                                    <path d="M11,0 L11,22"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="t585__circle" style="background-color: transparent;"></div>
                </div>
                <div class="t585__icon t585__icon-hover">
                    <div class="t585__lines">
                        <svg width="24px" height="24px" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                               stroke-linecap="square">
                                <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                    <path d="M0,11 L22,11"></path>
                                    <path d="M11,0 L11,22"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="t585__circle" style="background-color: #eee;"></div>
                </div>
            </div>
            <div class="t585__content">
                <div class="t585__textwrapper">
                    <div class="t585__text t-descr t-descr_xs" >
                        <?php $_GET['edit'] = 1; ?>
                        <?= cmd('db/docs_root/add', true, false);?>
                        <?php unset($_GET['edit']); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="t585__border" style="height: 1px; background-color: #eee;"></div>
</div>
<?php } ?>