<?php if (!empty($data["doc"]) && is_file($FORM_DATA["doc"]["abspath"]."/".$data["doc"])){  ?>
<?php
    if(!$show_head ) {
        if ($_CONF['settings']['stage1_off'] > '0000-00-00') {
            // идет этап 1 ?
            if ($stage < 1 && $data['ts'] <= $_CONF['settings']['stage1_off']) {
                $stage = 1;
                $show_head = true;
                $num_f = 0;
            } // закончился этап 1 ?
            elseif ($stage < 2 && $data['ts'] > $_CONF['settings']['stage1_off']) {
                $stage = 2;
                $show_head = true;
                $num_f = 0;
            }
        }else {
            if ($stage < 1) {
                $stage = 1;
                $show_head = true;
                $num_f = 0;
            }
        }
        // закончился этап 2 ?
        if ($stage < 3 && $data['ts'] >= '2019-11-25') {
            $stage = 3;
            $show_head = true;
            $num_f = 0;
        }
        if ( $data['ts'] > '2019-12-06') {
            $stage = 4;
            $show_head = true;
            $num_f = 0;
        }

    }
    $num_f++;
?>
<?php if($show_head){  ?>
    <?php if(!$first){ ?>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="t585__border" style="height: 1px; background-color: #eee;"></div>
        </div>
    <?php } $first = false; ?>
        <div class="t-col t-col_8 t-prefix_2">
        <div class="t585__accordion">
        <div class="t585__wrapper">
        <div class="t585__header <?=($cur_stage == $stage)?'t585__opened':''?>" style=" border-top: 1px solid #eee;">
            <div class="t585__title t-name t-name_xl" >
                <?php if($stage == 2){ ?>
                    Презентация по итогам 1-го очного модуля
                <?php }elseif($stage == 3){ ?>
                    Файлы по итогам онлайн-работы с менторами
                <?php }elseif($stage == 4){ ?>
                    Файлы по итогам 2-го очного модуля
                <?php }else{ ?>
                    Файлы до первого очного модуля
                <?php } ?>
            </div>
            <div class="t585__icon">
                <div class="t585__lines">
                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                           stroke-linecap="square">
                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                <path d="M0,11 L22,11"></path>
                                <path d="M11,0 L11,22"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="t585__circle" style="background-color: transparent;"></div>
            </div>
            <div class="t585__icon t585__icon-hover">
                <div class="t585__lines">
                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                           stroke-linecap="square">
                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                <path d="M0,11 L22,11"></path>
                                <path d="M11,0 L11,22"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="t585__circle" style="background-color: #eee;"></div>
            </div>
        </div>
        <div class="t585__content" style="<?=($cur_stage == $stage)?'display: block;':''?>">
        <div class="t585__textwrapper">
        <div class="t585__text t-descr t-descr_xs" >
    <?php if($stage == 3){ ?>
            До 6 декабря 23:59 (по Мск) необходимо загрузить:
            <ul>
                <li>Презентация по итогам онлайн-работы с менторами</li>
                <li>Тайминг реализации проекта</li>
                <li>Медиа-план</li>
                <li>Описание функционала команды</li>
            </ul>
    <?php }elseif($stage == 4){ ?>
            До 10 декабря 23:59 (по Мск) необходимо загрузить:
            <ul>
                <li>Презентация по итогам 2 очного модуля</li>
                <li>Тайминг реализации проекта по итогам 2 очного модуля</li>
                <li>Медиа-план по итогам 2 очного модуля</li>
                <li>Описание функционала команды по итогам 2 очного модуля</li>
                <li>Бизнес-план</li>
            </ul>
    <?php } ?>
        <?php $show_head = false; ?>
    <?php } ?>
    <?php $f_size = FILE::f_size(filesize($FORM_DATA["doc"]["abspath"]."/".$data["doc"]),0);  ?>
    <?php $f_ext = substr($data["doc"],strripos($data["doc"],'.'));  ?>
    <?= $num_f?>. <a href="<?=$FORM_DATA["doc"]["path"]."/".$data["doc"]?>" target="_blank"><?= $data['name']?></a>  (<?=$f_ext;?> <?=$f_size;?>)
    <?php if( $_KAT[$_KAT['KUR_ALIAS']]['PERM']['ue'] == '0' && $stage == $cur_stage ){ ?>
    <a href="/empty/db/docs_root/<?= $data['alias']?>?hide" class="docs_del">Удалить</a>
    <?php } ?><br>
<?php }else{
    $kat_search_res --;
} ?>