<div id="rec111869372" class="r t-rec t-rec_pt_45 t-rec_pb_45" style="padding-top:45px;padding-bottom:45px; "
     data-record-type="47"><!-- T033 -->
    <div class="t033">
        <div class="t-container">
            <div class="t-col t-col_3 t-prefix_1 ">
                <div class="t033__lineTop"></div>
                <div class="t033__title t-title" style="" field="title">
                    <a href="/db/projects/<?=$data['alias']?>">
                    <strong>"<?=$data['name']?>"</strong></a><br>
                    <?php
                    if($data['status']< 0 ) $project_status = '#ff0000';
                    if($data['status']== 1 ) $project_status = '#cccccc';
                    if($data['status'] > 1 ) $project_status = '#269626';
                    ?>
                    <div class="t-descr t-descr_xs">
                    Статус: <strong style="color: <?= $project_status?>;">
                                <?= $FORM_DATA['status']['arr'][$data['status']]?>
                            </strong>
                    </div>
                </div>
            </div>
            <div class="t-col t-col_6 ">
                <div class="t033__descr t-descr t-descr_xl" style="" field="text"><?= nl2br($data['anons'])?><br/>
                </div>
            </div>
        </div>
    </div>
</div>