<div id="rec111870207" class="r t-rec t-rec_pt_60 t-rec_pb_30" data-record-type="33"><!-- T017 -->
    <div class="t017">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <h2 class="t017__title t-title t-title_xxs" field="title">Проекты номинации "<?= SQL::getval('name',DB_TABLE_PREFIX.'nominations',"alias = '{$_SESSION['SESS_AUTH']['ALL']['nomination_id']}'")?>"</h2>
            </div>
        </div>
    </div>
</div>