<div id="rec111862431" class="r t-rec t-rec_pt_120 t-rec_pb_0"
     data-record-type="795"><!-- T795 -->
    <div class="t795">
        <div class="t-container t-align_left">
            <div class="t-col t-col_10 t-prefix_1">
                <div class=""  style="">
                    <a href="/cabinet/#project">Вернуться к списку проектов номинации</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rec111862431" class="r t-rec t-rec_pt_60 t-rec_pb_0"
     data-record-type="795"><!-- T795 -->
    <div class="t795">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">
                    Проект "<?=$form['name']?>"
                </div>
                <div class="t795__descr t-descr t-descr_xl t-margin_auto" field="descr" style="">Код проекта #<?=$form['alias']?><br></div>
            </div>
        </div>
    </div>
</div>
<!-- Статус проекта -->
<div class="r t-rec t-rec_pt_30 t-rec_pb_0 r_anim r_showed" style="" data-record-type="296"><!-- t265 -->
    <div class="t265">
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t265__wrapper" style="background: #EBEBEB;">
                    <div class="t265__icon">
                        <svg x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;">
                            <?php
                            if($form['status']< 0 ) $project_status = '#ff0000';
                            if($form['status']== 1 ) $project_status = '#cccccc';
                            if($form['status'] > 1 ) $project_status = '#269626';
                            ?>
                            <circle style="fill:<?= $project_status?>;" cx="12.125" cy="12.125" r="12"></circle>
                            <g>
                                <path style="fill: #fff;" d="M10.922,6.486c0-0.728,0.406-1.091,1.217-1.091s1.215,0.363,1.215,1.091c0,0.347-0.102,0.617-0.304,0.81 c-0.202,0.193-0.507,0.289-0.911,0.289C11.328,7.585,10.922,7.219,10.922,6.486z M13.252,17.792h-2.234V9.604h2.234V17.792z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="t265__text t-descr t-descr_xs" style="" field="text">
                        <?= $FORM_DATA['status']['arr'][$form['status']]?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rec111865744" class="r t-rec t-rec_pt_60 t-rec_pb_120" style=""
     data-animationappear="off" data-record-type="585"><!-- T585-->
    <div class="t585">
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t585__accordion">
                    <div class="t585__wrapper">
                        <div class="t585__header" style=" border-top: 1px solid #eee;">
                            <div class="t585__title t-name t-name_xl" field="li_title__1562564105637" style="">
                                Краткое описание
                            </div>
                            <div class="t585__icon">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: transparent;"></div>
                            </div>
                            <div class="t585__icon t585__icon-hover">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: #eee;"></div>
                            </div>
                        </div>
                        <div class="t585__content">
                            <div class="t585__textwrapper">
                                <div class="t585__text t-descr t-descr_xs" field="li_descr__1562564105637" style="">
                                    <?=nl2br($form['anons'])?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t585__accordion">
                    <div class="t585__wrapper">
                        <div class="t585__header" style=" border-top: 1px solid #eee;">
                            <div class="t585__title t-name t-name_xl" field="li_title__1489600117321" style="">
                                Полное описание
                            </div>
                            <div class="t585__icon">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: transparent;"></div>
                            </div>
                            <div class="t585__icon t585__icon-hover">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: #eee;"></div>
                            </div>
                        </div>
                        <div class="t585__content">
                            <div class="t585__textwrapper">
                                <div class="t585__text t-descr t-descr_xs" field="li_descr__1489600117321" style="">
                                    <?=nl2br($form['cont'])?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t585__accordion">
                    <div class="t585__wrapper">
                        <div class="t585__header" style=" border-top: 1px solid #eee;">
                            <div class="t585__title t-name t-name_xl" field="li_title__1489600117321" style="">
                                Команда
                            </div>
                            <div class="t585__icon">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: transparent;"></div>
                            </div>
                            <div class="t585__icon t585__icon-hover">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: #eee;"></div>
                            </div>
                        </div>
                        <div class="t585__content">
                            <div class="t585__textwrapper">
                                <div class="t585__text t-descr t-descr_xs" field="li_descr__1489600117321" style="">
                                    <?= project_group($form['alias']); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php if($docs = project_docs($form['alias'],1)){ ?>
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t585__accordion">
                    <div class="t585__wrapper">
                        <div class="t585__header" style=" border-top: 1px solid #eee;">
                            <div class="t585__title t-name t-name_xl" field="li_title__1489600117321" style="">
                                Файлы (1-я стадия)
                            </div>
                            <div class="t585__icon">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: transparent;"></div>
                            </div>
                            <div class="t585__icon t585__icon-hover">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: #eee;"></div>
                            </div>
                        </div>
                        <div class="t585__content">
                            <div class="t585__textwrapper">
                                <div class="t585__text t-descr t-descr_xs" field="li_descr__1489600117321" style="">
                                    <?= $docs; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php } ?>
            <?php if ($_CONF['settings']['stage1_off'] > '0000-00-00') {
            // идет этап 2 ?
            if ( date('Y-m-d') > $_CONF['settings']['stage1_off']) { ?>
                <?php if($docs = project_docs($form['alias'],2)){ ?>
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t585__accordion">
                    <div class="t585__wrapper">
                        <div class="t585__header" style=" border-top: 1px solid #eee;">
                            <div class="t585__title t-name t-name_xl" field="li_title__1489600117321" style="">
                                Файлы (2-я стадия)
                            </div>
                            <div class="t585__icon">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: transparent;"></div>
                            </div>
                            <div class="t585__icon t585__icon-hover">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: #eee;"></div>
                            </div>
                        </div>
                        <div class="t585__content">
                            <div class="t585__textwrapper">
                                <div class="t585__text t-descr t-descr_xs" field="li_descr__1489600117321" style="">
                                    <?= $docs; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php } } } ?>
            <?php if ($_CONF['settings']['stage2_off'] > '0000-00-00') {
                // идет этап 2 ?
                if ( date('Y-m-d') > $_CONF['settings']['stage2_off']) { ?>
                    <?php if($docs = project_docs($form['alias'],3)){ ?>
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t585__accordion">
                    <div class="t585__wrapper">
                        <div class="t585__header" style=" border-top: 1px solid #eee;">
                            <div class="t585__title t-name t-name_xl" field="li_title__1489600117321" style="">
                                Файлы (3-я стадия)
                            </div>
                            <div class="t585__icon">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: transparent;"></div>
                            </div>
                            <div class="t585__icon t585__icon-hover">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: #eee;"></div>
                            </div>
                        </div>
                        <div class="t585__content">
                            <div class="t585__textwrapper">
                                <div class="t585__text t-descr t-descr_xs" field="li_descr__1489600117321" style="">
                                    <?= $docs; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php } } } ?>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        t585_init('111865744');
    });
</script>