<?php
global $_LANGUAGE; 
$_LANGUAGE['db']['menu_name'] = 'Каталоги';
$_LANGUAGE['db']['youtubecode'] = 'V-параметр YouTube';
$_LANGUAGE['db']['basket'] = 'Заказы';
$_LANGUAGE['db']['empty_basket'] = 'У вас отсутствуют заказы';
$_LANGUAGE['db']['settings'] = 'Настройки сайта';
$_LANGUAGE['db']['opcii'] = 'Опции';
$_LANGUAGE['db']['redact'] = 'Редактировать';
$_LANGUAGE['db']['add'] = 'Добавить';
$_LANGUAGE['db']['del'] = 'Удалить';
$_LANGUAGE['db']['import'] = 'Импортировать';
$_LANGUAGE['db']['del_all'] = 'Удалить ВСЕ!';
$_LANGUAGE['db']['vy_uvereny_del'] = 'Вы уверены что хотите удалить запись ?';
$_LANGUAGE['db']['vy_uvereny_del_all'] = 'Вы уверены что хотите удалить ВСЕ записи ?';
$_LANGUAGE['db']['opisanie_foto'] = 'Описание фотографии:';
$_LANGUAGE['db']['save'] = 'Сохранить';
$_LANGUAGE['db']['zagruzka_vyp_zagr'] = 'Загрузка файлов выполнена, загружено';
$_LANGUAGE['db']['file'] = 'файла(ов)';
$_LANGUAGE['db']['zagruzka_ne_vyp'] = 'Загрузка не выполнена , ';
$_LANGUAGE['db']['error'] = 'ошибка(ки)';
$_LANGUAGE['db']['data_edit'] = 'данные изменены';
$_LANGUAGE['db']['rec_del'] = 'Запись была успешно удалена.<p>';
$_LANGUAGE['db']['rec_not_del'] = 'Запись не была удалена попробуйте позже или обратитесь к администратору.<p>';
$_LANGUAGE['db']['import_tabl'] = '<b>Импортированно</b><br> Таблица: ';
$_LANGUAGE['db']['tabl_add'] = '. (добавлено ';
$_LANGUAGE['db']['tabl_upd'] = ' обновлено ';
$_LANGUAGE['db']['obrab_vhodnyh_dannyh'] = '<br>Обработка входных данных не была произведена, обратитесь к разработчикам.<p>';
$_LANGUAGE['db']['vyvod_vhodnyh_dannyh'] = 'Вывод данных не был произведен, обратитесь к разработчикам.<p>';
$_LANGUAGE['db']['tabl_clear'] = 'Таблица очищена. <p>';
$_LANGUAGE['db']['tabl_not_clear'] = 'Таблица не очищена, обратитесь к разработчикам.<p>';
$_LANGUAGE['db']['adress'] = 'Адрес';
$_LANGUAGE['db']['alias'] = 'Алиас';
$_LANGUAGE['db']['off'] = 'Отключен';
$_LANGUAGE['db']['title'] = 'Заголовок';
$_LANGUAGE['db']['teg'] = 'Теги';
$_LANGUAGE['db']['data'] = 'Дата';
$_LANGUAGE['db']['link'] = 'Ссылка';
$_LANGUAGE['db']['people'] = 'Люди';
$_LANGUAGE['db']['position'] = 'Должность';
$_LANGUAGE['db']['contacts'] = 'Контакты';
$_LANGUAGE['db']['auth_about'] = 'О себе';
$_LANGUAGE['db']['about'] = 'Полное описание';
$_LANGUAGE['db']['foto'] = 'Фотография';
$_LANGUAGE['db']['scrin'] = 'Скриншот';
$_LANGUAGE['db']['add_file'] = 'Прикрепить файл';
$_LANGUAGE['db']['ne_publ'] = 'Не публиковать';
$_LANGUAGE['db']['name'] = 'Название';
$_LANGUAGE['db']['icon'] = 'Иконка';
$_LANGUAGE['db']['picture'] = 'Изображение';
$_LANGUAGE['db']['pictures2'] = 'Изображения с комментариями';
$_LANGUAGE['db']['name_org'] = 'Наименование организации';
$_LANGUAGE['db']['contact_person'] = 'Контактное лицо';
$_LANGUAGE['db']['email'] = 'E-mail';
$_LANGUAGE['db']['www'] = 'Адрес сайта';
$_LANGUAGE['db']['site'] = 'Ваш сайт';
$_LANGUAGE['db']['tel'] = 'Телефон';
$_LANGUAGE['db']['mess'] = 'Сообщение';
$_LANGUAGE['db']['pismo'] = 'Письмо';
$_LANGUAGE['db']['avatar'] = 'Аватар';
$_LANGUAGE['db']['city'] = 'Город';
$_LANGUAGE['db']['level'] = 'Уровень должности';
$_LANGUAGE['db']['industry'] = 'Индустрия';
$_LANGUAGE['db']['requirements'] = 'Требования';
$_LANGUAGE['db']['compens'] = 'Компенсационный пакет';
$_LANGUAGE['db']['code'] = 'Код (параметр v в строке)';
$_LANGUAGE['db']['code_for_init'] = 'Код для инициализации';
$_LANGUAGE['db']['news'] = 'Новости';
$_LANGUAGE['db']['blog'] = 'Блог';
$_LANGUAGE['db']['aliases'] = 'Алиасы';
$_LANGUAGE['db']['obsv'] = 'Обратная связь';
$_LANGUAGE['db']['forums'] = 'Обсуждения';
$_LANGUAGE['db']['blogs'] = 'Блоги пользователей';
$_LANGUAGE['db']['add_blog'] = 'Разрешить вести блог';
$_LANGUAGE['db']['pictures'] = 'Изображения';
$_LANGUAGE['db']['files'] = 'Файлы';
$_LANGUAGE['db']['vacancies'] = 'Вакансии';
$_LANGUAGE['db']['forum'] = 'Обсуждение';
$_LANGUAGE['db']['users'] = 'Пользователи';
$_LANGUAGE['db']['mes1'] = 'январь';
$_LANGUAGE['db']['mes2'] = 'февраль';
$_LANGUAGE['db']['mes3'] = 'март';
$_LANGUAGE['db']['mes4'] = 'апрель';
$_LANGUAGE['db']['mes5'] = 'май';
$_LANGUAGE['db']['mes6'] = 'июнь';
$_LANGUAGE['db']['mes7'] = 'июль';
$_LANGUAGE['db']['mes8'] = 'август';
$_LANGUAGE['db']['mes9'] = 'сентябрь';
$_LANGUAGE['db']['mes10'] = 'октябрь';
$_LANGUAGE['db']['mes11'] = 'ноябрь';
$_LANGUAGE['db']['mes12'] = 'декабрь';
$_LANGUAGE['db']['time'] = 'Время';
$_LANGUAGE['db']['tema'] = 'Тема';
$_LANGUAGE['db']['your_name'] = 'Ваше имя';
$_LANGUAGE['db']['from'] = 'Ссылка на статью';
$_LANGUAGE['db']['dostup_zakryt'] = 'Доступ закрыт';
$_LANGUAGE['db']['modul_ne_nastroen'] = 'Модуль обсуждения не настроен или не подключен.';
$_LANGUAGE['db']['spisok'] = 'Список';
$_LANGUAGE['db']['install_module_kat'] = 'Инсталяция модуля "Каталог"';
$_LANGUAGE['db']['numers'] = 'Номера';
$_LANGUAGE['db']['inf_razd'] = 'Информационные разделы';
$_LANGUAGE['db']['arhiv'] = 'Архив';
$_LANGUAGE['db']['today'] = 'Сегодня';
$_LANGUAGE['db']['otprav_rezume'] = 'Отправить резюме';
$_LANGUAGE['db']['not_fnd'] = 'Ничего не найдено';
$_LANGUAGE['db']['norm_akts'] = 'Нормативные акты';
$_LANGUAGE['db']['konkursy'] = 'Конкурсы и объявления';
$_LANGUAGE['db']['norm_akts_not_fnd'] = 'Нормативных актов не найдено!';
$_LANGUAGE['db']['konkursy_not_fnd'] = 'Конкурсы и объявления не найдены!';
$_LANGUAGE['db']['questions'] = 'Вопросы власти';
$_LANGUAGE['db']['ask_questions'] = 'Задать власти вопрос';
$_LANGUAGE['db']['prj_zdravohranenie'] = 'Современное здравоохранение';
$_LANGUAGE['db']['prj_obrazovanie'] = 'Качественное образование';
$_LANGUAGE['db']['prj_hozyaystvo'] = 'Эффективное сельское хозяйство';
$_LANGUAGE['db']['prj_live'] = 'Доступное и комфортное жилье';
$_LANGUAGE['db']['arhiv_not_fnd'] = 'Материлов не найдено';
$_LANGUAGE['db']['multizagr'] = 'Мультизагрузка';
$_LANGUAGE['db']['dir'] = 'Каталог';
$_LANGUAGE['db']['module_tabl'] = 'Модуль таблиц уникальной структуры данных.';
$_LANGUAGE['db']['file_not_fnd'] = 'Файл не найден.';
$_LANGUAGE['db']['wrong_del'] = 'Неверный разделитель (не из списка).';
$_LANGUAGE['db']['not_set_mechanism'] = 'Не настроен механизм импорта, для данного каталога.';
$_LANGUAGE['db']['wrong_kat'] = 'Неверный или не существует каталог для импорта.';
$_LANGUAGE['db']['adding'] = 'добавление.';
$_LANGUAGE['db']['v_INS_ne_proshel'] = 'в INS не прошел, должно было быть обновление';
$_LANGUAGE['db']['data_saved'] = 'Данные сохранены';
$_LANGUAGE['db']['pages'] = 'Страницы:';
$_LANGUAGE['db']['not_type_field'] = 'Не поддерживаемый тип поля: $value[type] ($value[field_name]), пропущено.<BR>';
$_LANGUAGE['db']['partner'] = 'Участвует в партнерской программе?';
$_LANGUAGE['db']['partner_percent'] = 'Сколько % получит партнер';
$_LANGUAGE['db']['change'] = 'Заменить';
$_LANGUAGE['db']['download'] = 'Скачать загруженый';
$_LANGUAGE['db']['select_file'] = 'Выбрать файл';
