<?php if (sizeof($_KAT['SEARCH_RES']) > 0) { ?>
<div id="rec111478653" class="r t-rec t-rec_pt_90 t-rec_pb_0" style="padding-top:90px;padding-bottom:0px; " data-record-type="795" >
    <!-- T795 -->
    <div class="t795">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">
                    Сегодня трансляция
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rec111478151" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px; " data-record-type="251" >
    <!-- T223 -->
    <div class="t223">
        <div class="t-container">
<?php } $num = 0; ?>