<?php if (sizeof($_KAT['SEARCH_RES']) > 0) { ?>
</div>
</div>
<script type="text/javascript">$(document).ready(function () {
        var div = $("#rec111478151").find(".t-video-lazyload");
        var iframe = div.find('iframe');
        var height = div.width() * 0.5625;
        div.height(height);
        iframe.height(height);
        $('.t223').bind('displayChanged', function () {
            height = div.width() * 0.5625;
            div.height(height);
            iframe.height(height);
        });
        $(window).bind('scroll', t_throttle(function () {
            height = div.width() * 0.5625;
            div.height(height);
            iframe.height(height);
        }, 200));
    });
</script>
</div>
<?php } ?>