<?php global $form; ?>
<div id="rec111862120" class="r t-rec t-rec_pt_60 t-rec_pb_30"
     data-record-type="795"><!-- T795 -->
    <div class="t795">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">
                    Объявление участникам номинации</div>
            </div>
        </div>
    </div>
</div>

<div id="rec111861867" class="r t-rec t-rec_pt_0 t-rec_pb_60"
     data-record-type="431"><!-- t431 --><!--color5 — table head border color-->
    <div class="t431">
        <div class="t-container">
            <div class="t-col t-col_10 t-prefix_1 t431__tdscale_1 t-text t-text_sm t-align_left ">
                <div class="t431__wrapper-for-mobile">
                    <div class="t431__table-wapper" data-auto-correct-mobile-width="false">
                        <table class="t431__table " style="">
                            <tbody class="t431__tbody">
                            <tr class="t431__oddrow" colspan="2" style="background: #ffffff">
                                <td class="t431__td"
                                    style="width:25vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                    Текст объявления:
                                </td>
                                <td class="t431__td"
                                    style="width:75vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                    <?= nl2br($form['notification']);?>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="t142" style="padding-top:60px;padding-bottom:0px; ">
            <div class="t-container_100">
                <div class="t142__wrapone">
                    <div class="t142__wraptwo"><a
                                onclick="$('#rec111861867 .t431:first').hide();$('#rec111861867 .t431:eq(1)').show(); return false;"
                                target="" class="">
                            <div class="t-btn t142__submit "
                                 style="color:#000000;border:3px solid #000000;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;">
                                Редактировать
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="t431 t431_form" style="display: none;">
        <div class="t-container">
            <div class="t-col t-col_10 t-prefix_1 t431__tdscale_1 t-text t-text_sm t-align_left ">
                <div class="t431__wrapper-for-mobile">
                    <div class="t431__table-wapper" data-auto-correct-mobile-width="false">
                        <?php $_GET['edit'] = 1; ?>
                        <?= cmd('db/nominations/' . $_SESSION['SESS_AUTH']['ALL']['nomination_id'], false, true); ?>
                        <?php unset($_GET['edit']); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#nominations').off('submit', '#nominationsForm').on('submit','#nominationsForm',function (e) {
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
        var $form = $(this);
        // создадим объект данных формы
        formData = new FormData($form.get(0));

        $.ajax({
            contentType: false, // важно - убираем форматирование данных по умолчанию
            processData: false, // важно - убираем преобразование строк по умолчанию
            type: 'post',
            url: '/empty/db/nominations/<?=$_SESSION['SESS_AUTH']['ALL']['nomination_id'];?>?edit&ajax_data',
            data: formData
        }).done(function (data) {
            console.log('success');
            $(document).off('submit','#nominationsForm');
            $('#nominations').html(data);

        }).fail(function (jqXHR, textStatus) {
            //alert( "Request failed: " + textStatus );
            console.log("Request failed: " + textStatus);
            console.log(data);
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
    });
    $('#nominations').off('click', 'input[type=reset]').on('click','input[type=reset]',function (e) {
        $('#rec111861867 .t431:eq(1)').hide();
        $('#rec111861867 .t431:first').show();
    });
</script>