<?php if (!isset($_GET['ajax_data'])) { ?>
<section id="cabinet_project">
<?php } ?>
<div id="rec111862431" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px; "
     data-record-type="795"><!-- T795 -->
    <div class="t795">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">Проект
                </div>
            </div>
        </div>
    </div>
</div>

    <?php if ( $_CONF['settings']['stage1_off'] > '0000-00-00' &&
                date('Y-m-d')> $_CONF['settings']['stage1_off']) { ?>
        <div id="rec111861867" class="r t-rec t-rec_pt_30 t-rec_pb_30 r_anim r_showed" style="padding-top:30px;padding-bottom:30px; " data-record-type="296"><!-- t265 -->
            <div class="t265">
                <div class="t-container">
                    <div class="t-col t-col_8 t-prefix_2">
                        <div class="t265__wrapper" style="background: #EBEBEB;">
                            <div class="t265__icon">
                                <svg x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;">
                                    <circle style="fill:#ff0000;" cx="12.125" cy="12.125" r="12"></circle>
                                    <g>
                                        <path style="fill: #fff;" d="M10.922,6.486c0-0.728,0.406-1.091,1.217-1.091s1.215,0.363,1.215,1.091c0,0.347-0.102,0.617-0.304,0.81 c-0.202,0.193-0.507,0.289-0.911,0.289C11.328,7.585,10.922,7.219,10.922,6.486z M13.252,17.792h-2.234V9.604h2.234V17.792z"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="t265__text t-descr t-descr_xs" style="" field="text">
                                Регистрация проектов завершена
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <?php } ?>
<div id="rec111861867" class="r t-rec t-rec_pt_30 t-rec_pb_30 r_anim r_showed" style="padding-top:30px;padding-bottom:30px; " data-record-type="296"><!-- t265 -->

    <?php if(!empty($_SESSION['SESS_AUTH']['ALL']['code_project'])){ ?>
        <?php $pr_name = SQL::getval('name', DB_TABLE_PREFIX.'projects',"alias = '". $_SESSION['SESS_AUTH']['ALL']['code_project']."'", "LIMIT 1");?>
        <?php if(!empty($pr_name)){ ?>
            <div class="t265">
                <div class="t-container">
                    <div class="t-col t-col_8 t-prefix_2">
                        <div class="t265__wrapper" style="background: #EBEBEB;">
                            <div class="t265__text t-descr t-descr_xs" style="" field="text">

                                Вы подали заявку на подключение к проекту <span style="font-weight: 600;">"<?= $pr_name;?>"</span><br>
                                <?php if($_SESSION['SESS_AUTH']['ALL']['role_project']== '10'){ ?>
                                    Ваша заявка отклонена лидером проекта
                                <?php } ?>
                                <?php if($_SESSION['SESS_AUTH']['ALL']['role_project']== '0'){ ?>
                                    Ожидайте рассмотрения заявки лидером проекта
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <?php } ?>
    <?php } ?>
</div>
<div id="rec111865744" class="r t-rec t-rec_pt_0 t-rec_pb_0"
     data-animationappear="off" data-record-type="585"><!-- T585-->
    <div class="form_successbox" style="display:none;">
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t-form__successbox t-text t-text_md">

                </div>
            </div>
        </div>
    </div>
    <div class="t585">
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t585__accordion">
                    <div class="t585__wrapper">
                        <div class="t585__header" style=" border-top: 1px solid #eee;">
                            <div class="t585__title t-name t-name_xl" field="li_title__1480611048442" style="">
                                Присоединиться к<?php if(!empty($pr_name)){ ?> другому<?php } ?> проекту
                            </div>
                            <div class="t585__icon">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: transparent;"></div>
                            </div>
                            <div class="t585__icon t585__icon-hover">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: #eee;"></div>
                            </div>
                        </div>
                        <div class="t585__content">
                            <div class="t585__textwrapper">
                                <div class="t678 t585__text t-descr t-descr_xs" field="li_descr__1480611048442">

                                    <form id="projects_joinForm" method="post" class="form">

                                        <div class="t-input-group t-input-group_ph" data-input-lid="1495040492013">
                                            <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no"
                                                 field="li_title__1495040492013" style="">
                                                Код проекта Вы можете получить у лидера вашей команды, который уже добавил в заявке описание проекта в своем личном кабинете
                                            </div>
                                            <div class="t-input-block">
                                                <input name="code_project" required type="text" class="t-input form-control">
                                                <div class="t-input-error">Обязательное поле</div>
                                            </div>
                                        </div>
                                        <div class="t-input-group t-input-group_cb">
                                            <div class="t-input-block">
                                                <label class="t-checkbox__control t-text t-text_xs">
                                                    <input type="checkbox" name="agree_normativ" required value="1"
                                                            class="t-checkbox" >
                                                    <div class="t-checkbox__indicator"></div>
                                                    Я ознакомился с <a href="polozheniia_po_programme_kulturnaia_initciativa_i_liderstvo_v_kreativnykh_industriiakh_2019.docx" target="_blank">положениями</a> по программе "Культурная инициатива/лидерство в креативных индустриях"</label>
                                                <div class="t-input-error"></div>
                                            </div>
                                        </div>
                                        <div class="t-form__submit">
                                            <input type="submit" value="Отправить" class="t-submit btn">
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php if ( $_CONF['settings']['stage1_off'] <= '0000-00-00' ||
            date('Y-m-d') <= $_CONF['settings']['stage1_off']) { ?>
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t585__accordion">
                    <div class="t585__wrapper">
                        <div class="t585__header" style=" border-top: 1px solid #eee;">
                            <div class="t585__title t-name t-name_xl" field="li_title__1562564105637" style="">
                                Создать свой проект
                            </div>
                            <div class="t585__icon">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: transparent;"></div>
                            </div>
                            <div class="t585__icon t585__icon-hover">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: #eee;"></div>
                            </div>
                        </div>
                        <div class="t585__content">
                            <div class="t585__textwrapper">
                                <div class="t678 t585__text t-descr t-descr_xs form" field="li_descr__1562564105637" style="">
                                    <?php $_GET['edit'] = 1;?>
                                    <?= cmd('db/projects/add', true, false); ?>
                                    <?php unset($_GET['edit']); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php } ?>
        </div>
    </div>
</div>
<?php
    if (isset($_GET['ajax_data'])) {
        die;
    }
?>
    <script type="text/javascript">
        $(document).ready(function () {
            t585_init('111865744');
        });
    </script>
</section>
<script>
    $('#cabinet_project').off('submit','#projects_joinForm').on('submit','#projects_joinForm',function (e) {

        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
        var $form = $(this);
        // создадим объект данных формы
        formData = new FormData($form.get(0));
            $.ajax({
                contentType: false, // важно - убираем форматирование данных по умолчанию
                processData: false, // важно - убираем преобразование строк по умолчанию
                type: 'post',
                url: '/empty/local/project_join',
                data: formData
            }).done(function (data) {
                console.log('success');
                document.location.href = "//<?= $_SERVER['SERVER_NAME']?>/cabinet#cabinet_project";
                if(data == 'ok'){
                    location.reload();
                    return false;
                }
                $('#cabinet_project .t-form__successbox').html(data);
                $('#cabinet_project .form_successbox').show(400);
                scrollToElement('cabinet_project');
                setTimeout(function(){
                    $('#cabinet_project .form_successbox').hide(400);
                    $('#cabinet_project .t-form__successbox').html('');
                }, 5000);

            }).fail(function (jqXHR, textStatus) {
                //alert( "Request failed: " + textStatus );
                console.log("Request failed: " + textStatus);
                console.log(jqXHR);

                $('#cabinet_project .t-form__successbox').html('Данные не удалось отправить.<br>Попробуйте еще раз через некоторое время');
                $('#cabinet_project .form_successbox').show(400);
                scrollToElement('cabinet_project');
                setTimeout(function(){
                    $('#cabinet_project .form_successbox').hide(400);
                    $('#cabinet_project .t-form__successbox').html('');
                }, 5000);
            });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
    });

    $('#cabinet_project').off('submit','#projectsForm').on('submit','#projectsForm',function (e) {

        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
        var $form = $(this);
        // создадим объект данных формы
        formData = new FormData($form.get(0));
        $.ajax({
            contentType: false, // важно - убираем форматирование данных по умолчанию
            processData: false, // важно - убираем преобразование строк по умолчанию
            type: 'post',
            url: '/empty/db/projects/add?edit&ajax_data',
            data: formData
        }).done(function (data) {
            console.log('success');
            document.location.href = "//<?= $_SERVER['SERVER_NAME']?>/cabinet#cabinet_project";
            location.reload();
            return false;
            $('#cabinet_project').html(data);
            scrollToElement('cabinet_project');

        }).fail(function (jqXHR, textStatus) {
            //alert( "Request failed: " + textStatus );
            console.log("Request failed: " + textStatus);
            console.log(data);
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
    });

</script>
