<?php if(empty($_SESSION['SESS_AUTH']['ALL']['notified'])){ ?>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script type="text/javascript">
    $(document).ready(function () {
            Swal.fire({
                position: 'top-center',
                html:
                    '<div class="t702__text-wrapper t-align_center"> <div class="t702__title t-title t-title_xxs" >Объявление</div> <div class="t702__descr t-descr t-descr_xs" style="">Срок подачи заявок продлен <strong>до 7 октября</strong>.<br><br>' +
                    'Обращаем ваше внимание на то, что в описание проекта вы можете добавить ссылки на презентацию проекта и видео-обращение, однако эта информация необязательна для подачи заявки</div> </div>',
                showConfirmButton: false
                //timer: 10000
            })
        })
</script>
    <?php SQL::upd(DB_TABLE_PREFIX.'auth_pers', "notified = notified + 1",'author_id = '.$_SESSION['SESS_AUTH']['ID']);
    $_SESSION['SESS_AUTH']['ALL']['notified'] = intval($_SESSION['SESS_AUTH']['ALL']['notified']) + 1;  ?>
<?php  } ?>
<?php /****** Меню НАЧАЛО ********/ ?>
<div id="rec111860548" class="r t-rec t-rec_pt_0" style="padding-top:0px;background-color:#000000; "
     data-animationappear="off" data-record-type="257" data-bg-color="#000000"><!-- T228 -->
    <div id="nav111860548marker"></div>
    <div class="t228__mobile">
        <div class="t228__mobile_container">
            <div class="t228__mobile_text t-name t-name_md" field="text">&nbsp;
                <a href="/"><img
                        src="/reimg/templates/def/img/logo_pink_new.png?x50"
                        class="t228__imglogomobile" imgfield="img"
                        style="max-width: 230px;width: auto; height: 50px; " alt=""></a></div>
            <div class="t228__burger"><span></span> <span></span> <span></span> <span></span></div>
        </div>
    </div>
    <div id="nav111860548" class="t228 t228__hidden t228__positionfixed "  style="background-color: rgba(0, 0, 0, 0); height: 100px; box-shadow: none;" data-bgcolor-hex="#000000" data-bgcolor-rgba="rgba(0,0,0,0.0)" data-navmarker="nav111860548marker" data-appearoffset="" data-bgopacity-two="100" data-menushadow="" data-bgopacity="0.0" data-bgcolor-rgba-afterscroll="rgba(0,0,0,1)" data-menu-items-align="right" data-menu="yes">
        <div class="t228__maincontainer " style="height:100px;">
            <div class="t228__padding40px"></div>
            <div class="t228__leftside">
                <div class="t228__leftcontainer">
                    <a href="/">
                        <img src="/templates/def/img/logo_pink_new.png"
                                class="t228__imglogo t228__imglogomobile" imgfield="img"
                             style="max-width: 250px;width: auto; height: 50px; " alt="">
                    </a>
                </div>
            </div>
            <div class="t228__centerside t228__menualign_right">
                <div class="t228__centercontainer">
                    <ul class="t228__list ">
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#person"
                                                       style="color:#ffffff;font-weight:600;letter-spacing:0.5px;"
                                                       data-menu-item-number="1">Личные данные</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#project"
                                                       style="color:#ffffff;font-weight:600;letter-spacing:0.5px;"
                                                       data-menu-item-number="2">Работа с проектом</a></li>
                        <?php if(!empty($nomination) && $_CONF['settings']['stage2_on'] > '0000-00-00' && date('Y-m-d') >= $_CONF['settings']['stage2_on'] ){ ?>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#working"
                                                       style="color:#ffffff;font-weight:600;letter-spacing:0.5px;"
                                                       data-menu-item-number="3">Работа в Номинации</a></li>
                        <?php } ?>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#docs"
                                                       style="color:#ffffff;font-weight:600;letter-spacing:0.5px;"
                                                       data-menu-item-number="4">Методические материалы</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#feedback"
                                                       style="color:#ffffff;font-weight:600;letter-spacing:0.5px;"
                                                       data-menu-item-number="5">Задать вопрос</a></li>
                    </ul>
                </div>
            </div>
            <div class="t228__rightside">
                <div class="t228__rightcontainer">
                    <div class="t228__right_buttons">
                        <div class="t228__right_buttons_wrap">
                            <div class="t228__right_buttons_but"><a href="/auth/logoff" target="" class="t-btn link_logoff"
                                                                    style="color:#000000;background-color:#ffffff;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;">
                                    <table style="width:100%; height:100%;">
                                        <tr>
                                            <td>Выход</td>
                                        </tr>
                                    </table>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t228__padding40px"></div>
        </div>
    </div>
    <style>@media screen and (max-width: 980px) {
            #rec111860548 .t228__leftcontainer {
                padding: 20px;
            }
        }

        @media screen and (max-width: 980px) {
            #rec111860548 .t228__imglogo {
                display: none;
                padding: 20px 0;
            }
        }</style>
    <script type="text/javascript"> $(document).ready(function() { t228_highlight(); t228_checkAnchorLinks('111860548'); });
        $(window).resize(function() { t228_setBg('111860548');
        });
        $(document).ready(function() { t228_setBg('111860548');
        }); $(document).ready(function() { t228_changebgopacitymenu('111860548'); $(window).bind('scroll', t_throttle(function(){t228_changebgopacitymenu('111860548')}, 200)); }); </script>
    <script type="text/javascript"> $(document).ready(function () {
            t228_highlight();
            t228_checkAnchorLinks('111860548');
        });
        $(window).resize(function () {
            t228_setBg('111860548');
        });
        $(document).ready(function () {
            t228_setBg('111860548');
        });
        $(document).ready(function () {
            $('.t228').removeClass('t228__beforeready');
            t228_appearMenu('111860548');
            $(window).bind('scroll', t_throttle(function () {
                t228_appearMenu('111860548')
            }, 200));
        }); </script>
    <script type="text/javascript"> $(document).ready(function () {
            t228_createMobileMenu('111860548');
        }); </script>
    <!--[if IE 8]>
    <style>#rec111860548 .t228 {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9000000', endColorstr='#D9000000');
    }</style><![endif]-->
</div>
<?php /****** Меню КОНЕЦ ********/ ?>
<?php /****** Верхний банер НАЧАЛО ********/ ?>
<div id="rec111860549" class="r t-rec t-rec_pt_0" style="padding-top:0px; " data-animationappear="off"
     data-record-type="204"><!-- cover -->
    <div class="t-cover" id="recorddiv111860549" bgimgfield="img"
         style="height:60vh; background-image: url(/templates/def/img/12mauro-mora-31-pOduwZGE-unsplash.jpg); ">
        <div class="t-cover__carrier" id="coverCarry111860549" data-content-cover-id="111860549"
             data-content-cover-bg="" data-content-cover-height="60vh" data-content-cover-parallax=""
             style="height:60vh;background-attachment:scroll; "></div>
        <div class="t-cover__filter"
             style="height:60vh;background-image: -moz-linear-gradient(top, rgba(<?= $_CONF['TOP_BANNER']['start_rgba']?>), rgba(<?= $_CONF['TOP_BANNER']['end_rgba']?>));background-image: -webkit-linear-gradient(top, rgba(<?= $_CONF['TOP_BANNER']['start_rgba']?>), rgba(<?= $_CONF['TOP_BANNER']['end_rgba']?>));background-image: -o-linear-gradient(top, rgba(<?= $_CONF['TOP_BANNER']['start_rgba']?>), rgba(<?= $_CONF['TOP_BANNER']['end_rgba']?>));background-image: -ms-linear-gradient(top, rgba(<?= $_CONF['TOP_BANNER']['start_rgba']?>), rgba(<?= $_CONF['TOP_BANNER']['end_rgba']?>));background-image: linear-gradient(top, rgba(<?= $_CONF['TOP_BANNER']['start_rgba']?>), rgba(<?= $_CONF['TOP_BANNER']['end_rgba']?>));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='<?= $_CONF['TOP_BANNER']['start_color']?>', endColorstr='<?= $_CONF['TOP_BANNER']['end_color']?>');"></div>
        <div class="t-container">
            <div class="t-col t-col_8">
                <div class="t-cover__wrapper t-valign_middle" style="height:60vh; position: relative;z-index: 1;">
                    <div class="t181">
                        <div data-hook-content="covercontent">
                            <div class="t181__wrapper"><h1 class="t181__title t-title t-title_md t-animate"
                                                           data-animate-style="fadeinright" data-animate-group="yes"
                                                           style="" field="title"><br/><span
                                            style="font-weight: 300;"><br/>Личный кабинет </span></h1>
                                <div class="t181__descr t-descr t-descr_lg t-opacity_70 t-animate"
                                     data-animate-style="fadeinright" data-animate-group="yes" style="opacity:0.80;"
                                     field="descr">
                                    <div style="font-size:30px;" data-customstyle="yes"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- arrow -->
        <div class="t-cover__arrow">
            <div class="t-cover__arrow-wrapper t-cover__arrow-wrapper_animated">
                <div class="t-cover__arrow_mobile">
                    <svg class="t-cover__arrow-svg" style="fill:#ffffff;" x="0px" y="0px" width="38.417px"
                         height="18.592px" viewBox="0 0 38.417 18.592"
                         style="enable-background:new 0 0 38.417 18.592;">
                        <g>
                            <path d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z"/>
                        </g>
                    </svg>
                </div>
            </div>
        </div> <!-- arrow --> </div>
    <style>#rec111860549 .t-btn[data-btneffects-first],
        #rec111860549 .t-btn[data-btneffects-second],
        #rec111860549 .t-submit[data-btneffects-first],
        #rec111860549 .t-submit[data-btneffects-second] {
            position: relative;
            overflow: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }</style>
    <script type="text/javascript">$(document).ready(function () {
        });</script>
</div>
<?php /****** Верхний банер КОНЕЦ ********/ ?>
<?php /*
<div class="r t-rec" style=" " >
    <a name="translation" style="font-size:0;"></a>
</div>
<?php $translation = cmd('db/translations');?>
<?= $translation; ?>
<?php if(empty($translation)){ ?>
<?php $event_date = SQL::getval('event_date', DB_TABLE_PREFIX.'events',"hidden = 0 AND event_date >= '".date('Y-m-d')."' ",'ORDER BY event_date ASC LIMIT 1'); ?>
<?php if(!empty($event_date)){ ?>
        <section id="events_subscribe">
        <?= cmd('db/events'); ?>
        </section>
    <?php } ?>
<?php } */ ?>
<?php if($_SESSION['SESS_AUTH']['ALL']['role_project'] < 20 || (!empty($project_status) && in_array($project_status,array(40,50,60)) ) ){ ?>
<?php /*if( $project_status == '40') { ?>
    <div class="r t-rec t-rec_pt_30 t-rec_pb_0" ><!-- t265 -->
        <div class="t265">
            <div class="t-container">
                <div class="t-col t-col_8 t-prefix_2">
                    <div class="t265__wrapper" style="background: #EBEBEB;">
                        <div class="t265__icon">
                            <svg x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24"
                                 style="enable-background:new 0 0 24 24;">
                                <circle style="fill:#ff0000;" cx="12.125" cy="12.125" r="12"/>
                                <g>
                                    <path style="fill: #fff;"
                                          d="M10.922,6.486c0-0.728,0.406-1.091,1.217-1.091s1.215,0.363,1.215,1.091c0,0.347-0.102,0.617-0.304,0.81 c-0.202,0.193-0.507,0.289-0.911,0.289C11.328,7.585,10.922,7.219,10.922,6.486z M13.252,17.792h-2.234V9.604h2.234V17.792z"/>
                                </g>
                            </svg>
                        </div>
                        <div class="t265__text t-descr t-descr_xs" style="" field="text">
                            Поздравляем с прохождением на следующий этап программы! <br>
                            Наши координаторы свяжутся с вами по поводу участия <br>
                            в первом очном модуле программы в Москве
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php }*/ ?>
<?php /****** Личные данные НАЧАЛО ********/ ?>
    <div class="r t-rec" style=" " data-record-type="215">
        <a name="person" style="font-size:0;"></a>
    </div>
<section id="accounts">
<?= cmd('db/accounts/'.$_SESSION['SESS_AUTH']['ALL']['alias']) ?>
</section>
<?php /****** Верхний банер КОНЕЦ ********/ ?>
<?php /****** Проект НАЧАЛО ********/ ?>
<div id="rec114779887" class="r t-rec" style=" " data-record-type="215"><a name="project" style="font-size:0;"></a>
</div>
<?= cmd('cabinet/projects'); ?>
<?php /****** Проект КОНЕЦ ********/ ?>
<?php if(!empty($nomination) && $_CONF['settings']['stage2_on'] > '0000-00-00' && date('Y-m-d') >= $_CONF['settings']['stage2_on'] ){ ?>

    <?php if(!empty($mentor)  ){ ?>
<?php /****** Номинация НАЧАЛО ********/ ?>
<div id="rec114779905" class="r t-rec" style=" " data-record-type="215"><a name="working" style="font-size:0;"></a>
</div>
<div id="rec111862361" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px; "
     data-record-type="795"><!-- T795 -->
    <div class="t795">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">Работа в Номинации
                    "<?= $nomination['name'];?>"
                </div>
            </div>
        </div>
    </div>
</div>

<?php if(!empty($nomination['notification'])){ ?>
<div id="rec111861867" class="r t-rec t-rec_pt_30 t-rec_pb_30" ><!-- t265 -->
    <div class="t265">
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t265__wrapper" style="background: #EBEBEB;">
                    <div class="t265__icon">
                        <svg x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24"
                             style="enable-background:new 0 0 24 24;">
                            <circle style="fill:#ff0000;" cx="12.125" cy="12.125" r="12"/>
                            <g>
                                <path style="fill: #fff;"
                                      d="M10.922,6.486c0-0.728,0.406-1.091,1.217-1.091s1.215,0.363,1.215,1.091c0,0.347-0.102,0.617-0.304,0.81 c-0.202,0.193-0.507,0.289-0.911,0.289C11.328,7.585,10.922,7.219,10.922,6.486z M13.252,17.792h-2.234V9.604h2.234V17.792z"/>
                            </g>
                        </svg>
                    </div>
                    <div class="t265__text t-descr t-descr_xs" style="" field="text">
                        <span style="font-weight: 600;">Сообщение от ментора: </span>
                            <?= nl2br($nomination['notification'])?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php } ?>
        <div id="rec111880222" class="r t-rec t-rec_pt_0 t-rec_pb_0 r_showed r_anim" style="padding-top:0px;padding-bottom:0px; " data-record-type="431"><!-- t431 --><!--color5 — table head border color-->
            <div class="t431">
                <div class="t-container">
                    <div class="t-col t-col_10 t-prefix_1 t431__tdscale_1 t-text t-text_sm t-align_left t431__mobilescroll">
                        <div class="t431__wrapper-for-mobile">
                            <div class="t431__table-wapper" data-auto-correct-mobile-width="false">
                                <table class="t431__table " style="">
                                    <tbody class="t431__tbody">
                                    <tr class="t431__evenrow" style="background: #ffffff">
                                        <td class="t431__td" style="width:25vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                            Ментор:
                                        </td>
                                        <td class="t431__td" style="width:75vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                            <?= $mentor['author_comment'];?>
                                        </td>
                                    </tr>
                                    <? /*
                                    <tr class="t431__oddrow" style="background: #ffffff">
                                        <td class="t431__td" style="width:25vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;"></td>
                                        <td class="t431__td" style="width:75vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                            Доцент и участник, эксперт в области культуры
                                        </td>
                                    </tr>
                                    */ ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<?php } ?>
<?php /****** Номинация НАЧАЛО ********/ ?>
<?php /****** Другие проекты в номинации НАЧАЛО ********/ ?>
<div id="rec114779943" class="r t-rec" style=" " data-record-type="215"><a name="allprojects"
                                                                           style="font-size:0;"></a></div>
<?= cmd('db/projects_num'); ?>
<?php /****** Другие проекты в номинации КОНЕЦ ********/ ?>
<?php } ?>
<?php /****** Методические материалы НАЧАЛО ********/ ?>
<div id="rec114779955" class="r t-rec" style=" " data-record-type="215"><a name="docs" style="font-size:0;"></a>
</div>
<?= cmd('db/manuals',false,true); ?>
<?php /****** Методические материалы КОНЕЦ ********/ ?>
<?php }else{ ?>

    <div class="r t-rec t-rec_pt_30 t-rec_pb_30" ><!-- t265 -->
        <div class="t265">
            <div class="t-container">
                <div class="t-col t-col_8 t-prefix_2">
                    <div class="t265__wrapper" style="background: #EBEBEB;">
                        <div class="t265__icon">
                            <svg x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24"
                                 style="enable-background:new 0 0 24 24;">
                                <circle style="fill:#ff0000;" cx="12.125" cy="12.125" r="12"/>
                                <g>
                                    <path style="fill: #fff;"
                                          d="M10.922,6.486c0-0.728,0.406-1.091,1.217-1.091s1.215,0.363,1.215,1.091c0,0.347-0.102,0.617-0.304,0.81 c-0.202,0.193-0.507,0.289-0.911,0.289C11.328,7.585,10.922,7.219,10.922,6.486z M13.252,17.792h-2.234V9.604h2.234V17.792z"/>
                                </g>
                            </svg>
                        </div>
                        <div class="t265__text t-descr t-descr_xs" style="" field="text">
                            К сожалению, ваша заявка не прошла отбор. Спасибо за участие! <br><br>
                            У вас сохраняется доступ к лекциям в личном кабинете программы
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php } ?>
<?php /****** Видео записи лекций НАЧАЛО ********/ ?>
<?= cmd('db/lectures',false, true); ?>



<?php /****** Видео записи лекций КОНЕЦ ********/ ?>
<?php /****** Обратная связь НАЧАЛО ********/ ?>
<div id="rec114780000" class="r t-rec" style=" " data-record-type="215"><a name="feedback" style="font-size:0;"></a>
</div>
<section id="sector_obsv">
    <?= cmd('obsv/');?>
</section>
<?php /****** Обратная связь КОНЕЦ ********/ ?>

<div id="rec111463279" class="r t-rec t-rec_pt_60 t-rec_pb_15" style="padding-top:60px;padding-bottom:15px;background-color:#0d0d0d; " data-record-type="106" data-bg-color="#0d0d0d">
    <!-- T004 -->
    <div class="t004">
        <div class="t-container t-align_center">
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t551__title t-name t-name_xs" style="color:#ffffff;" field="title" data-animate-order="1"><img src="/templates/def/img/by_Seng.png"></div>
            </div>
        </div>
    </div>
</div>
