<div class="row">
    <div class="col-md-12" style="padding: 10px;">
        <!-- Навигационные вкладки -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">Редактировать</a></li>
            <li role="presentation"><a href="#files" aria-controls="files" role="tab" data-toggle="tab">Файлы</a></li>
            <li role="presentation"><a href="#members" aria-controls="members" role="tab" data-toggle="tab">Участники </a></li>
            <li role="presentation"><a href="#request" aria-controls="request" role="tab" data-toggle="tab">Заявки на участие</a></li>
        </ul>

        <!-- Вкладки панелей -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="edit" style="padding: 10px;">
                <?php $_GET['edit'] = '1'; ?>
                <?= cmd('db/projects/'.$_SESSION['SESS_AUTH']['ALL']['code_project'], true, false);?>
                <?php unset($_GET['edit']); ?>
            </div>
            <div role="tabpanel" class="tab-pane" id="files" style="padding: 10px;">...</div>
            <div role="tabpanel" class="tab-pane" id="members" style="padding: 10px;">
                <?php $_GET['role_project'] = 20; ?>
                <?= cmd('db/accounts', true, false);?>
                <?php unset($_GET['role_project']); ?>
            </div>
            <div role="tabpanel" class="tab-pane" id="request" style="padding: 10px;">
                <?php $_GET['role_project'] = 0; ?>
                <?= cmd('db/accounts', true, false);?>
                <?php unset($_GET['role_project']); ?>
            </div>
        </div>

    </div>
</div>