<?php /****** Меню НАЧАЛО ********/ ?>
    <div id="rec111860548" class="r t-rec t-rec_pt_0" style="padding-top:0px;background-color:#000000; "
         data-animationappear="off" data-record-type="257" data-bg-color="#000000"><!-- T228 -->
        <div id="nav111860548marker"></div>
        <div class="t228__mobile">
            <div class="t228__mobile_container">
                <div class="t228__mobile_text t-name t-name_md" field="text">&nbsp;</div>
                <div class="t228__burger"><span></span> <span></span> <span></span> <span></span></div>
            </div>
        </div>
        <div id="nav111860548" class="t228 t228__hidden t228__positionfixed t228__beforeready"
             style="background-color: rgba(0,0,0,1); height:100px; " data-bgcolor-hex="#000000"
             data-bgcolor-rgba="rgba(0,0,0,1)" data-navmarker="nav111860548marker" data-appearoffset="0"
             data-bgopacity-two="" data-menushadow="" data-bgopacity="1" data-menu-items-align="right" data-menu="yes">
            <div class="t228__maincontainer " style="height:100px;">
                <div class="t228__padding40px"></div>
                <div class="t228__leftside">
                    <div class="t228__leftcontainer">
                        <a href="/">
                            <img src="/templates/def/img/logo_pink_new.png"
                                 class="t228__imglogo t228__imglogomobile" imgfield="img"
                                 style="max-width: 250px;width: auto; height: 50px; display: block;" alt="">
                        </a>
                    </div>
                </div>
                <div class="t228__centerside t228__menualign_right">
                    <div class="t228__centercontainer">
                        <ul class="t228__list ">
                            <li class="t228__list_item"><a class="t-menu__link-item" href="#person"
                                                           style="color:#ffffff;font-weight:600;letter-spacing:0.5px;"
                                                           data-menu-item-number="1">Личные данные</a></li>
                            <li class="t228__list_item"><a class="t-menu__link-item" href="#project"
                                                           style="color:#ffffff;font-weight:600;letter-spacing:0.5px;"
                                                           data-menu-item-number="2">Работа с проектом</a></li>
                            <?php /* ?>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#working"
                                                       style="color:#ffffff;font-weight:600;letter-spacing:0.5px;"
                                                       data-menu-item-number="3">Работа в Номинации</a></li>
                        <?php */ ?>
                            <li class="t228__list_item"><a class="t-menu__link-item" href="#docs"
                                                           style="color:#ffffff;font-weight:600;letter-spacing:0.5px;"
                                                           data-menu-item-number="4">Методические материалы</a></li>
                            <li class="t228__list_item"><a class="t-menu__link-item" href="#feedback"
                                                           style="color:#ffffff;font-weight:600;letter-spacing:0.5px;"
                                                           data-menu-item-number="5">Задать вопрос</a></li>
                        </ul>
                    </div>
                </div>
                <div class="t228__rightside">
                    <div class="t228__rightcontainer">
                        <div class="t228__right_buttons">
                            <div class="t228__right_buttons_wrap">
                                <div class="t228__right_buttons_but"><a href="/auth/logoff" target="" class="t-btn link_logoff"
                                                                        style="color:#000000;background-color:#ffffff;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;">
                                        <table style="width:100%; height:100%;">
                                            <tr>
                                                <td>Выход</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t228__padding40px"></div>
            </div>
        </div>
        <style>@media screen and (max-width: 980px) {
                #rec111860548 .t228__leftcontainer {
                    padding: 20px;
                }
            }

            @media screen and (max-width: 980px) {
                #rec111860548 .t228__imglogo {
                    padding: 20px 0;
                }
            }</style>
        <script type="text/javascript"> $(document).ready(function () {
                t228_highlight();
                t228_checkAnchorLinks('111860548');
            });
            $(window).resize(function () {
                t228_setBg('111860548');
            });
            $(document).ready(function () {
                t228_setBg('111860548');
            });
            $(document).ready(function () {
                $('.t228').removeClass('t228__beforeready');
                t228_appearMenu('111860548');
                $(window).bind('scroll', t_throttle(function () {
                    t228_appearMenu('111860548')
                }, 200));
            }); </script>
        <script type="text/javascript"> $(document).ready(function () {
                t228_createMobileMenu('111860548');
            }); </script>
        <!--[if IE 8]>
        <style>#rec111860548 .t228 {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9000000', endColorstr='#D9000000');
        }</style><![endif]-->
    </div>
<?php /****** Меню КОНЕЦ ********/ ?>
<?php /****** Верхний банер НАЧАЛО ********/ ?>
    <div id="rec111860549" class="r t-rec t-rec_pt_0" style="padding-top:0px; " data-animationappear="off"
         data-record-type="204"><!-- cover -->
        <div class="t-cover" id="recorddiv111860549" bgimgfield="img"
             style="height:60vh; background-image: url(/templates/def/img/12mauro-mora-31-pOduwZGE-unsplash.jpg); ">
            <div class="t-cover__carrier" id="coverCarry111860549" data-content-cover-id="111860549"
                 data-content-cover-bg="" data-content-cover-height="60vh" data-content-cover-parallax=""
                 style="height:60vh;background-attachment:scroll; "></div>
            <div class="t-cover__filter"
                 style="height:60vh;background-image: -moz-linear-gradient(top, rgba(<?= $_CONF['TOP_BANNER']['start_rgba']?>), rgba(<?= $_CONF['TOP_BANNER']['end_rgba']?>));background-image: -webkit-linear-gradient(top, rgba(<?= $_CONF['TOP_BANNER']['start_rgba']?>), rgba(<?= $_CONF['TOP_BANNER']['end_rgba']?>));background-image: -o-linear-gradient(top, rgba(<?= $_CONF['TOP_BANNER']['start_rgba']?>), rgba(<?= $_CONF['TOP_BANNER']['end_rgba']?>));background-image: -ms-linear-gradient(top, rgba(<?= $_CONF['TOP_BANNER']['start_rgba']?>), rgba(<?= $_CONF['TOP_BANNER']['end_rgba']?>));background-image: linear-gradient(top, rgba(<?= $_CONF['TOP_BANNER']['start_rgba']?>), rgba(<?= $_CONF['TOP_BANNER']['end_rgba']?>));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='<?= $_CONF['TOP_BANNER']['start_color']?>', endColorstr='<?= $_CONF['TOP_BANNER']['end_color']?>');"></div>
            <div class="t-container">
                <div class="t-col t-col_8">
                    <div class="t-cover__wrapper t-valign_middle" style="height:60vh; position: relative;z-index: 1;">
                        <div class="t181">
                            <div data-hook-content="covercontent">
                                <div class="t181__wrapper"><h1 class="t181__title t-title t-title_md t-animate"
                                                               data-animate-style="fadeinright" data-animate-group="yes"
                                                               style="" field="title"><br/><span
                                                style="font-weight: 300;"><br/>Личный кабинет Ментора</span></h1>
                                    <div class="t181__descr t-descr t-descr_lg t-opacity_70 t-animate"
                                         data-animate-style="fadeinright" data-animate-group="yes" style="opacity:0.80;"
                                         field="descr">
                                        <div style="font-size:30px;" data-customstyle="yes"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- arrow -->
            <div class="t-cover__arrow">
                <div class="t-cover__arrow-wrapper t-cover__arrow-wrapper_animated">
                    <div class="t-cover__arrow_mobile">
                        <svg class="t-cover__arrow-svg" style="fill:#ffffff;" x="0px" y="0px" width="38.417px"
                             height="18.592px" viewBox="0 0 38.417 18.592"
                             style="enable-background:new 0 0 38.417 18.592;">
                            <g>
                                <path d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z"/>
                            </g>
                        </svg>
                    </div>
                </div>
            </div> <!-- arrow --> </div>
        <style>#rec111860549 .t-btn[data-btneffects-first],
            #rec111860549 .t-btn[data-btneffects-second],
            #rec111860549 .t-submit[data-btneffects-first],
            #rec111860549 .t-submit[data-btneffects-second] {
                position: relative;
                overflow: hidden;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }</style>
        <script type="text/javascript">$(document).ready(function () {
            });</script>
    </div>
<?php /****** Верхний банер КОНЕЦ ********/ ?>

<?php /****** Личные данные НАЧАЛО ********/ ?>
    <div class="r t-rec" style=" " data-record-type="215">
        <a name="person" style="font-size:0;"></a>
    </div>
    <section id="accounts">
        <?= cmd('db/accounts/'.$_SESSION['SESS_AUTH']['ID']) ?>
    </section>
<?php /****** Верхний банер КОНЕЦ ********/ ?>
<?php if($_SESSION['SESS_AUTH']['ALL']['nomination_id']){ ?>
<?php /****** Проекты НАЧАЛО ********/ ?>

    <div id="rec114779887" class="r t-rec" style=" " data-record-type="215"><a name="project" style="font-size:0;"></a>
    </div>
<?= cmd('db/projects');?>
<?php /****** Проекты КОНЕЦ ********/ ?>
<?php /****** Объявление для номинации НАЧАЛО ********/ ?>
<div id="rec114779905" class="r t-rec" style=" " data-record-type="215"><a name="working" style="font-size:0;"></a>
</div>
<section id="nominations">
<?= cmd('db/nominations/' . $_SESSION['SESS_AUTH']['ALL']['nomination_id'], false, true); ?>
</section>

<?php /****** Методические материалы НАЧАЛО ********/ ?>
    <div id="rec114779955" class="r t-rec" style=" " data-record-type="215"><a name="docs" style="font-size:0;"></a>
    </div>
<section id="manuals">
<?= cmd('db/manuals',false,true); ?>
</section>
<?php /****** Методические материалы КОНЕЦ ********/ ?>
<?php } ?>
<?php /****** Футер КОНЕЦ ********/ ?>
    <div id="rec111463279" class="r t-rec t-rec_pt_60 t-rec_pb_15"
         style="padding-top:60px;padding-bottom:15px;background-color:#0d0d0d; " data-record-type="106"
         data-bg-color="#0d0d0d"><!-- T004 -->
        <div class="t004">
            <div class="t-container t-align_center">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size:14px;color:#9d9d9d;" data-customstyle="yes">"Культурная инициатива/лидерство в креативных проектах"<br/><br/>
                            <a href="#person">Личные данные</a> |
                            <a href="#project">Работа с проектом</a> |
                            <?php /* ?>
                        <a href="#working">Работа в Номинации</a> |
                        <?php */ ?>
                            <a href="#docs">Методические материалы</a> |
                            <a href="#feedback">Задать вопрос</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec111860573" class="r t-rec t-rec_pt_0 t-rec_pb_60"
         style="padding-top:0px;padding-bottom:60px;background-color:#0d0d0d; " data-record-type="56"
         data-bg-color="#0d0d0d"><!-- T046 -->
        <div class="t046">
            <div class="t-container">
                <div class="t-col t-col_6 t-prefix_3">
                    <div class="t046__text t-text t-text_xs" style="" field="text">
                        <div style="color:#9d9d9d;" data-customstyle="yes"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php /****** Футер КОНЕЦ ********/ ?>