<section id="cabinet_project">
    <?= cmd('db/projects/'.$_SESSION['SESS_AUTH']['ALL']['code_project'])?>
</section>
<?php /****** Команда проекта НАЧАЛО ********/ ?>
<section id="cabinet_members">
    <?= cmd('db/accounts', true, false);?>
</section>
<?php /****** Команда проекта КОНЕЦ ********/ ?>