<div class="row">
    <div class="col-md-6" style="padding: 10px;">
        Вы подали заявку на подключение к проекту <?= $_SESSION['SESS_AUTH']['ALL']['code_project'];?><br>
        <?php if($_SESSION['SESS_AUTH']['ALL']['role_project']== '10'){ ?>
            Ваша заявка отклонена лидером проекта
        <?php } ?>
        <?php if($_SESSION['SESS_AUTH']['ALL']['role_project']== '0'){ ?>
            Ожидайте рассмотрения заявки лидером проекта
        <?php } ?>
    </div>
    <div class="col-md-6" style="padding: 10px;">
        <h2>Присоединиться к другому проекту</h2>
        <form action="/cabinet/local/project_join" method="post">
            <label>введите код проекта к которому желаете присоединиться</label>
            <input name="code_project" type="text" class="form-control" >
            <input type="submit" value="Отправить" class="btn btn-primary btn-info btn-large">

        </form>
        <p>Подсказка: код можно получить у лидера проекта (пользователя создавшего проект)</p>
    </div>
</div>