<?php $num = 0; ?>
<?php if (sizeof($_KAT['SEARCH_RES']) > 0) { ?>
<div id="rec114779976" class="r t-rec" style=" " data-record-type="215"><a name="videos" style="font-size:0;"></a>
</div>

<div id="rec112402426" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px; "
     data-record-type="795"><!-- T795 -->
    <div class="t795">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">Записи лекций</div>
            </div>
        </div>
    </div>
</div>

<div id="rec117502529" class="r t-rec t-rec_pt_60 t-rec_pb_0"
     data-animationappear="off" data-record-type="604">
    <div class="t604">
        <div class="t-slds" style="visibility: hidden;">
            <div class="t-container t-slds__main">
                <div class="t-slds__container t-width t-width_7 t-margin_auto">
                    <div class="t-slds__items-wrapper t-slds_animated-fast t-slds__witharrows"
                         data-slider-transition="300" data-slider-with-cycle="true"
                         data-slider-correct-height="false" data-auto-correct-mobile-width="false"
                         data-slider-arrows-nearpic="yes">
<?php } ?>