<?php $num++; ?>
<?php if(strpos($data['code'],'http') !== false){
    $arr_url = parse_url($data['code']);
    if(!empty($arr_url['query'])){
        parse_str($arr_url['query'], $output);
        if(!empty($output['v'])) $data['code'] = $output['v'];
    }else{
        $data['code'] = substr($arr_url['path'],1);
    }
}
?>
<div class="t-slds__item <?= ($num==1)?'t-slds__item_active':'';?>" data-slide-index="<?= $num?>">
    <div class="t-width t-width_6 t-margin_auto" itemscope
         itemtype="http://schema.org/ImageObject">
        <div class="t-slds__wrapper t-align_center">

            <div class="t-video-lazyload" data-videolazy-type="youtube" data-videolazy-id="<?=$data['code']?>"
                 data-blocklazy-id="111860557" data-videolazy-load="false" data-videolazy-height="315"
                 data-videolazy-two-id="1"></div>
            <div class="t223__blocktext t-text t-text_sm" field="text"><?=$data['name']?><br /><?= STR::date2word($data['ts'], "d m")?></div>
        </div>
    </div>
</div>
