<?php if (sizeof($_KAT['SEARCH_RES']) > 0) { ?>
</div>
</div>
<div class="t-slds__arrow_container t-slds__arrow-nearpic">
    <div class="t-slds__arrow_wrapper t-slds__arrow_wrapper-left" data-slide-direction="left">
        <div class="t-slds__arrow t-slds__arrow-left t-slds__arrow-withbg"
             style="width: 40px; height: 40px;background-color: rgba(232,232,232,1);">
            <div class="t-slds__arrow_body t-slds__arrow_body-left" style="width: 9px;">
                <svg style="display: block" viewBox="0 0 9.3 17" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <desc>Left</desc>
                    <polyline fill="none" stroke="#000000" stroke-linejoin="butt"
                              stroke-linecap="butt" stroke-width="1"
                              points="0.5,0.5 8.5,8.5 0.5,16.5"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="t-slds__arrow_wrapper t-slds__arrow_wrapper-right" data-slide-direction="right">
        <div class="t-slds__arrow t-slds__arrow-right t-slds__arrow-withbg"
             style="width: 40px; height: 40px;background-color: rgba(232,232,232,1);">
            <div class="t-slds__arrow_body t-slds__arrow_body-right" style="width: 9px;">
                <svg style="display: block" viewBox="0 0 9.3 17" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <desc>Right</desc>
                    <polyline fill="none" stroke="#000000" stroke-linejoin="butt"
                              stroke-linecap="butt" stroke-width="1"
                              points="0.5,0.5 8.5,8.5 0.5,16.5"/>
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="t-slds__bullet_wrapper">
    <?php if($num >0){ ?>
        <?php for($i=1; $i<=$num; $i++){ ?>
        <div class="t-slds__bullet <?= ($i == 1)?'t-slds__bullet_active':'';?>" data-slide-bullet-for="<?= $i?>">
            <div class="t-slds__bullet_body" style="background-color: #c7c7c7;"></div>
        </div>
        <?php } ?>
    <?php } ?>
</div>
<div class="t-slds__caption__container"></div>
</div>
</div>
</div>
<script type="text/javascript"> $(document).ready(function () {
        t_sldsInit('117502529');
        t604_init('117502529');
        var fireRefreshEventOnWindow = function () {
            var evt = document.createEvent("HTMLEvents");
            evt.initEvent('resize', true, false);
            window.dispatchEvent(evt);
        };
        $('.t604').bind('displayChanged', function () {
            fireRefreshEventOnWindow();
        });
    }); </script>
<style type="text/css"> #rec117502529 .t-slds__bullet_active .t-slds__bullet_body {
        background-color: #222 !important;
    }

    #rec117502529 .t-slds__bullet:hover .t-slds__bullet_body {
        background-color: #222 !important;
    }</style>
</div>
<?php } ?>