<div class="t524__col t-col t-col_3 t-align_center t524__col-mobstyle">
    <div class="t524__itemwrapper t524__itemwrapper_4">
        <div class="t524__imgwrapper t-margin_auto" style="width:200px;">
            <?if (!empty($data["doc"]) && is_file($FORM_DATA["doc"]["abspath"]."/".$data["doc"])):?>
                <div class="t524__bgimg t-margin_auto t-bgimg" bgimgfield="li_img__1481897574118" data-original="<?=$FORM_DATA["doc"]["path"]."/".$data["doc"]?>" style="background-image: url('/reimg<?=$FORM_DATA["doc"]["path"]."/".$data["doc"]?>?20x20');" ></div>
            <?endif;?>

        </div>
        <div class="t524__wrappercenter">
            <div class="t524__persname t-name t-name_lg t524__bottommargin_sm" style="" field="li_persname__1481897574118"><?=$data['name']?></div>
            <div class="t524__persdescr t-descr t-descr_xxs " style="" field="li_persdescr__1481897574118"><?=$data['position']?></div>
        </div>
    </div>
</div>
<?php $num_item++; ?>
<?php if($num_item%4 == 0 ){?>
<div class="t-clear t524__separator" style=""></div>
<?php } ?>