table.form{
    border-collapse: collapse;
}
.form input.t-input,
.form textarea.t-input,
.form select.t-input{
    color:#000000;
    border:1px solid #888;
    margin: 3px 0;
    -webkit-appearance: inherit;
}
.form textarea.t-input{
    height: auto;
}
.td-18{
    width:18vw;
}
.td-25{
    width:25vw;
}
.td-75{
    width:75vw;
}
.form .t431__td{
    font-size: inherit;
    border-width: 1px 0px 1px 0px;
    border-color: #d9d9d9;
    color: #4d4c4c;
}
.padding-right{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    vertical-align: middle;
}

.no-padding {
    padding: 0px !important;
}
.no-padding-left {
    padding-left: 0px !important;
}
.t431__table.form{
    table-layout: auto;
}
#rec111463279 .t004 a{
    color: inherit;
}
.t-text_md img{
    padding: 60px 0;
    width: 100%;
    height: auto;
}
.btn {
    color: #ffffff;
    background-color: #000000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
@media screen and (max-width: 980px){
    .t228__imglogomobile.t228__imglogo {
        height: auto !important;
    }
}
.t-col_6 .t-col_4{
    width: 173px;
    margin-left: 10px;
    margin-right: 10px
}
.t-col_8 .t-col_4{
    width: 240px;
    margin-left: 10px;
    margin-right: 10px
}
.t-col .t-col:first-child{
    margin-left: 0px;
}
.t-col .t-col:last-child{
    margin-right: 0px;
}
.t-col_6 .t-col_4 .t472__blockimg{
    max-width: 173px;
    height: 173px;
}

.t-col_8 .t-col_4 .t472__blockimg{
    max-width: 240px;
    height: 240px;
}
.t-input-title{
    height: auto;
}
.t-slds__arrow {
    top: 40%;
}
a.internal{
    border-bottom: 1px dashed;
}
a.internal:hover{
    border-bottom: none;
    cursor: pointer;
}
.group-rom{
    margin-bottom: 20px;
    margin-right: 20px;
}
.star{
    display: none;
}
label.error{
    color: red;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    margin-top: 5px;
}
.sizedoc{
    visibility: hidden;
}