<?php
global $form, $_CORE;
if (empty($form['from_auth'])) $form['from_auth'] = $_SESSION['SESS_AUTH']['ID'];

// скроем от пользователей удаленные
if (!$_CORE->IS_ADMIN && !empty($form['hidden'])) {

    echo '<div class="alert alert-danger alert-dismissable">Данные удалены<button type="button" class="close" data-dismiss="alert" aria-hidden="true">х</button></div>';

} else {

    ?>
    <div class="content-panel">

        <?= (!empty($_KAT['ERROR'])) ? '<p class="alert alert-warning">' . @nl2br($_KAT['ERROR']) . '</p>' : '' ?>

        <form class="form form-horizontal style-form" id="<?=$_KAT['KUR_ALIAS']?>Form" autocomplete="off" method=post
              enctype="multipart/form-data" name='db_form'>

<?php foreach ($form as $kf => $form_val){
    if(!empty($form_val) && is_string($form_val)){
        $form[$kf] = htmlspecialchars_decode($form_val);
    }
}?>
            <table border=0 width='100%' cellspacing=0 cellpadding=0 class="form">
                <tbody class="t431__tbody">
                <?php $_KAT['cForm']->Form_TD_title['class'] = "t431__td td-18"; ?>
                <?php $_KAT['cForm']->Form_TD_val['class'] = "t431__td td-75 padding-right"; ?>
                <?php $_KAT['cForm']->Body_print(); ?>
                <?php if(empty($_SESSION['SESS_AUTH']['ALL']['agree_normativ'])){?>
                <tr class="t431__oddrow" data-unique="51803_name">
                    <td valign="top" colspan="2" class="t431__td td-100" align="left">
                        <div class="t-input-group t-input-group_cb">
                            <div class="t-input-block">
                                <label class="t-checkbox__control t-text t-text_xs">
                                    <input type="checkbox" name="agree_normativ" value="1"
                                           class="t-checkbox" >
                                    <div class="t-checkbox__indicator"></div>
                                    Я ознакомился с <a href="polozheniia_po_programme_kulturnaia_initciativa_i_liderstvo_v_kreativnykh_industriiakh_2019.docx" target="_blank">положениями</a> по программе "Культурная инициатива/лидерство в креативных индустриях"</label>
                                <div class="t-input-error"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <?php } ?>
                <?php if ($form['status'] < 40) { ?>
                <tr class="t431__oddrow">
                    <td colspan="2"  >
                        <div class="r t-rec t-rec_pt_30 t-rec_pb_0 r_anim r_showed" style="" data-record-type="296"><!-- t265 -->
                            <div class="t265">
                                <div class="t-container">
                                    <div class="t-col t-col_12">
                                        <div class="t265__wrapper" style="background: #EBEBEB;">
                                            <div class="t265__icon">
                                                <svg x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;">
                                                    <circle style="fill:#cccccc;" cx="12.125" cy="12.125" r="12"></circle>
                                                    <g>
                                                        <path style="fill: #fff;" d="M10.922,6.486c0-0.728,0.406-1.091,1.217-1.091s1.215,0.363,1.215,1.091c0,0.347-0.102,0.617-0.304,0.81 c-0.202,0.193-0.507,0.289-0.911,0.289C11.328,7.585,10.922,7.219,10.922,6.486z M13.252,17.792h-2.234V9.604h2.234V17.792z"></path>
                                                    </g>
                                                </svg>
                                            </div>
                                            <div class="t265__text t-descr t-descr_xs" style="" field="text">
                                                Заполните все данные по проекту и участникам команды и нажмите кнопку "Сохранить". Далее ваша заявка будет отправлена на модерацию.<br>
                                                Если ваша заявка одобрена модератором, вы увидите в личном кабинете статус "Допущен". Если заявка требует доработки, вы увидите статус "На доработку" с комментарием, что стоит поправить.<br>
                                                После одобрения заявки модератором она будет отправлена на рассмотрение экспертной комиссии, вы не сможете вносить правки в заявку.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <?php } ?>
                </tbody>
            </table>

            <table width="100%" border="0" cellpadding="0" cellspacing="0" class=" form"
                   style="margin-top:20px">
                <tr>
                    <td colspan="3" class="sep">
                        <div class="sep">
                            <spacer type="block" width="1" height="1"></spacer>
                        </div>
                    </td>
                </tr>
                <tr>
                    <input type="hidden" name="apply" value="0">
                    <input type="hidden" name="submit_x" value="1">
                    <td width="30%" class="tdleft"><input type=submit name="submit"
                                                          class="t-submit btn btn-primary btn-info btn-large"
                                                          value="Сохранить"></td>
                    <td width="40%">&nbsp; &nbsp;</td>
                    <td width="30%" class="tdright" align="right">
                        <input type="reset" value="Отменить" class="t-submit btn btn-warning btn-large btn-block" onclick="$('#rec111865744 .t431').hide();$('#rec111865744 .t585:first').show();">
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <script>


        function validateSize(fileInput) {
            var fileObj, oSize;
            var size = 10;
            if ( typeof ActiveXObject == "function" ) { // IE
                fileObj = (new ActiveXObject("Scripting.FileSystemObject")).getFile(fileInput.value);
            }else {
                fileObj = fileInput.files[0];
            }

            oSize = fileObj.size; // Size returned in bytes.
            if(oSize > size * 1024 * 1024){
                return false
            }
            return true;
        }

        function validateType(fileName) {
            var filesExt = ['pdf']; // массив расширений
            var parts = fileName.split('.');
            return filesExt.join().search(parts[parts.length - 1]) !== -1;
        }
        $(document).ready(function () {
            $("#projectsForm").validate({
                rules: {
                    'form[name]': {
                        required: true,
                        rangelength: [3, 255]
                    },/*
                    'form[anons]': {
                        required: true,
                        rangelength: [3, 255]
                    },
                    'form[cont]': {
                        required: true,
                        rangelength: [3, 255]
                    },
                    'form[motivation_letter]': {
                        required: true,
                        rangelength: [3, 255]
                    },*/
                    'sizedoc':{
                        required: true
                    }/*,
                    'form[nomination_id]': {
                        required: true
                    }*/<?php if(empty($_SESSION['SESS_AUTH']['ALL']['agree_normativ'])){?>,
                    'agree_normativ': {
                        required: true
                    }
                    <?php } ?>
                },
                messages: {
                    'form[name]': {
                        required: "Заполните это поле",
                        rangelength: "Введите от 3 до 255 символов"
                    },
                    'form[anons]': {
                        required: "Заполните это поле",
                        rangelength: "Введите от 3 до 255 символов"
                    },
                    'form[cont]': {
                        required: "Заполните это поле",
                        rangelength: "Введите от 3 до 255 символов"
                    },
                    'form[motivation_letter]': {
                        required: "Заполните это поле",
                        rangelength: "Введите от 3 до 255 символов"
                    },
                    'sizedoc': {
                        required: "<br>Максимально допустимый размер файла: 10 МБ"
                    },
                    'form[nomination_id]': {
                        required: "Заполните это поле"
                    }
                    <?php if(empty($_SESSION['SESS_AUTH']['ALL']['agree_normativ'])){?>,
                    'agree_normativ': {
                        required: "Подтвердите что ознокомились с положениями<br>"
                    }
                    <?php } ?>
                }
            });
        });
        $(document).ready(function() {
            $('#<?=$_KAT['KUR_ALIAS']?>Form input[type=file]').hide();

            $('#<?=$_KAT['KUR_ALIAS']?>Form input[type=file]').each(function (index, el){
                // Для каждого элемента сохраняем значение в personsIdsArray,
                // если значение есть.
                $(el).after('<div class="load_file btn t-submit">Обзор...</div><input type="text" name="f_name" class="t-input load_file_name" value="Файл не выбран.">');
                console.log('файл загружен');
                $(el).next().next().after('<input type="text" class="sizedoc" name="sizedoc" value="1">');
            });

            $('#<?=$_KAT['KUR_ALIAS']?>Form .load_file').click(function(){
                $(this).prev('input[type=file]').click();
                return false;
            });
            $('#<?=$_KAT['KUR_ALIAS']?>Form input[type=file]').change(function() {
                if($(this).get(0).files.length > 0){
                    var f_name = [];
                    for (var i = 0; i < $(this).get(0).files.length; ++i) {
                        f_name.push($(this).get(0).files[i].name);
                        if(!validateSize(this)){
                            $(this).next().next().next('input.sizedoc').val('');
                            console.log('файл слишком большой');
                        }else{
                            $(this).next().next().next('input.sizedoc').val('1');
                            console.log('файл можно загружать');
                        }
                    }
                    $(this).next().next('input.load_file_name').val(f_name.join(", "));
                }else{
                    $(this).next().next('input.load_file_name').val('Файл не выбран.');
                    $(this).next().next().next('input.sizedoc').val('1');
                    console.log('файл не загружен');
                }
            });

        });

    </script>
<? } ?>