<div id="rec111862431" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px; "
     data-record-type="795"><!-- T795 -->
    <div class="t795">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">
                    <?= ($_SESSION['SESS_AUTH']['ALL']['role_project']== 99)?'Лидер':'Участник';?> проекта "<?=$form['name']?>"
                </div>
                <div class="t795__descr t-descr t-descr_xl t-margin_auto" field="descr" style="">
                    <?php  if($_SESSION['SESS_AUTH']['ALL']['role_project']== 99){ ?>
                    Код проекта #<?=$form['alias']?><br>
                    <?php }else{ ?>
                    <a class="internal out_of_project">Выйти из проекта</a>
                    <?php } ?>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Статус проекта -->
<div class="r t-rec t-rec_pt_30 t-rec_pb_0 r_anim r_showed" style="" data-record-type="296"><!-- t265 -->
    <div class="t265">
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t265__wrapper" style="background: #EBEBEB;">
                    <div class="t265__icon">
                        <svg x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;">
                            <?php
                                if($form['status']< 0 ) $project_status = '#ff0000';
                                if($form['status']== 1 ) $project_status = '#cccccc';
                                if($form['status'] > 1 ) $project_status = '#269626';
                                if($form['status']== 30 ) $project_status = '#eff348';
                            ?>
                            <circle style="fill:<?= $project_status?>;" cx="12.125" cy="12.125" r="12"></circle>
                            <g>
                                <path style="fill: #fff;" d="M10.922,6.486c0-0.728,0.406-1.091,1.217-1.091s1.215,0.363,1.215,1.091c0,0.347-0.102,0.617-0.304,0.81 c-0.202,0.193-0.507,0.289-0.911,0.289C11.328,7.585,10.922,7.219,10.922,6.486z M13.252,17.792h-2.234V9.604h2.234V17.792z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="t265__text t-descr t-descr_xs" style="" field="text">
                        <?php switch($form['status']){
                            case -20:
                                echo 'Заблокирован';
                            break;
                            case -10:
                                echo 'Не допущен';
                            break;
                            case 1:
                                echo 'Проект ожидает модерации';
                                break;
                            case 10:
                                echo 'Проект допущен к отбору экспертной комиссией. Результаты отбора 10 октября';
                                $_KAT[$_KAT['KUR_ALIAS']]['PERM']['ue'] = '1';
                            break;
                            case 30:
                                echo 'Комментарий от организатора: <br><br>'.nl2br($form['comment_org']);
                            break;
                            case 40:
                                echo 'Проект отобран в следующий этап';
                            break;
                            case 50:
                                echo 'Проект номинирован';
                            break;
                            case 60:
                                echo 'Победитель';
                            break;
                            default:
                            break;
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>
        <?php if($form['status'] == 30 ) { ?>
        <div class="t-container t-rec_pt_30">
            <div class="t142__wrapone">
                <div class="t142__wraptwo">
                    <div class="t-btn t142__submit " id="send_project"
                         style="color:#000000;border:3px solid #000000;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; cursor: pointer;">
                        Отправить на повторную проверку
                    </div>
                </div>
            </div>
        </div>
        <?php } ?>
    </div>
</div>
<div id="rec111865744" class="r t-rec t-rec_pt_60 t-rec_pb_0" style=""
     data-animationappear="off" data-record-type="585"><!-- T585-->
    <div class="project_successbox form_successbox" style="display:none;">
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t-form__successbox t-text t-text_md">

                </div>
            </div>
        </div>
    </div>
    <div class="t585">
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t585__accordion">
                    <div class="t585__wrapper">
                        <div class="t585__header" style=" border-top: 1px solid #eee;">
                            <div class="t585__title t-name t-name_xl" field="li_title__1562564105637" style="">
                                Краткое описание
                            </div>
                            <div class="t585__icon">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: transparent;"></div>
                            </div>
                            <div class="t585__icon t585__icon-hover">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: #eee;"></div>
                            </div>
                        </div>
                        <div class="t585__content">
                            <div class="t585__textwrapper">
                                <div class="t585__text t-descr t-descr_xs" field="li_descr__1562564105637" style="">
                                    <?=nl2br($form['anons'])?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t585__accordion">
                    <div class="t585__wrapper">
                        <div class="t585__header" style=" border-top: 1px solid #eee;">
                            <div class="t585__title t-name t-name_xl" field="li_title__1489600117321" style="">
                                Полное описание
                            </div>
                            <div class="t585__icon">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: transparent;"></div>
                            </div>
                            <div class="t585__icon t585__icon-hover">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: #eee;"></div>
                            </div>
                        </div>
                        <div class="t585__content">
                            <div class="t585__textwrapper">
                                <div class="t585__text t-descr t-descr_xs" field="li_descr__1489600117321" style="">
                                    <?=nl2br($form['cont'])?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<?php /*if(!empty($form['url_youtube'])){ */?><!--
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t585__accordion">
                    <div class="t585__wrapper">
                        <div class="t585__header" style=" border-top: 1px solid #eee;">
                            <div class="t585__title t-name t-name_xl" field="li_title__1562564105637" style="">
                                Мотивационное видео письмо
                            </div>
                            <div class="t585__icon">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: transparent;"></div>
                            </div>
                            <div class="t585__icon t585__icon-hover">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: #eee;"></div>
                            </div>
                        </div>
                        <div class="t585__content">
                            <div class="t585__textwrapper">
                                <div class="t585__text t-descr t-descr_xs" field="li_descr__1562564105637" style="">
                                    <?php /*if(!empty($form['url_youtube'])){
                                    if(strpos($form['url_youtube'],'http') !== false){
                                        $arr_url = parse_url($form['url_youtube']);
                                        if(!empty($arr_url['query'])){
                                            parse_str($arr_url['query'], $output);
                                            if(!empty($output['v'])) $form['url_youtube'] = $output['v'];
                                        }else{
                                            $form['url_youtube'] = substr($arr_url['path'],1);
                                        }
                                    }
                                    */?>
                                    <div class="t-video-lazyload" data-videolazy-type="youtube" data-videolazy-id="<?/*= $form['url_youtube']*/?>" data-blocklazy-id="111478151" data-videolazy-load="false" data-videolazy-height="450" data-videolazy-two-id="1"> </div>
                                    <?php /*} */?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
--><?php /*}*/ ?>
<?php if(!empty($form["doc"])){?>
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t585__accordion">
                    <div class="t585__wrapper">
                        <div class="t585__header" style=" border-top: 1px solid #eee;">
                            <div class="t585__title t-name t-name_xl" field="li_title__1489600117321" style="">
                                Презентация до первого очного модуля
                            </div>
                            <div class="t585__icon">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: transparent;"></div>
                            </div>
                            <div class="t585__icon t585__icon-hover">
                                <div class="t585__lines">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                                           stroke-linecap="square">
                                            <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                <path d="M0,11 L22,11"></path>
                                                <path d="M11,0 L11,22"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t585__circle" style="background-color: #eee;"></div>
                            </div>
                        </div>
                        <div class="t585__content">
                            <div class="t585__textwrapper">
                                <div class="t585__text t-descr t-descr_xs" field="li_descr__1489600117321" style="">
                                    <?php if(!empty($form["doc"])){?>
    <?php $f_size = FILE::f_size(filesize($FORM_DATA["doc"]["abspath"]."/".$form["doc"]),0);  ?>
    <?php $f_ext = substr($form["doc"],strripos($form["doc"],'.'));  ?>
    <a href="<?=$FORM_DATA["doc"]["path"]."/".$form["doc"]?>" target="_blank"><?= $form['name']?></a>  (<?=$f_ext;?> <?=$f_size;?>)
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<?php } ?>
        </div>
        <?php //if($_SESSION['SESS_AUTH']['ALL']['role_project']== '99'){ ?>
        <?php if( $_KAT[$_KAT['KUR_ALIAS']]['PERM']['ue'] == '0' ){ ?>
        <div class="t142 t-rec_pt_30 t-rec_pb_0" >
            <div class="t-container_100">
                <div class="t142__wrapone">
                    <div class="t142__wraptwo">
                        <a onclick="$('#rec111865744 .t585:first').hide();$('#rec111865744 .t431').show(); return false;" target="" class="">
                            <div class="t-btn t142__submit "
                                 style="color:#000000;border:3px solid #000000;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;">
                                Редактировать
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <?php } ?>


        <!--Оповещение от системы -->
        <?php if( $_SESSION['SESS_AUTH']['ALL']['role_project'] == 99 && $_KAT[$_KAT['KUR_ALIAS']]['PERM']['ue'] == '1') { ?>
            <div class="r t-rec t-rec_pt_60 t-rec_pb_0 r_anim r_showed" data-record-type="296"><!-- t265 -->
                <div class="t265">
                    <div class="t-container">
                        <div class="t-col t-col_8 t-prefix_2">
                            <div class="t265__wrapper" style="background: #EBEBEB;">
                                <div class="t265__icon">
                                    <svg x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;">
                                        <circle style="fill:#cccccc;" cx="12.125" cy="12.125" r="12"></circle>
                                        <g>
                                            <path style="fill: #fff;" d="M10.922,6.486c0-0.728,0.406-1.091,1.217-1.091s1.215,0.363,1.215,1.091c0,0.347-0.102,0.617-0.304,0.81 c-0.202,0.193-0.507,0.289-0.911,0.289C11.328,7.585,10.922,7.219,10.922,6.486z M13.252,17.792h-2.234V9.604h2.234V17.792z"></path>
                                        </g>
                                    </svg>
                                </div>
                                <div class="t265__text t-descr t-descr_xs" style="" field="text">
                                    Редактирование проекта приостановлено до начала следующего этапа
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <?php } ?>
    </div>
    <?php if($_KAT[$_KAT['KUR_ALIAS']]['PERM']['ue'] == '0'){ ?>
    <div class="t431 t431_form" style="display: none;">
        <div class="t-container">
            <div class="t-col t-col_10 t-prefix_1 t431__tdscale_1 t-text t-text_sm t-align_left ">
                <div class="t431__wrapper-for-mobile">
                    <div class="t431__table-wapper" data-auto-correct-mobile-width="false">
                        <?php $_GET['edit'] = 1; ?>
                        <?= cmd('db/projects/' . $_SESSION['SESS_AUTH']['ALL']['code_project'], false, true); ?>
                        <?php unset($_GET['edit']); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php } ?>
    <script type="text/javascript"> $(document).ready(function () {
            t585_init('111865744');
        });</script>

    <div id="docs_root_header" class="t585 t-rec_pt_60 t-rec_pb_0">
        <div class="docs_root_successbox form_successbox t-rec_pt_60" style="display:none;">
            <div class="t-container">
                <div class="t-col t-col_8 t-prefix_2">
                    <div class="t-form__successbox t-text t-text_md">

                    </div>
                </div>
            </div>
        </div>
        <div class="t-container">
            <?= cmd('db/docs_root'); ?>
        </div>
    </div>
</div>

<script>
    $('#cabinet_project').off('submit', '#projectsForm').on('submit','#projectsForm',function (e) {
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
        var $form = $(this);
        // создадим объект данных формы
        formData = new FormData($form.get(0));

        $.ajax({
            contentType: false, // важно - убираем форматирование данных по умолчанию
            processData: false, // важно - убираем преобразование строк по умолчанию
            type: 'post',
            url: '/empty/db/projects/<?=$_SESSION['SESS_AUTH']['ALL']['code_project'];?>?edit&ajax_data',
            data: formData
        }).done(function (data) {
            console.log('success');
            $(document).off('submit','#projectsForm');
            $('#cabinet_project').html(data);
            $('#cabinet_project .project_successbox .t-form__successbox').html('Данные успешно сохранены');
            $('#cabinet_project .project_successbox').show(400);
            scrollToElement('cabinet_project');
            setTimeout(function(){
                $('#cabinet_project .project_successbox').hide(400);
                $('#cabinet_project .project_successbox .t-form__successbox').html('');
            }, 5000);

        }).fail(function (jqXHR, textStatus) {
            //alert( "Request failed: " + textStatus );
            console.log("Request failed: " + textStatus);
            console.log(jqXHR);

            $('#cabinet_project .project_successbox .t-form__successbox').html('Данные не удалось сохранить.<br>Попробуйте еще раз через некоторое время');
            $('#cabinet_project .project_successbox').show(400);
            scrollToElement('cabinet_project');
            setTimeout(function(){
                $('#cabinet_project .project_successbox').hide(400);
                $('#cabinet_project .project_successbox .t-form__successbox').html('');
            }, 5000);
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
    });

    $('#cabinet_project').off('submit', '#docs_rootForm').on('submit','#docs_rootForm',function (e) {
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
        var $form = $(this);
        // создадим объект данных формы
        formData = new FormData($form.get(0));

        $.ajax({
            contentType: false, // важно - убираем форматирование данных по умолчанию
            processData: false, // важно - убираем преобразование строк по умолчанию
            type: 'post',
            url: '/empty/db/docs_root/add?edit&ajax_data',
            data: formData
        }).done(function (data) {
            console.log('success');
            $(document).off('submit','#projectsForm');
            /*$('#cabinet_project .docs_root_successbox .t-form__successbox').html(data);
            $('#cabinet_project').html(data);
            scrollToElement('cabinet_project');*/

            $('#cabinet_project .docs_root_successbox .t-form__successbox').html(data);
            $('#cabinet_project .docs_root_successbox').show(400);
            scrollToElement('docs_root_header');
            setTimeout(function(){
                $('#cabinet_project .docs_root_successbox').hide(400);
                $('#cabinet_project .docs_root_successbox .t-form__successbox').html('');
                $('#cabinet_project').load('/empty/db/projects/<?=$_SESSION['SESS_AUTH']['ALL']['code_project'];?>');
            }, 3000);

        }).fail(function (jqXHR, textStatus) {
            //alert( "Request failed: " + textStatus );
            console.log("Request failed: " + textStatus);
            console.log(jqXHR);
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
    });

    $('#cabinet_project').off('click', 'a.docs_del').on('click', 'a.docs_del', function (e) {
        // console.log($(this).attr('href'));

        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
        if(confirm('Вы уверены, что хотите удалить данный файл?')) {
            $.ajax({
                type: 'get',
                url: $(this).attr('href'),
            }).done(function (data) {
                console.log('success');
                $('#cabinet_project').html(data);

            }).fail(function (jqXHR, textStatus) {
                //alert( "Request failed: " + textStatus );
                console.log("Request failed: " + textStatus);
                console.log(data);
            });
            //отмена действия по умолчанию для кнопки submit
            e.preventDefault();
        }
        return false;
    });


    $('#cabinet_project').off('click', 'a.out_of_project').on('click', 'a.out_of_project', function (e) {
        // console.log($(this).attr('href'));

        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
        if(confirm('Вы уверены, что хотите выйти из команды проекта?')) {
            $.ajax({
                type: 'get',
                url: '/empty/local/project_role?out',
            }).done(function (data) {
                console.log('success');
                window.location.reload();

            }).fail(function (jqXHR, textStatus) {
                console.log("Request failed: " + textStatus);
                console.log(data);
            });
            //отмена действия по умолчанию для кнопки submit
            e.preventDefault();
        }
        return false;
    });

<?php if($form['status'] == 30){ ?>
    $('#cabinet_project').off('click', '#send_project').on('click', '#send_project', function (e) {
        // console.log($(this).attr('href'));

        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
        $.ajax({
            type: 'get',
            url: '/empty/local/send_project',
        }).done(function (data) {
            console.log('success');
            $('#cabinet_project').html(data);
            scrollToElement('cabinet_project');

        }).fail(function (jqXHR, textStatus) {
            console.log("Request failed: " + textStatus);
            console.log(data);
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
        return false;
    });
<?php } ?>
</script>
<?php if(!empty($form['nomination_id'])) $_SESSION['SESS_AUTH']['ALL']['project_nomination'] = $form['nomination_id'];?>