<?php if (sizeof($_KAT['SEARCH_RES']) > 0) { ?>
    <div id="rec127269547" class="r t-rec t-rec_pt_120 t-rec_pb_45 r_anim r_showed" data-record-type="30"><!-- T015 -->
        <div class="t015">
            <div class="t-container t-align_center">
                <div class="t-col t-col_10 t-prefix_1">
                    <div class="t015__title t-title t-title_lg" field="title" style="">
                        <div style="font-size:42px;" data-customstyle="yes">Информационные партнеры</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="r t-rec t-rec_pt_0 t-rec_pb_0" data-animationappear="off" >
    <!-- t603-->
    <div class="t603">
        <div class="t603__container t-container">
<?php } ?>

