<?php  if(!empty($data['doc'])){ ?>
    <?php $path = '/data/db/f_partners/'; ?>
    <?php $abs_path = $_SERVER['DOCUMENT_ROOT']. $path; ?>
    <?php if( is_file($abs_path.$data['doc']) ){ ?>
        <div class="t603__tile t603__tile_25" itemscope="" itemtype="http://schema.org/ImageObject">
<a href="<?= $data['url']?>" title="<?= $data['name']?>" target="_blank">
            <div class="t603__blockimg t603__blockimg_1-1 t-bgimg loaded" bgimgfield="gi_img__0"
                 data-zoom-target="0"
                 data-original="/reimg<?= $path.$data['doc']?>?295x295"
                 style="background: url('/reimg<?= $path.$data['doc']?>?100x100') center center / contain no-repeat;"
                 src="">
                <meta itemprop="image"
                      content="/reimg<?= $path.$data['doc']?>?295x295">
            </div>
</a>
        </div>
    <?php } ?>
<?php } ?>