<?php if (sizeof($_KAT['SEARCH_RES']) > 0) { ?>
<div id="rec111870207" class="r t-rec t-rec_pt_120 t-rec_pb_30" style="padding-top:120px;padding-bottom:30px; "
     data-record-type="33"><!-- T017 -->
    <div class="t017">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <h2 class="t017__title t-title t-title_xxs" field="title">
                    Проекты номинации
                </h2>
            </div>
        </div>
    </div>
</div>
<?php }