<div id="rec111869372" class="r t-rec t-rec_pt_45 t-rec_pb_45" style="padding-top:45px;padding-bottom:45px; "
     data-record-type="47"><!-- T033 -->
    <div class="t033">
        <div class="t-container">
            <div class="t-col t-col_4 ">
                <div class="t033__lineTop"></div>
                <div class="t033__title t-title" style="" field="title">
                    <strong>"<?=$data['name']?>"</strong><br>
                    <?= $data['leader']?><?= (!empty($data['region_name']))?' - '.$data['region_name']:'';?>
                </div>
            </div>
            <div class="t-col t-col_8 ">
                <div class="t033__descr t-descr t-descr_xl" style="" field="text">
                    <?= nl2br($data['cont_org'])?><br/>
                </div>
            </div>
        </div>
    </div>
</div>