<?php if (empty($_SESSION['SESS_AUTH']['ID'])) { ?>

        <li class="dropdown">

            <a href="/auth/login">
                <i class="icon-user"></i>
                <?= Main::get_lang_str('Authorization', 'auth')?>
            </a>

        </li>

        <li class="dropdown">

            <a href="/auth/register">
                <i class="icon-file"></i>
                <?= Main::get_lang_str('Registration', 'auth')?>

            </a>

        </li>

<?php } else {
    $ava = (is_file($_SERVER['DOCUMENT_ROOT'] . $_SESSION['SESS_AUTH']['AVATAR'])) ? $_SESSION['SESS_AUTH']['AVATAR'] : $_CORE->TEMPLATES . $_CORE->CURR_TPL . '/images/avatar/default.jpg';
    ?>
    <li class="user-profile treeview">
        <a href="javascript:;">
            <img src="<?= $ava ?>" alt="user">
            <span><?= $_SESSION['SESS_AUTH']['NAME'] ?></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/auth/update"><i class="fa fa-user mr-5"></i><?= Main::get_lang_str('Profile', 'auth')?></a></li>
            <li><a href="/auth/logoff"><i class="fa fa-power-off mr-5"></i><?= Main::get_lang_str('Logoff', 'auth')?></a></li>
        </ul>
    </li>

<?php } ?>
