
<div class="col-md-8">
	<div class="widget stacked ">
		
		<div class="widget-header">
			<i class="icon-user"></i>
			<h3><?= Main::get_lang_str('Your account', 'auth');?></h3>
		</div> <!-- /widget-header -->
		
		<div class="widget-content">
			
			
			
			<div class="tabbable">
			<ul class="nav nav-tabs">
			  <li class="active">
			    <a href="#profile" data-toggle="tab"><?= Main::get_lang_str('Profile', 'auth');?></a>
			  </li>
			</ul>
			
			<br>
			
				<div class="tab-content">
					<div class="tab-pane active" id="profile">
						<form id="edit-profile" class="form-horizontal col-md-8" method=POST ACTION='/auth/update' enctype="multipart/form-data" autocomplete="false">
							<fieldset>
							<table cellspacing=1 cellpadding=3>
								<? $cform->Body_print();?>
								
								<tr>
									<td class=tabright>&nbsp;</td>
									<td>
										<div class="form-group">
											<div class="col-md-offset-4 col-md-8">
												<input type="submit" name="submit" value="<?= Main::get_lang_str('Save', 'auth');?>" class="btn btn-primary">
											</div>
										</div> <!-- /form-actions -->
									</td>
								</tr>
							</table>
							</fieldset>
						</form>
					</div>
					
				</div>
			  
			  
			</div>
		</div> <!-- /widget-content -->
			
	</div> <!-- /widget -->
	
</div>
<script>
    setTimeout(function(){$('[type=password]').val('');}, 500);
</script>