<!--allrecords-->
<div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="822916" data-tilda-page-id="6278702"  data-tilda-formskey="781d16928441b077c84ced39bec63a84"   >

<div id="rec111463264" class="r t-rec t-rec_pt_0" style="padding-top:0px;background-color:#000000; " data-animationappear="off" data-record-type="257"   data-bg-color="#000000">

<!-- T228 -->
<div id="nav111463264marker"></div>
  <div class="t228__mobile">
    <div class="t228__mobile_container">
      <div class="t228__mobile_text t-name t-name_md" field="text">&nbsp;</div> 
      <div class="t228__burger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>  
    </div>
  </div>
<div id="nav111463264" class="t228 t228__hidden t228__positionfixed " style="background-color: rgba(0,0,0,1); height:80px; " data-bgcolor-hex="#000000" data-bgcolor-rgba="rgba(0,0,0,1)" data-navmarker="nav111463264marker" data-appearoffset="" data-bgopacity-two="" data-menushadow="" data-bgopacity="1"   data-menu-items-align="right" data-menu="yes">
    <div class="t228__maincontainer " style="height:80px;">
          <div class="t228__padding40px"></div>
          
          <div class="t228__leftside">
                        <div class="t228__leftcontainer">    
                <div class="t228__logo t-title" field="title" style="color:#ffffff;">РСВ</div>            </div>
                      </div>
        
          <div class="t228__centerside t228__menualign_right">
                        <div class="t228__centercontainer">
            <ul class="t228__list ">
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#about"  style="color:#ffffff;font-weight:600;letter-spacing:0.5px;" data-menu-item-number="1">О конкурсе</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#for"  style="color:#ffffff;font-weight:600;letter-spacing:0.5px;" data-menu-item-number="2">Для кого</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#news"  style="color:#ffffff;font-weight:600;letter-spacing:0.5px;" data-menu-item-number="3">Новости</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#program"  style="color:#ffffff;font-weight:600;letter-spacing:0.5px;" data-menu-item-number="4">Программа</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#experts"  style="color:#ffffff;font-weight:600;letter-spacing:0.5px;" data-menu-item-number="5">Эксперты</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#mentors"  style="color:#ffffff;font-weight:600;letter-spacing:0.5px;" data-menu-item-number="6">Менторы</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#speakers"  style="color:#ffffff;font-weight:600;letter-spacing:0.5px;" data-menu-item-number="7">Преподаватели</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#ask"  style="color:#ffffff;font-weight:600;letter-spacing:0.5px;" data-menu-item-number="8">Задать вопрос</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#contacts"  style="color:#ffffff;font-weight:600;letter-spacing:0.5px;" data-menu-item-number="9">Контакты</a></li>
                    
                        </ul>
            </div>
                      </div>
          
          <div class="t228__rightside">
                          <div class="t228__rightcontainer">
                                                    <div class="t228__right_share_buttons t228__transp-white">
                      <script type="text/javascript" src="images/js__ya-share.js" charset="utf-8"></script>
                      <div class="ya-share2" data-access-token:facebook="" data-yashareL10n="en" data-services="facebook,vkontakte,odnoklassniki," data-counter=""></div>        
                    </div>
                                            
                                    <div class="t228__right_buttons">
                        <div class="t228__right_buttons_wrap">
                          <div class="t228__right_buttons_but"><a href="members/login" target="" class="t-btn "  style="color:#000000;background-color:#ffffff;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;"><table style="width:100%; height:100%;"><tr><td>Личный кабинет</td></tr></table></a></div>                              
                        </div>
                    </div>
                                        
             </div>
                       </div>
          
          <div class="t228__padding40px"></div>    
  </div>
</div>
<style>
@media screen and (max-width: 980px) {
  #rec111463264 .t228__leftcontainer{
    padding: 20px;
  }
}
@media screen and (max-width: 980px) {
  #rec111463264 .t228__imglogo{
    padding: 20px 0;
  }
}
</style>

<script type="text/javascript">
    
      $(document).ready(function() {
        t228_highlight();
        
                t228_checkAnchorLinks('111463264');
                        
      }); 
    
 

$(window).resize(function() {
    t228_setBg('111463264');
});
$(document).ready(function() {
    t228_setBg('111463264');
});     
</script>
<script type="text/javascript">
      
        $(document).ready(function() {
            t228_createMobileMenu('111463264');
        }); 
    
</script>
      
  
<!--[if IE 8]>
<style>
#rec111463264 .t228 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9000000', endColorstr='#D9000000');
}
</style>
<![endif]-->

</div>


<div id="rec111463265" class="r t-rec" style=" " data-animationappear="off" data-record-type="204"   >
<!-- cover -->
	




<div class="t-cover" id="recorddiv111463265" bgimgfield="img" style="height:100vh; background-image:-webkit-linear-gradient(top, #ccc, #777); background-image:-moz-linear-gradient(top, #ccc, #777); background-image:-o-linear-gradient(top, #ccc, #777); background-image:-ms-linear-gradient(top, #ccc, #777); background-image:linear-gradient(top, #ccc, #777); " >

	<div class="t-cover__carrier" id="coverCarry111463265" data-content-cover-id="111463265"  data-content-cover-bg="" data-content-cover-height="100vh" data-content-cover-parallax=""        style="height:100vh;background-attachment:scroll; "></div>

    <div class="t-cover__filter" style="height:100vh;background-image: -moz-linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));background-image: -o-linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));background-image: -ms-linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));background-image: linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4cffffff', endColorstr='#33000000');"></div>

	<div class="t-container">
        <div class="t-col t-col_8">
			<div class="t-cover__wrapper t-valign_middle" style="height:100vh; position: relative;z-index: 1;">
                <div class="t181">
                  <div data-hook-content="covercontent">
                  <div class="t181__wrapper">
                    <h1 class="t181__title t-title t-title_md t-animate" data-animate-style="fadeinright" data-animate-group="yes" style="" field="title"><span style="font-weight: 300;">22 июля / 2019<br /></span><br />Культурная инициатива и лидерство в креативных проектах</h1>                    <div class="t181__descr t-descr t-descr_lg t-opacity_70 t-animate" data-animate-style="fadeinright" data-animate-group="yes" style="opacity:0.80;" field="descr"><div style="font-size:30px;" data-customstyle="yes">Участие в конкурсе бесплатное</div></div>                                        <div style="margin-top:30px;">
                          <a href="" target="" class="t-btn   t-animate"    data-animate-style="fadeinright" data-animate-group="yes" style="color:#141414;background-color:#ffffff;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;"><table style="width:100%; height:100%;"><tr><td>Подать заявку</td></tr></table></a>                                              </div>
                                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- arrow -->
  <div class="t-cover__arrow"><div class="t-cover__arrow-wrapper t-cover__arrow-wrapper_animated"><div class="t-cover__arrow_mobile"><svg class="t-cover__arrow-svg" style="fill:#ffffff;" x="0px" y="0px" width="38.417px" height="18.592px" viewBox="0 0 38.417 18.592" style="enable-background:new 0 0 38.417 18.592;"><g><path d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z"/></g></svg></div></div></div>
  <!-- arrow -->
  

</div>
    
<style>

#rec111463265 .t-btn[data-btneffects-first],
#rec111463265 .t-btn[data-btneffects-second],
#rec111463265 .t-submit[data-btneffects-first],
#rec111463265 .t-submit[data-btneffects-second] {
	position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}





</style>



<script type="text/javascript">

$(document).ready(function() {
	

	

});

</script>
</div>


<div id="rec113490523" class="r t-rec" style=" "  data-record-type="215"   >
<a name="about" style="font-size:0;"></a>
</div>


<div id="rec111463266" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px;background-color:#ffffff; "  data-record-type="472"   data-bg-color="#ffffff">
<!-- T472 -->
<div class="t472">
  <div class="t-container t-align_center">
    <div class="t-col t-col_10 t-prefix_1">
      <div class="t472__title t-section__title t-title t-title_md t-margin_auto" field="title" style="">О конкурсе</div>      <div class="t472__descr t-section__descr t-descr t-descr_xxl t-margin_auto" field="descr" style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>    </div>
		<div class="t-row t-clear">
							<div class="t-col t-col_4">
					<div class="t472__blockimg t-bgimg" bgimgfield="img"  data-original="images/tild6164-3139-4535-b664-343164626166__14035367059_5456114ce1_o1.jpg" style="background: url('images/tild6164-3139-4535-b664-343164626166__-__resizeb__20x__14035367059_5456114ce1_o1.jpg') center center no-repeat; background-size:cover;" ></div>
				</div>
										<div class="t-col t-col_4">
					<div class="t472__blockimg t-bgimg" bgimgfield="img2"  data-original="images/tild6435-3864-4531-a135-376464646363__14437742134_7a730420f2_k.jpg" style="background: url('images/tild6435-3864-4531-a135-376464646363__-__resizeb__20x__14437742134_7a730420f2_k.jpg') center center no-repeat; background-size:cover;" ></div>
				</div>
										<div class="t-col t-col_4">
					<div class="t472__blockimg t-bgimg" bgimgfield="img3"  data-original="images/tild3635-6564-4662-b039-373134633739__14198841286_1b4ec3b211_k.jpg" style="background: url('images/tild3635-6564-4662-b039-373134633739__-__resizeb__20x__14198841286_1b4ec3b211_k.jpg') center center no-repeat; background-size:cover;" ></div>
				</div>
					</div>    	
  </div>
</div>
</div>


<div id="rec113490861" class="r t-rec" style=" "  data-record-type="215"   >
<a name="for" style="font-size:0;"></a>
</div>


<div id="rec112311654" class="r t-rec t-rec_pt_120 t-rec_pb_45" style="padding-top:120px;padding-bottom:45px; "  data-record-type="218"   >
<!-- T005 -->
<div class="t005">
	<div class="t-container">
		<div class="t-row">
			<div class="t-col t-col_6 "><div class="t005__text t-text t-text_md" style="" field="text"><span style="font-size: 38px;">Для кого</span><br /><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br /></div></div>
			<div class="t-col t-col_6 "><div class="t005__text t-text t-text_md" style="" field="text2"><span style="font-size: 38px;">Призы</span><br /><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div></div>
		</div>
	</div>
</div>
</div>


<div id="rec111463267" class="r t-rec" style=" " data-animationappear="off" data-record-type="506"   >
<!-- T506 -->
<!-- cover -->
	




<div class="t-cover" id="recorddiv111463267" bgimgfield="img" style="height:75vh; background-image:-webkit-linear-gradient(top, #ccc, #777); background-image:-moz-linear-gradient(top, #ccc, #777); background-image:-o-linear-gradient(top, #ccc, #777); background-image:-ms-linear-gradient(top, #ccc, #777); background-image:linear-gradient(top, #ccc, #777); " >

	<div class="t-cover__carrier" id="coverCarry111463267" data-content-cover-id="111463267"  data-content-cover-bg="" data-content-cover-height="75vh" data-content-cover-parallax=""        style="height:75vh;background-attachment:scroll; "></div>

    <div class="t-cover__filter" style="height:75vh;background-image: -moz-linear-gradient(top, rgba(122,117,117,0.70), rgba(0,0,0,1));background-image: -webkit-linear-gradient(top, rgba(122,117,117,0.70), rgba(0,0,0,1));background-image: -o-linear-gradient(top, rgba(122,117,117,0.70), rgba(0,0,0,1));background-image: -ms-linear-gradient(top, rgba(122,117,117,0.70), rgba(0,0,0,1));background-image: linear-gradient(top, rgba(122,117,117,0.70), rgba(0,0,0,1));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4c7a7575', endColorstr='#00000000');"></div>

<div class="t506">  	  
    
  
    <div class="t-container">                 
        <div class="t-cover__wrapper t-valign_middle" style="height:75vh;">                                        	          
            <div class="t506__wrapper" data-hook-content="covercontent">                                                  
            
            	
              
            <div class="t506__blockswrapper">  
            <div class="t506__col t-col t-col_4 t-item">
                <div class="t506__title t-title t-title_xl" style="" field="title">50<br />экспертов</div>
                                <div class="t506__text t-descr t-descr_sm" style="" field="descr">Профессионалы из индустрии расскажут о самом важном</div>
            </div>
                        <div class="t506__col t-col t-col_4 t-item">
                <div class="t506__title t-title t-title_xl" style="" field="title2">7<br />занятий</div>
                                <div class="t506__text t-descr t-descr_sm" style="" field="descr2">Программа и огромное количество контента</div>
            </div>
                                    <div class="t506__col t-col t-col_4 t-item">
                <div class="t506__title t-title t-title_xl" style="" field="title3">300<br />проектов</div>
                                <div class="t506__text t-descr t-descr_sm" style="" field="descr3">Конференция объединит участников со всей страны</div>
            </div>
                                    </div>  
              
                                       
          </div>                              
        </div>
    </div>
</div>

  

</div>
    
<script type="text/javascript">
  $(document).ready(function() {
    $('.t506').bind('displayChanged',function(){
                var t506_el = $("#rec111463267");
        t506_el.find("div[data-hook-content]").css('height', 'auto');
        var t506_hcover=t506_el.find(".t-cover").height();
        var t506_hcontent=t506_el.find("div[data-hook-content]").outerHeight();
        if(t506_hcontent>300 && t506_hcover<t506_hcontent){
         var t506_hcontent=t506_hcontent+120;
         if(t506_hcontent>1000){t506_hcontent+=100;}
         t506_el.find(".t-cover").height(t506_hcontent);
         t506_el.find(".t-cover__filter").height(t506_hcontent);
         t506_el.find(".t-cover__carrier").height(t506_hcontent);
         t506_el.find(".t-cover__wrapper").height(t506_hcontent);
         if($isMobile == false){
          setTimeout(function() {
           var t506_divvideo=t506_el.find(".t-cover__carrier");
           if(t506_divvideo.find('iframe').length>0){
      setWidthHeightYoutubeVideo(t506_divvideo, t506_hcontent+'px');
     }
    }, 2000);
   }
}
    });
  }); 
</script>

</div>


<div id="rec111463268" class="r t-rec" style=" "  data-record-type="215"   >
<a name="news" style="font-size:0;"></a>
</div>


<div id="rec111473973" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px; "  data-record-type="795"   >
<!-- T795 -->
<div class="t795">
  <div class="t-container t-align_center">
    <div class="t-col t-col_10 t-prefix_1">
      <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">Новости</div>          </div>
  </div>
</div>
</div>


<div id="rec111473553" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px; "  data-record-type="24"   >
<!-- T007 -->
<div class="t007">
    <div class="t-container">
        <div class="t-row">
            <div class="t-col t-col_4">
                            <div class="t007__text t-text t-text_md" style="" field="text">Personal response depends on the viewer's thoughts and values individually. This might be sometimes in conflict with cultural values. Also when a viewer has viewed an image with a personal perspective, it is than hard to change the view of the image on the viewer, even the image also can be seen in other ways.<br /><br /><a href="авпрвапрв" style="">Зарегистрироваться</a></div>
            </div>
            <div class="t-col t-col_4">
              <div class="t007__text t-text t-text_md" style="" field="text2">An image's view can be arising from the history of the use media. Through times sort images have been changed, because the use of different (new) media. For example: The result of using the computer to edit images (e.g. Photoshop) is quite different when comparing images that are made and edited by craft.<br /><br /><br /></div>
            </div>
            <div class="t-col t-col_4">
              <div class="t007__text t-text t-text_md" style="" field="text3">Cultural perspective involves identity of symbols. The uses of words that are related with the image, the use of heroes in the image, etc. are the symbolization of the image. The cultural perspective can also be seen as the semiotic perspective.<br /><br /><a href="уцацукецукецке" style="">Зарегистрироваться</a><br /><br /></div>
            </div>			
        </div>
    </div>
</div>
</div>


<div id="rec113490570" class="r t-rec" style=" "  data-record-type="215"   >
<a name="program" style="font-size:0;"></a>
</div>


<div id="rec111472348" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px; "  data-record-type="565"   >
<!-- T565 -->
<div class="t565">
  		<div class="t-section__container t-container">
		<div class="t-col t-col_12">
			<div class="t-section__topwrapper t-align_center">
				<div class="t-section__title t-title t-title_xs" field="btitle">Программа</div>							</div>
		</div>
	</div>
		  <div class="t-container t565__container">
                          <div class="t565__item" >
      <div class="t-width t-width_8 t565__mainblock">
        <div class="t565__col">
          <div class="t565__linewrapper">
          <div class="t565__line" style="width: 2px;"></div>
          <div class="t565__circle" style=" border-width: 2px;  ">
            <div class="t565__number t-name t-name_md" style="">1</div>
          </div>
          </div>
          <div class="t565__block" >
                        <div class="t565__title t-name t-name_lg" field="li_title__1479137044697" style="">Подготовка</div>            <div class="t565__descr t-text t-text_xs" field="li_descr__1479137044697" style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>                      </div>
        </div>
      </div>
      </div>
                          <div class="t565__item" >
      <div class="t-width t-width_8 t565__mainblock">
        <div class="t565__col t565__flipped">
          <div class="t565__linewrapper">
          <div class="t565__line" style="width: 2px;"></div>
          <div class="t565__circle" style=" border-width: 2px;  ">
            <div class="t565__number t-name t-name_md" style="">2</div>
          </div>
          </div>
          <div class="t565__block-flipped" >
                        <div class="t565__title t-name t-name_lg" field="li_title__1479137356907" style="">#делайсам</div>            <div class="t565__descr t-text t-text_xs" field="li_descr__1479137356907" style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>                      </div>
        </div>
      </div>
      </div>
                          <div class="t565__item" >
      <div class="t-width t-width_8 t565__mainblock">
        <div class="t565__col">
          <div class="t565__linewrapper">
          <div class="t565__line" style="width: 2px;"></div>
          <div class="t565__circle" style=" border-width: 2px;  ">
            <div class="t565__number t-name t-name_md" style="">3</div>
          </div>
          </div>
          <div class="t565__block" >
                        <div class="t565__title t-name t-name_lg" field="li_title__1479137790652" style="">1 модуль</div>            <div class="t565__descr t-text t-text_xs" field="li_descr__1479137790652" style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>                      </div>
        </div>
      </div>
      </div>
                          <div class="t565__item" >
      <div class="t-width t-width_8 t565__mainblock">
        <div class="t565__col t565__flipped">
          <div class="t565__linewrapper">
          <div class="t565__line" style="width: 2px;"></div>
          <div class="t565__circle" style=" border-width: 2px;  ">
            <div class="t565__number t-name t-name_md" style="">4</div>
          </div>
          </div>
          <div class="t565__block-flipped" >
                        <div class="t565__title t-name t-name_lg" field="li_title__1479137793455" style="">#делайсам</div>            <div class="t565__descr t-text t-text_xs" field="li_descr__1479137793455" style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>                      </div>
        </div>
      </div>
      </div>
                          <div class="t565__item" >
      <div class="t-width t-width_8 t565__mainblock">
        <div class="t565__col">
          <div class="t565__linewrapper">
          <div class="t565__line" style="width: 2px;"></div>
          <div class="t565__circle" style=" border-width: 2px;  ">
            <div class="t565__number t-name t-name_md" style="">5</div>
          </div>
          </div>
          <div class="t565__block" >
                        <div class="t565__title t-name t-name_lg" field="li_title__1560954544107" style="">2 модуль</div>            <div class="t565__descr t-text t-text_xs" field="li_descr__1560954544107" style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>                      </div>
        </div>
      </div>
      </div>
                          <div class="t565__item" >
      <div class="t-width t-width_8 t565__mainblock">
        <div class="t565__col t565__flipped">
          <div class="t565__linewrapper">
          <div class="t565__line" style="width: 2px;"></div>
          <div class="t565__circle" style=" border-width: 2px;  ">
            <div class="t565__number t-name t-name_md" style="">6</div>
          </div>
          </div>
          <div class="t565__block-flipped" >
                        <div class="t565__title t-name t-name_lg" field="li_title__1560954551255" style="">3 модуль</div>            <div class="t565__descr t-text t-text_xs" field="li_descr__1560954551255" style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>                      </div>
        </div>
      </div>
      </div>
          </div>
  	

</div>
</div>


<div id="rec112401583" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px; "  data-record-type="191"   >
<!-- T142 -->
<div class="t142">
	<div class="t-container_100">
	  <div class="t142__wrapone">
		<div class="t142__wraptwo">
          <a href="http://" target=""  class=""><div class="t-btn t142__submit " style="color:#000000;border:3px solid #000000;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;" >Подать заявку</div></a>
        </div>
	  </div>
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    t142_checkSize('112401583');
  });
    $(window).load(function() {
      t142_checkSize('112401583');
    });
</script>

<style>

#rec112401583 .t-btn[data-btneffects-first],
#rec112401583 .t-btn[data-btneffects-second],
#rec112401583 .t-submit[data-btneffects-first],
#rec112401583 .t-submit[data-btneffects-second] {
	position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}





</style>



<script type="text/javascript">

$(document).ready(function() {
	

	

});

</script>
</div>


<div id="rec111478653" class="r t-rec t-rec_pt_90 t-rec_pb_0" style="padding-top:90px;padding-bottom:0px; "  data-record-type="795"   >
<!-- T795 -->
<div class="t795">
  <div class="t-container t-align_center">
    <div class="t-col t-col_10 t-prefix_1">
      <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">Записи открытых лекций</div>          </div>
  </div>
</div>
</div>


<div id="rec111478151" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px; "  data-record-type="251"   >
<!-- T223 -->
<div class="t223">
	<div class="t-container">
      <div class="t223-col t-col t-col_6">
          <div class="t-video-lazyload" data-videolazy-type="youtube" data-videolazy-id="XEfDYMngJeE" data-blocklazy-id="111478151" data-videolazy-load="false" data-videolazy-height="315" data-videolazy-two-id="1">
          </div>
          <div class="t223__blocktext t-text t-text_sm" field="text">Открытая лекция<br />22 июля</div>      </div>      
      <div class="t223-col t223-col_right t-col t-col_6">
          <div class="t-video-lazyload" data-videolazy-type="youtube" data-videolazy-id="1dy5wKtJxEY " data-blocklazy-id="111478151" data-videolazy-load="false" data-videolazy-height="315" data-videolazy-two-id="2">
	      </div>
	      <div class="t223__blocktext t-text t-text_sm" field="text2">Открытая лекция<br />5 августа</div>      </div>            
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    var div = $("#rec111478151").find(".t-video-lazyload");
    var iframe = div.find('iframe');
    var height=div.width() * 0.5625;
    div.height(height);
    iframe.height(height);
    $('.t223').bind('displayChanged',function(){
        height=div.width() * 0.5625;
        div.height(height);
        iframe.height(height);
    });
    $(window).bind('scroll', t_throttle(function() {
        height=div.width() * 0.5625;
        div.height(height);
        iframe.height(height);
    }, 200));
});
</script>  

</div>


<div id="rec113490606" class="r t-rec" style=" "  data-record-type="215"   >
<a name="experts" style="font-size:0;"></a>
</div>


<div id="rec111463269" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px;background-color:#ffffff; "  data-record-type="524"   data-bg-color="#ffffff">
<!-- t524 -->
<div class="t524">
		<div class="t-section__container t-container">
		<div class="t-col t-col_12">
			<div class="t-section__topwrapper t-align_center">
				<div class="t-section__title t-title t-title_xs" field="btitle">Эксперты</div>				<div class="t-section__descr t-descr t-descr_xl t-margin_auto" field="bdescr">Это уникальная возможность познакомиться с известными Экспертами отрасли во время нашего конкурса</div>			</div>
		</div>
	</div>
		
<div class="t524__container t-container">
      <div class="t524__col t-col t-col_3 t-align_center t524__col-mobstyle">
		<div class="t524__itemwrapper t524__itemwrapper_4">
						<div class="t524__imgwrapper t-margin_auto" style="width:200px;">
		    <div class="t524__bgimg  t-margin_auto t-bgimg"  bgimgfield="li_img__1477995899606" data-original="images/tild3036-3431-4162-a136-343665663038__23.jpg" style="background-image: url('images/tild3036-3431-4162-a136-343665663038__-__resizeb__20x__23.jpg');"  ></div>
						</div>
				    <div class="t524__wrappercenter">
	      <div class="t524__persname t-name t-name_lg t524__bottommargin_sm" style="" field="li_persname__1477995899606">Кэрил Милс</div>	      <div class="t524__persdescr t-descr t-descr_xxs " style="" field="li_persdescr__1477995899606">Разработчик в <a href="https://tilda.cc/">CruTech</a></div>	      	    </div>
		</div>
  </div>
      <div class="t524__col t-col t-col_3 t-align_center t524__col-mobstyle">
		<div class="t524__itemwrapper t524__itemwrapper_4">
						<div class="t524__imgwrapper t-margin_auto" style="width:200px;">
		    <div class="t524__bgimg  t-margin_auto t-bgimg"  bgimgfield="li_img__1477996238469" data-original="images/tild3463-6133-4232-b934-636236356337__24.jpg" style="background-image: url('images/tild3463-6133-4232-b934-636236356337__-__resizeb__20x__24.jpg');"  ></div>
						</div>
				    <div class="t524__wrappercenter">
	      <div class="t524__persname t-name t-name_lg t524__bottommargin_sm" style="" field="li_persname__1477996238469">Елена Жданич</div>	      <div class="t524__persdescr t-descr t-descr_xxs " style="" field="li_persdescr__1477996238469">Креативный директор в <a href="https://tilda.cc/tpls/page/?q=bureau">DD agency</a></div>	      	    </div>
		</div>
  </div>
      <div class="t524__col t-col t-col_3 t-align_center t524__col-mobstyle">
		<div class="t524__itemwrapper t524__itemwrapper_4">
						<div class="t524__imgwrapper t-margin_auto" style="width:200px;">
		    <div class="t524__bgimg  t-margin_auto t-bgimg"  bgimgfield="li_img__1477996247186" data-original="images/tild6363-3131-4366-b030-363133393233__22.jpg" style="background-image: url('images/tild6363-3131-4366-b030-363133393233__-__resizeb__20x__22.jpg');"  ></div>
						</div>
				    <div class="t524__wrappercenter">
	      <div class="t524__persname t-name t-name_lg t524__bottommargin_sm" style="" field="li_persname__1477996247186">Галина Логинова</div>	      <div class="t524__persdescr t-descr t-descr_xxs " style="" field="li_persdescr__1477996247186">Арт-директор в <a href="https://tilda.cc/">MAG</a></div>	      	    </div>
		</div>
  </div>
      <div class="t524__col t-col t-col_3 t-align_center t524__col-mobstyle">
		<div class="t524__itemwrapper t524__itemwrapper_4">
						<div class="t524__imgwrapper t-margin_auto" style="width:200px;">
		    <div class="t524__bgimg  t-margin_auto t-bgimg"  bgimgfield="li_img__1481897574118" data-original="images/tild3534-3130-4136-a531-643366303237__30.jpg" style="background-image: url('images/tild3534-3130-4136-a531-643366303237__-__resizeb__20x__30.jpg');"  ></div>
						</div>
				    <div class="t524__wrappercenter">
	      <div class="t524__persname t-name t-name_lg t524__bottommargin_sm" style="" field="li_persname__1481897574118">Рита Стайн</div>	      <div class="t524__persdescr t-descr t-descr_xxs " style="" field="li_persdescr__1481897574118">Основатель <a href="/" target="_blank" style="">G&amp;L</a></div>	      	    </div>
		</div>
  </div>
      <div class="t-clear t524__separator" style=""></div>
    <div class="t524__col t-col t-col_3 t-align_center t524__col-mobstyle">
		<div class="t524__itemwrapper t524__itemwrapper_4">
						<div class="t524__imgwrapper t-margin_auto" style="width:200px;">
		    <div class="t524__bgimg  t-margin_auto t-bgimg"  bgimgfield="li_img__1481897575898" data-original="images/tild6461-3139-4331-a365-356461656339__26.jpg" style="background-image: url('images/tild6461-3139-4331-a365-356461656339__-__resizeb__20x__26.jpg');"  ></div>
						</div>
				    <div class="t524__wrappercenter">
	      <div class="t524__persname t-name t-name_lg t524__bottommargin_sm" style="" field="li_persname__1481897575898">Роза Гончарова</div>	      <div class="t524__persdescr t-descr t-descr_xxs " style="" field="li_persdescr__1481897575898">Директор по маркетингу в <a href="/" target="_blank" style="">FUN PIX</a></div>	      	    </div>
		</div>
  </div>
      <div class="t524__col t-col t-col_3 t-align_center t524__col-mobstyle">
		<div class="t524__itemwrapper t524__itemwrapper_4">
						<div class="t524__imgwrapper t-margin_auto" style="width:200px;">
		    <div class="t524__bgimg  t-margin_auto t-bgimg"  bgimgfield="li_img__1481897577591" data-original="images/tild6162-6537-4964-b564-666131663836__25.jpg" style="background-image: url('images/tild6162-6537-4964-b564-666131663836__-__resizeb__20x__25.jpg');"  ></div>
						</div>
				    <div class="t524__wrappercenter">
	      <div class="t524__persname t-name t-name_lg t524__bottommargin_sm" style="" field="li_persname__1481897577591">Леонид Калачёв</div>	      <div class="t524__persdescr t-descr t-descr_xxs " style="" field="li_persdescr__1481897577591">Фотограф и путешественник</div>	      	    </div>
		</div>
  </div>
</div>
	


</div>
</div>


<div id="rec111473075" class="r t-rec" style=" "  data-record-type="215"   >
<a name="mentors" style="font-size:0;"></a>
</div>


<div id="rec111469465" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px;background-color:#ffffff; "  data-record-type="524"   data-bg-color="#ffffff">
<!-- t524 -->
<div class="t524">
		<div class="t-section__container t-container">
		<div class="t-col t-col_12">
			<div class="t-section__topwrapper t-align_center">
				<div class="t-section__title t-title t-title_xs" field="btitle">Менторы</div>				<div class="t-section__descr t-descr t-descr_xl t-margin_auto" field="bdescr">Профессионалы окажут поддержку и помогут в проработке ваших проектов</div>			</div>
		</div>
	</div>
		
<div class="t524__container t-container">
      <div class="t524__col t-col t-col_3 t-align_center t524__col-mobstyle">
		<div class="t524__itemwrapper t524__itemwrapper_4">
						<div class="t524__imgwrapper t-margin_auto" style="width:250px;">
		    <div class="t524__bgimg  t-margin_auto t-bgimg"  bgimgfield="li_img__1477995899606" data-original="images/tild3036-3431-4162-a136-343665663038__23.jpg" style="background-image: url('images/tild3036-3431-4162-a136-343665663038__-__resizeb__20x__23.jpg');"  ></div>
						</div>
				    <div class="t524__wrappercenter">
	      <div class="t524__persname t-name t-name_lg t524__bottommargin_sm" style="" field="li_persname__1477995899606">Кэрил Милс</div>	      <div class="t524__persdescr t-descr t-descr_xxs " style="" field="li_persdescr__1477995899606">Разработчик в <a href="https://tilda.cc/">CruTech</a></div>	      	    </div>
		</div>
  </div>
      <div class="t524__col t-col t-col_3 t-align_center t524__col-mobstyle">
		<div class="t524__itemwrapper t524__itemwrapper_4">
						<div class="t524__imgwrapper t-margin_auto" style="width:250px;">
		    <div class="t524__bgimg  t-margin_auto t-bgimg"  bgimgfield="li_img__1477996238469" data-original="images/tild3463-6133-4232-b934-636236356337__24.jpg" style="background-image: url('images/tild3463-6133-4232-b934-636236356337__-__resizeb__20x__24.jpg');"  ></div>
						</div>
				    <div class="t524__wrappercenter">
	      <div class="t524__persname t-name t-name_lg t524__bottommargin_sm" style="" field="li_persname__1477996238469">Елена Жданич</div>	      <div class="t524__persdescr t-descr t-descr_xxs " style="" field="li_persdescr__1477996238469">Креативный директор в <a href="https://tilda.cc/tpls/page/?q=bureau">DD agency</a></div>	      	    </div>
		</div>
  </div>
      <div class="t524__col t-col t-col_3 t-align_center t524__col-mobstyle">
		<div class="t524__itemwrapper t524__itemwrapper_4">
						<div class="t524__imgwrapper t-margin_auto" style="width:250px;">
		    <div class="t524__bgimg  t-margin_auto t-bgimg"  bgimgfield="li_img__1477996247186" data-original="images/tild6363-3131-4366-b030-363133393233__22.jpg" style="background-image: url('images/tild6363-3131-4366-b030-363133393233__-__resizeb__20x__22.jpg');"  ></div>
						</div>
				    <div class="t524__wrappercenter">
	      <div class="t524__persname t-name t-name_lg t524__bottommargin_sm" style="" field="li_persname__1477996247186">Галина Логинова</div>	      <div class="t524__persdescr t-descr t-descr_xxs " style="" field="li_persdescr__1477996247186">Арт-директор в <a href="https://tilda.cc/">MAG</a></div>	      	    </div>
		</div>
  </div>
      <div class="t524__col t-col t-col_3 t-align_center t524__col-mobstyle">
		<div class="t524__itemwrapper t524__itemwrapper_4">
						<div class="t524__imgwrapper t-margin_auto" style="width:250px;">
		    <div class="t524__bgimg  t-margin_auto t-bgimg"  bgimgfield="li_img__1481897574118" data-original="images/tild3534-3130-4136-a531-643366303237__30.jpg" style="background-image: url('images/tild3534-3130-4136-a531-643366303237__-__resizeb__20x__30.jpg');"  ></div>
						</div>
				    <div class="t524__wrappercenter">
	      <div class="t524__persname t-name t-name_lg t524__bottommargin_sm" style="" field="li_persname__1481897574118">Рита Стайн</div>	      <div class="t524__persdescr t-descr t-descr_xxs " style="" field="li_persdescr__1481897574118">Основатель <a href="/" target="_blank" style="">G&amp;L</a></div>	      	    </div>
		</div>
  </div>
      <div class="t-clear t524__separator" style=""></div>
    <div class="t524__col t-col t-col_3 t-align_center t524__col-mobstyle">
		<div class="t524__itemwrapper t524__itemwrapper_4">
						<div class="t524__imgwrapper t-margin_auto" style="width:250px;">
		    <div class="t524__bgimg  t-margin_auto t-bgimg"  bgimgfield="li_img__1481897575898" data-original="images/tild6461-3139-4331-a365-356461656339__26.jpg" style="background-image: url('images/tild6461-3139-4331-a365-356461656339__-__resizeb__20x__26.jpg');"  ></div>
						</div>
				    <div class="t524__wrappercenter">
	      <div class="t524__persname t-name t-name_lg t524__bottommargin_sm" style="" field="li_persname__1481897575898">Роза Гончарова</div>	      <div class="t524__persdescr t-descr t-descr_xxs " style="" field="li_persdescr__1481897575898">Директор по маркетингу в <a href="/" target="_blank" style="">FUN PIX</a></div>	      	    </div>
		</div>
  </div>
      <div class="t524__col t-col t-col_3 t-align_center t524__col-mobstyle">
		<div class="t524__itemwrapper t524__itemwrapper_4">
						<div class="t524__imgwrapper t-margin_auto" style="width:250px;">
		    <div class="t524__bgimg  t-margin_auto t-bgimg"  bgimgfield="li_img__1481897577591" data-original="images/tild6162-6537-4964-b564-666131663836__25.jpg" style="background-image: url('images/tild6162-6537-4964-b564-666131663836__-__resizeb__20x__25.jpg');"  ></div>
						</div>
				    <div class="t524__wrappercenter">
	      <div class="t524__persname t-name t-name_lg t524__bottommargin_sm" style="" field="li_persname__1481897577591">Леонид Калачёв</div>	      <div class="t524__persdescr t-descr t-descr_xxs " style="" field="li_persdescr__1481897577591">Фотограф и путешественник</div>	      	    </div>
		</div>
  </div>
</div>
	


</div>
</div>


<div id="rec113491005" class="r t-rec" style=" "  data-record-type="215"   >
<a name="speakers" style="font-size:0;"></a>
</div>


<div id="rec111477540" class="r t-rec t-rec_pt_120 t-rec_pb_120" style="padding-top:120px;padding-bottom:120px;background-color:#ffffff; "  data-record-type="524"   data-bg-color="#ffffff">
<!-- t524 -->
<div class="t524">
		<div class="t-section__container t-container">
		<div class="t-col t-col_12">
			<div class="t-section__topwrapper t-align_center">
				<div class="t-section__title t-title t-title_xs" field="btitle">Преподаватели</div>				<div class="t-section__descr t-descr t-descr_xl t-margin_auto" field="bdescr">Профессионалы окажут поддержку и помогут в проработке ваших проектов</div>			</div>
		</div>
	</div>
		
<div class="t524__container t-container">
      <div class="t524__col t-col t-col_3 t-align_center t524__col-mobstyle">
		<div class="t524__itemwrapper t524__itemwrapper_4">
						<div class="t524__imgwrapper t-margin_auto" style="width:250px;">
		    <div class="t524__bgimg  t-margin_auto t-bgimg"  bgimgfield="li_img__1477995899606" data-original="images/tild3036-3431-4162-a136-343665663038__23.jpg" style="background-image: url('images/tild3036-3431-4162-a136-343665663038__-__resizeb__20x__23.jpg');"  ></div>
						</div>
				    <div class="t524__wrappercenter">
	      <div class="t524__persname t-name t-name_lg t524__bottommargin_sm" style="" field="li_persname__1477995899606">Кэрил Милс</div>	      <div class="t524__persdescr t-descr t-descr_xxs " style="" field="li_persdescr__1477995899606">Разработчик в <a href="https://tilda.cc/">CruTech</a></div>	      	    </div>
		</div>
  </div>
      <div class="t524__col t-col t-col_3 t-align_center t524__col-mobstyle">
		<div class="t524__itemwrapper t524__itemwrapper_4">
						<div class="t524__imgwrapper t-margin_auto" style="width:250px;">
		    <div class="t524__bgimg  t-margin_auto t-bgimg"  bgimgfield="li_img__1477996238469" data-original="images/tild3463-6133-4232-b934-636236356337__24.jpg" style="background-image: url('images/tild3463-6133-4232-b934-636236356337__-__resizeb__20x__24.jpg');"  ></div>
						</div>
				    <div class="t524__wrappercenter">
	      <div class="t524__persname t-name t-name_lg t524__bottommargin_sm" style="" field="li_persname__1477996238469">Елена Жданич</div>	      <div class="t524__persdescr t-descr t-descr_xxs " style="" field="li_persdescr__1477996238469">Креативный директор в <a href="https://tilda.cc/tpls/page/?q=bureau">DD agency</a></div>	      	    </div>
		</div>
  </div>
      <div class="t524__col t-col t-col_3 t-align_center t524__col-mobstyle">
		<div class="t524__itemwrapper t524__itemwrapper_4">
						<div class="t524__imgwrapper t-margin_auto" style="width:250px;">
		    <div class="t524__bgimg  t-margin_auto t-bgimg"  bgimgfield="li_img__1477996247186" data-original="images/tild6363-3131-4366-b030-363133393233__22.jpg" style="background-image: url('images/tild6363-3131-4366-b030-363133393233__-__resizeb__20x__22.jpg');"  ></div>
						</div>
				    <div class="t524__wrappercenter">
	      <div class="t524__persname t-name t-name_lg t524__bottommargin_sm" style="" field="li_persname__1477996247186">Галина Логинова</div>	      <div class="t524__persdescr t-descr t-descr_xxs " style="" field="li_persdescr__1477996247186">Арт-директор в <a href="https://tilda.cc/">MAG</a></div>	      	    </div>
		</div>
  </div>
      <div class="t524__col t-col t-col_3 t-align_center t524__col-mobstyle">
		<div class="t524__itemwrapper t524__itemwrapper_4">
						<div class="t524__imgwrapper t-margin_auto" style="width:250px;">
		    <div class="t524__bgimg  t-margin_auto t-bgimg"  bgimgfield="li_img__1481897574118" data-original="images/tild3534-3130-4136-a531-643366303237__30.jpg" style="background-image: url('images/tild3534-3130-4136-a531-643366303237__-__resizeb__20x__30.jpg');"  ></div>
						</div>
				    <div class="t524__wrappercenter">
	      <div class="t524__persname t-name t-name_lg t524__bottommargin_sm" style="" field="li_persname__1481897574118">Рита Стайн</div>	      <div class="t524__persdescr t-descr t-descr_xxs " style="" field="li_persdescr__1481897574118">Основатель <a href="/" target="_blank" style="">G&amp;L</a></div>	      	    </div>
		</div>
  </div>
      <div class="t-clear t524__separator" style=""></div>
    <div class="t524__col t-col t-col_3 t-align_center t524__col-mobstyle">
		<div class="t524__itemwrapper t524__itemwrapper_4">
						<div class="t524__imgwrapper t-margin_auto" style="width:250px;">
		    <div class="t524__bgimg  t-margin_auto t-bgimg"  bgimgfield="li_img__1481897575898" data-original="images/tild6461-3139-4331-a365-356461656339__26.jpg" style="background-image: url('images/tild6461-3139-4331-a365-356461656339__-__resizeb__20x__26.jpg');"  ></div>
						</div>
				    <div class="t524__wrappercenter">
	      <div class="t524__persname t-name t-name_lg t524__bottommargin_sm" style="" field="li_persname__1481897575898">Роза Гончарова</div>	      <div class="t524__persdescr t-descr t-descr_xxs " style="" field="li_persdescr__1481897575898">Директор по маркетингу в <a href="/" target="_blank" style="">FUN PIX</a></div>	      	    </div>
		</div>
  </div>
      <div class="t524__col t-col t-col_3 t-align_center t524__col-mobstyle">
		<div class="t524__itemwrapper t524__itemwrapper_4">
						<div class="t524__imgwrapper t-margin_auto" style="width:250px;">
		    <div class="t524__bgimg  t-margin_auto t-bgimg"  bgimgfield="li_img__1481897577591" data-original="images/tild6162-6537-4964-b564-666131663836__25.jpg" style="background-image: url('images/tild6162-6537-4964-b564-666131663836__-__resizeb__20x__25.jpg');"  ></div>
						</div>
				    <div class="t524__wrappercenter">
	      <div class="t524__persname t-name t-name_lg t524__bottommargin_sm" style="" field="li_persname__1481897577591">Леонид Калачёв</div>	      <div class="t524__persdescr t-descr t-descr_xxs " style="" field="li_persdescr__1481897577591">Фотограф и путешественник</div>	      	    </div>
		</div>
  </div>
</div>
	


</div>
</div>


<div id="rec111463275" class="r t-rec t-rec_pt_90 t-rec_pb_60" style="padding-top:90px;padding-bottom:60px;background-color:#000000; "  data-record-type="43"   data-bg-color="#000000">
<!-- T030 -->
<div class="t030">
  <div class="t-container t-align_center">
    <div class="t-col t-col_10 t-prefix_1">      
      <div class="t030__title t-title t-title_xxs" field="title" style=""><div style="color:#ffffff;" data-customstyle="yes">22 августа / 2019<br /></div></div>      <div class="t030__descr t-descr t-descr_md" field="descr" style=""><div style="color:#ffffff;" data-customstyle="yes"><strong>Музей дизайна и моды, </strong>ул. Августина 24, город Лиссабон<br /><br />первая очная встреча участников</div></div>    </div>
  </div>
</div>
</div>


<div id="rec111463276" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px;background-color:#000000; "  data-record-type="125"   data-bg-color="#000000">
<!-- T117 -->
<div class="t117">
	<div class="t-width t-width_10 t-margin_auto">
		<div class="t-map-lazyload t117_map" data-maplazy-load="false" style="background-color:rgb(229, 227, 223);"><div class="t-map" id="separateMap111463276" data-map-language="" data-map-x="55.751979" data-map-y="37.617499" data-map-zoom="16" data-map-title="Moscow" style="width:100%; height:385px;"
          ></div>

<script type="text/javascript">
  var arMapMarkers111463276 = [
            {
        title:"Lissabon",
        descr:"",
        lat:"38.709265",
        lng:"-9.137004",
    },
          ];

$(document).ready(function() {
  t_map_lazyload_add_map();
  $(window).bind('scroll', t_throttle(t_map_lazyload_add_map, 300));

  function t_map_lazyload_add_map() {
      var windowHeight = $(window).height();
      var scrollDiffHeigth = 700;
      var rec = $('#rec' + 111463276);
      var map = rec.find('.t-map-lazyload');

      if (map.length != 0) {
          var blockTop = map.offset().top;

          if ($(window).scrollTop() > blockTop - windowHeight - scrollDiffHeigth) {
              if (map.attr('data-maplazy-load') == 'false') {
                  map.attr('data-maplazy-load', 'true');
                  t_appendGoogleMap("111463276","");
              }
          }
      }
  }
});

</script></div>
	</div>
</div>
<script type="text/javascript">
    var fireRefreshEventOnWindow = function () {
       var evt = document.createEvent("HTMLEvents");
       evt.initEvent('resize', true, false);
       window.dispatchEvent(evt);
   };
    $('.t117').bind('displayChanged',function(){
      fireRefreshEventOnWindow();
    });
</script> 
</div>


<div id="rec111463277" class="r t-rec" style=" "  data-record-type="215"   >
<a name="contacts" style="font-size:0;"></a>
</div>


<div id="rec111463278" class="r t-rec t-rec_pt_90 t-rec_pb_150" style="padding-top:90px;padding-bottom:150px;background-color:#000000; "  data-record-type="551"   data-bg-color="#000000">
<!-- t551-->
<div class="t551">
  <div class="t-container">
    <div class="t-col t-col_6 t-prefix_3 t-align_center">      
      <div class="t551__title t-name t-name_xs" style="color:#ffffff;" field="title" data-animate-order="1">Контакты:<br /></div>      <div class="t551__contacts t-title t-title_xxs" style="color:#ffffff;" field="text" data-animate-order="2" data-animate-delay="0.3">+7 999 999 99 99<br />info@rsv.ru</div>                 
      	  <div class="t-sociallinks">
  <div class="t-sociallinks__wrapper">
      <div class="t-sociallinks__item">
      <a href="https://google.com" target="_blank">
                  <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"><desc>Facebook</desc><path style="fill:#000000;" d="M47.761,24c0,13.121-10.638,23.76-23.758,23.76C10.877,47.76,0.239,37.121,0.239,24c0-13.124,10.638-23.76,23.764-23.76C37.123,0.24,47.761,10.876,47.761,24 M20.033,38.85H26.2V24.01h4.163l0.539-5.242H26.2v-3.083c0-1.156,0.769-1.427,1.308-1.427h3.318V9.168L26.258,9.15c-5.072,0-6.225,3.796-6.225,6.224v3.394H17.1v5.242h2.933V38.85z"/></svg>
              </a>
    </div>
        <div class="t-sociallinks__item">
      <a href="https://google.com" target="_blank">
                  <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"><desc>Twitter</desc><path style="fill:#000000;" d="M47.762,24c0,13.121-10.639,23.76-23.761,23.76S0.24,37.121,0.24,24c0-13.124,10.639-23.76,23.761-23.76  S47.762,10.876,47.762,24 M38.031,12.375c-1.177,0.7-2.481,1.208-3.87,1.481c-1.11-1.186-2.694-1.926-4.455-1.926  c-3.364,0-6.093,2.729-6.093,6.095c0,0.478,0.054,0.941,0.156,1.388c-5.063-0.255-9.554-2.68-12.559-6.367  c-0.524,0.898-0.825,1.947-0.825,3.064c0,2.113,1.076,3.978,2.711,5.07c-0.998-0.031-1.939-0.306-2.761-0.762v0.077  c0,2.951,2.1,5.414,4.889,5.975c-0.512,0.14-1.05,0.215-1.606,0.215c-0.393,0-0.775-0.039-1.146-0.109  c0.777,2.42,3.026,4.182,5.692,4.232c-2.086,1.634-4.712,2.607-7.567,2.607c-0.492,0-0.977-0.027-1.453-0.084  c2.696,1.729,5.899,2.736,9.34,2.736c11.209,0,17.337-9.283,17.337-17.337c0-0.263-0.004-0.527-0.017-0.789  c1.19-0.858,2.224-1.932,3.039-3.152c-1.091,0.485-2.266,0.811-3.498,0.958C36.609,14.994,37.576,13.8,38.031,12.375"/></svg>
              </a>
    </div>
                  <div class="t-sociallinks__item">
      <a href="https://google.com" target="_blank">
                  <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px" viewBox="0 0 30 30" xml:space="preserve"><desc>Instagram</desc><path style="fill:#000000;" d="M15,11.014 C12.801,11.014 11.015,12.797 11.015,15 C11.015,17.202 12.802,18.987 15,18.987 C17.199,18.987 18.987,17.202 18.987,15 C18.987,12.797 17.199,11.014 15,11.014 L15,11.014 Z M15,17.606 C13.556,17.606 12.393,16.439 12.393,15 C12.393,13.561 13.556,12.394 15,12.394 C16.429,12.394 17.607,13.561 17.607,15 C17.607,16.439 16.444,17.606 15,17.606 L15,17.606 Z"></path><path style="fill:#000000;" d="M19.385,9.556 C18.872,9.556 18.465,9.964 18.465,10.477 C18.465,10.989 18.872,11.396 19.385,11.396 C19.898,11.396 20.306,10.989 20.306,10.477 C20.306,9.964 19.897,9.556 19.385,9.556 L19.385,9.556 Z"></path><path style="fill:#000000;" d="M15.002,0.15 C6.798,0.15 0.149,6.797 0.149,15 C0.149,23.201 6.798,29.85 15.002,29.85 C23.201,29.85 29.852,23.202 29.852,15 C29.852,6.797 23.201,0.15 15.002,0.15 L15.002,0.15 Z M22.666,18.265 C22.666,20.688 20.687,22.666 18.25,22.666 L11.75,22.666 C9.312,22.666 7.333,20.687 7.333,18.28 L7.333,11.734 C7.333,9.312 9.311,7.334 11.75,7.334 L18.25,7.334 C20.688,7.334 22.666,9.312 22.666,11.734 L22.666,18.265 L22.666,18.265 Z"></path></svg>
              </a>
    </div>
            
  </div>
</div>
      				
        
    </div>
  </div>
</div>
</div>


<div id="rec111463270" class="r t-rec" style=" "  data-record-type="215"   >
<a name="ask" style="font-size:0;"></a>
</div>


<div id="rec111721791" class="r t-rec t-rec_pt_120 t-rec_pb_90" style="padding-top:120px;padding-bottom:90px; " data-animationappear="off" data-record-type="678"   >
<!-- t678 -->
<div class="t678 ">
  
  			<div class="t-section__container t-container">
		<div class="t-col t-col_12">
			<div class="t-section__topwrapper t-align_center">
				<div class="t-section__title t-title t-title_xs" field="btitle">Задать вопрос</div>				<div class="t-section__descr t-descr t-descr_xl" field="bdescr">Вы можете задать ваш вопрос в службу поддержки</div>			</div>
		</div>
	</div>
		
    <div class="t-container">
        <div class="t-col t-col_8 t-prefix_2">
        <div>
                                  	  		                  	  		                  	  		                  	  		
    <form id="form111721791" name='form111721791' role="form" action='' method='POST' data-formactiontype="0" data-inputbox=".t-input-group"   class="t-form js-form-proccess t-form_inputs-total_4  "  data-success-callback="t678_onSuccess"  >
	
	  		<!-- NO ONE SERVICES CONNECTED -->	        
            
            <div class="js-successbox t-form__successbox t-text t-text_md" style="display:none;"></div>

            <div class="t-form__inputsbox">

				
            <div class="t-input-group t-input-group_nm" data-input-lid="1494858943227">
          <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1494858943227" style="">Имя</div>                    <div class="t-input-block">
                          <input type="text" name="Name" class="t-input js-tilda-rule " value="" placeholder="Представьтесь"  data-tilda-rule="name" style="color:#000000; border:1px solid #000000;  ">
                    <div class="t-input-error"></div>
          </div>
      </div>


            <div class="t-input-group t-input-group_em" data-input-lid="1493283059688">
          <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1493283059688" style="">E-mail</div>                    <div class="t-input-block">
                          <input type="text" name="Email" class="t-input js-tilda-rule " value="" placeholder="Ваш E-mail" data-tilda-req="1" data-tilda-rule="email" style="color:#000000; border:1px solid #000000;  ">
                    <div class="t-input-error"></div>
          </div>
      </div>


            <div class="t-input-group t-input-group_ph" data-input-lid="1495040492013">
          <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1495040492013" style="">Телефон</div>                    <div class="t-input-block">
          		  	                   		<input type="tel" name="Phone" class="t-input js-tilda-rule  " value=""   data-tilda-rule="phone" pattern="[0-9]*"  style="color:#000000; border:1px solid #000000;  ">
                                    <div class="t-input-error"></div>
          </div>
      </div>


            <div class="t-input-group t-input-group_ta" data-input-lid="1495027254430">
          <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1495027254430" style="">Задайте ваш вопрос</div>                    <div class="t-input-block">
                          <textarea name="Задайте ваш вопрос" class="t-input js-tilda-rule "   style="color:#000000; border:1px solid #000000;  height:170px" rows="5"></textarea>
                    <div class="t-input-error"></div>
          </div>
      </div>





				<div class="t-form__errorbox-middle">
					                <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;">
                    <div class="t-form__errorbox-text t-text t-text_md">
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-all"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-req"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-email"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-name"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-phone"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-minlength"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-string"></p>
                    </div>
                </div>				</div>

                <div class="t-form__submit">
                    <button type="submit" class="t-submit" style="color:#ffffff;background-color:#000000;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;" >Отправить</button>
                </div>

            </div>

            <div class="t-form__errorbox-bottom">
            	                <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;">
                    <div class="t-form__errorbox-text t-text t-text_md">
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-all"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-req"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-email"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-name"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-phone"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-minlength"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-string"></p>
                    </div>
                </div>            </div>


    </form>


		
	<style>
	#rec111721791 input::-webkit-input-placeholder {color:#000000; opacity: 0.5;}
	#rec111721791 input::-moz-placeholder          {color:#000000; opacity: 0.5;}
	#rec111721791 input:-moz-placeholder           {color:#000000; opacity: 0.5;}
	#rec111721791 input:-ms-input-placeholder      {color:#000000; opacity: 0.5;}
	#rec111721791 textarea::-webkit-input-placeholder {color:#000000; opacity: 0.5;}
	#rec111721791 textarea::-moz-placeholder          {color:#000000; opacity: 0.5;}
	#rec111721791 textarea:-moz-placeholder           {color:#000000; opacity: 0.5;}
	#rec111721791 textarea:-ms-input-placeholder      {color:#000000; opacity: 0.5;}
	</style>
	
	        </div>  
		            
        </div>   
    </div>              
</div>
                                    
                  

<style>

#rec111721791 .t-btn[data-btneffects-first],
#rec111721791 .t-btn[data-btneffects-second],
#rec111721791 .t-submit[data-btneffects-first],
#rec111721791 .t-submit[data-btneffects-second] {
	position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}





</style>



<script type="text/javascript">

$(document).ready(function() {
	

	

});

</script>
</div>


<div id="rec111463279" class="r t-rec t-rec_pt_60 t-rec_pb_15" style="padding-top:60px;padding-bottom:15px;background-color:#0d0d0d; "  data-record-type="106"   data-bg-color="#0d0d0d">
<!-- T004 -->
<div class="t004">
	<div class="t-container t-align_center">
	  	<div class="t-col t-col_8 t-prefix_2">
			<div field="text" class="t-text t-text_md  " style=""><div style="font-size:14px;color:#9d9d9d;" data-customstyle="yes">"Культурная инициатива и лидерство в креативных проектах"<br /><br />О конкурсе | Новости | Программа | Эксперты | Менторы | Преподаватели | Контакты</div></div>
		</div>
	</div>
</div>
</div>


<div id="rec111463280" class="r t-rec t-rec_pt_0 t-rec_pb_60" style="padding-top:0px;padding-bottom:60px;background-color:#0d0d0d; "  data-record-type="56"   data-bg-color="#0d0d0d">
<!-- T046 -->
<div class="t046">
	<div class="t-container">
		<div class="t-col t-col_6 t-prefix_3">
			<div class="t046__text t-text t-text_xs" style="" field="text"><div style="color:#9d9d9d;" data-customstyle="yes"></div></div>
		</div>
	</div>
</div>
</div>

</div>
<!--/allrecords-->
