<!--allrecords-->
<div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="822916" data-tilda-page-id="6535346" data-tilda-page-alias="faq" data-tilda-formskey="781d16928441b077c84ced39bec63a84"   >

<div id="rec115595291" class="r t-rec" style=" " data-animationappear="off" data-record-type="257"   >

<!-- T228 -->
<div id="nav115595291marker"></div>
<div id="nav115595291" class="t228  t228__positionabsolute " style="background-color: rgba(0,0,0,1);  " data-bgcolor-hex="#000000" data-bgcolor-rgba="rgba(0,0,0,1)" data-navmarker="nav115595291marker" data-appearoffset="" data-bgopacity-two="" data-menushadow="" data-bgopacity="1"   data-menu-items-align="right" data-menu="yes">
    <div class="t228__maincontainer t228__c12collumns" style="">
          <div class="t228__padding40px"></div>
          
          <div class="t228__leftside">
                        <div class="t228__leftcontainer">    
                <a href="/"  style="color:#ffffff;font-weight:600;"><div class="t228__logo t-title" field="title" style="color:#ffffff;font-weight:600;">РСВ</div></a>            </div>
                      </div>
        
          <div class="t228__centerside t228__menualign_right">
                        <div class="t228__centercontainer">
            <ul class="t228__list ">
                        <li class="t228__list_item"><a class="t-menu__link-item" href="/"  style="color:#ffffff;font-weight:600;" data-menu-item-number="1">Главная</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href=""  style="color:#ffffff;font-weight:600;" data-menu-item-number="2">Новости</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href=""  style="color:#ffffff;font-weight:600;" data-menu-item-number="3">Вопросы</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href=""  style="color:#ffffff;font-weight:600;" data-menu-item-number="4">Положение</a></li>
                    
                        </ul>
            </div>
                      </div>
          
          <div class="t228__rightside">
                          <div class="t228__rightcontainer">
                                                    <div class="t228__right_share_buttons t228__transp-white">
                      <script type="text/javascript" src="images/js__ya-share.js" charset="utf-8"></script>
                      <div class="ya-share2" data-access-token:facebook="" data-yashareL10n="en" data-services="facebook,vkontakte,odnoklassniki," data-counter=""></div>        
                    </div>
                                            
                                    <div class="t228__right_buttons">
                        <div class="t228__right_buttons_wrap">
                          <div class="t228__right_buttons_but"><a href="" target="" class="t-btn "  style="color:#000000;background-color:#ffffff;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;"><table style="width:100%; height:100%;"><tr><td>Личный кабинет</td></tr></table></a></div>                              
                        </div>
                    </div>
                                        
             </div>
                       </div>
          
          <div class="t228__padding40px"></div>    
  </div>
</div>
<script type="text/javascript">
    
      $(document).ready(function() {
        t228_highlight();
        
                        
      }); 
    
 

$(window).resize(function() {
    t228_setBg('115595291');
});
$(document).ready(function() {
    t228_setBg('115595291');
});     
</script>

      
<style>
#rec115595291 .t-menu__link-item{
	  -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;	
		}

#rec115595291 .t-menu__link-item.t-active{
  color:#fd836c !important;    }
@supports (overflow:-webkit-marquee) and (justify-content:inherit)
{
  #rec115595291 .t-menu__link-item,
  #rec115595291 .t-menu__link-item.t-active {
    opacity: 1 !important;
  }
}
</style>
  
<!--[if IE 8]>
<style>
#rec115595291 .t228 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9000000', endColorstr='#D9000000');
}
</style>
<![endif]-->

</div>


<div id="rec115595292" class="r t-rec" style=" " data-animationappear="off" data-record-type="18"   >
<!-- cover -->
	




<div class="t-cover" id="recorddiv115595292" bgimgfield="img" style="height:60vh; background-image:-webkit-linear-gradient(top, #ccc, #777); background-image:-moz-linear-gradient(top, #ccc, #777); background-image:-o-linear-gradient(top, #ccc, #777); background-image:-ms-linear-gradient(top, #ccc, #777); background-image:linear-gradient(top, #ccc, #777); " >

	<div class="t-cover__carrier" id="coverCarry115595292" data-content-cover-id="115595292"  data-content-cover-bg="" data-content-cover-height="60vh" data-content-cover-parallax="dynamic"        style="height:60vh;background-attachment:scroll; "></div>

    <div class="t-cover__filter" style="height:60vh;background-image: -moz-linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));background-image: -o-linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));background-image: -ms-linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));background-image: linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4cffffff', endColorstr='#33000000');"></div>

	<div class="t-container">
        <div class="t-col t-col_8 ">
			<div class="t-cover__wrapper t-valign_middle" style="height:60vh;">
                <div class="t001 t-align_left">
                  <div class="t001__wrapper" data-hook-content="covercontent">
                                        <div class="t001__title t-title t-title_xl" style="" field="title">Вопросы</div>                                        <span class="space"></span>
                  </div>
                </div>
            </div>
        </div>
    </div>
  

</div>
    
</div>


<div id="rec115595293" class="r t-rec t-rec_pt_120 t-rec_pb_120" style="padding-top:120px;padding-bottom:120px; "  data-record-type="127"   >
<!-- T119 -->
<div class="t119">
	<div class="t-container ">
	  	<div class="t-col t-col_8 t-prefix_2">
			<div class="t119__preface t-descr t-opacity_70" style="color:#000000;font-size:30px;opacity:1;" field="text">Ответили на самые популярные вопросы о событии. Если вы не нашли ответа, мы с радостью ответим вам по почте. Писать на info@rsv.ru</div>
		</div>
	</div>
</div>
</div>


<div id="rec115595294" class="r t-rec t-rec_pt_0 t-rec_pb_135" style="padding-top:0px;padding-bottom:135px; "  data-record-type="512"   >
<!-- t512 -->

<div class="t512">
		
<div class="t-container">
            <div class="t-col t-col_8 t-prefix_2 t-item">
    <div class="t-cell t-valign_top">
          </div>
    <div class="t512__textwrapper  t-cell t-valign_top" style="">
      <div class="t-name t-name_md t512__bottommargin" style="" field="li_title__1476961779840">Как проходит процесс регистрации?</div>      <div class="t-descr t-descr_sm" style="color:#666666;" field="li_descr__1476961779840">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>    </div>
  </div>
      <div class="t-clear t512__separator" style="margin-bottom:50px;"></div>
          <div class="t-col t-col_8 t-prefix_2 t-item">
    <div class="t-cell t-valign_top">
          </div>
    <div class="t512__textwrapper  t-cell t-valign_top" style="">
      <div class="t-name t-name_md t512__bottommargin" style="" field="li_title__1476961806716">Сколько человек может присутствовать?</div>      <div class="t-descr t-descr_sm" style="color:#666666;" field="li_descr__1476961806716">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>    </div>
  </div>
      <div class="t-clear t512__separator" style="margin-bottom:50px;"></div>
          <div class="t-col t-col_8 t-prefix_2 t-item">
    <div class="t-cell t-valign_top">
          </div>
    <div class="t512__textwrapper  t-cell t-valign_top" style="">
      <div class="t-name t-name_md t512__bottommargin" style="" field="li_title__1476961822275">Что нужно иметь с собой?</div>      <div class="t-descr t-descr_sm" style="color:#666666;" field="li_descr__1476961822275">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>    </div>
  </div>
      <div class="t-clear t512__separator" style="margin-bottom:50px;"></div>
          <div class="t-col t-col_8 t-prefix_2 t-item">
    <div class="t-cell t-valign_top">
          </div>
    <div class="t512__textwrapper  t-cell t-valign_top" style="">
      <div class="t-name t-name_md t512__bottommargin" style="" field="li_title__1513693070434">Как попасть на мероприятие?</div>      <div class="t-descr t-descr_sm" style="color:#666666;" field="li_descr__1513693070434">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>    </div>
  </div>
      <div class="t-clear t512__separator" style="margin-bottom:50px;"></div>
          <div class="t-col t-col_8 t-prefix_2 t-item">
    <div class="t-cell t-valign_top">
          </div>
    <div class="t512__textwrapper  t-cell t-valign_top" style="">
      <div class="t-name t-name_md t512__bottommargin" style="" field="li_title__1513693072225">Условия отмены регистрации</div>      <div class="t-descr t-descr_sm" style="color:#666666;" field="li_descr__1513693072225">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>    </div>
  </div>
</div>
	


</div>
</div>


<div id="rec115595295" class="r t-rec t-rec_pt_120 t-rec_pb_120" style="padding-top:120px;padding-bottom:120px;background-color:#ebebeb; "  data-record-type="106"   data-bg-color="#ebebeb">
<!-- T004 -->
<div class="t004">
	<div class="t-container t-align_center">
	  	<div class="t-col t-col_8 t-prefix_2">
			<div field="text" class="t-text t-text_md  " style=""><span style="font-weight: 500;">Контакты:<br /></span><br />E-mail: <strong>info@rsv.ru</strong><br />Телефон: <span style="font-weight: 500;">+7 (999) 999 99 99</span><br /></div>
		</div>
	</div>
</div>
</div>


<div id="rec115595296" class="r t-rec t-rec_pt_0 t-rec_pb_30" style="padding-top:0px;padding-bottom:30px;background-color:#303030; "  data-record-type="144"   data-bg-color="#303030">
<!-- T134 -->

<div class="t134">
	<div class="t-container">
		<div class="t-col t-col_10 t-prefix_1">
		  				<div class="t134__descr" field="descr" style="color:#ffffff;"><br />"Культурная инициатива и лидерство в креативных проектах"<br /></div>		</div>
	</div>
</div>
</div>


<div id="rec115595297" class="r t-rec" style=" "  data-record-type="394"   >

		
<style>
#allrecords  .t-text a,
#allrecords  .t-descr a,
#allrecords  .t-heading a,
#allrecords  .t-title a,
#allrecords  .t-impact-text a,
#allrecords  .t-text-impact a,
#allrecords  .t-name a:not(.t794__typo),
#allrecords  .t-uptitle a{
  color: #000000;
  font-weight: inherit;
  border-bottom: 0px solid #000000;
  -webkit-box-shadow: inset 0px -1px 0px 0px #000000;
  -moz-box-shadow: inset 0px -1px 0px 0px #000000;
  box-shadow: inset 0px -1px 0px 0px #000000;
}
</style>

</div>

</div>
<!--/allrecords-->
