<!--allrecords-->
<div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="822916" data-tilda-page-id="6534301" data-tilda-page-alias="news" data-tilda-formskey="781d16928441b077c84ced39bec63a84"   >

<div id="rec115580020" class="r t-rec" style=" " data-animationappear="off" data-record-type="257"   >

<!-- T228 -->
<div id="nav115580020marker"></div>
<div id="nav115580020" class="t228  t228__positionabsolute " style="background-color: rgba(0,0,0,1);  " data-bgcolor-hex="#000000" data-bgcolor-rgba="rgba(0,0,0,1)" data-navmarker="nav115580020marker" data-appearoffset="" data-bgopacity-two="" data-menushadow="" data-bgopacity="1"   data-menu-items-align="right" data-menu="yes">
    <div class="t228__maincontainer t228__c12collumns" style="">
          <div class="t228__padding40px"></div>
          
          <div class="t228__leftside">
                        <div class="t228__leftcontainer">    
                <a href="/"  style="color:#ffffff;font-weight:600;"><div class="t228__logo t-title" field="title" style="color:#ffffff;font-weight:600;">РСВ</div></a>            </div>
                      </div>
        
          <div class="t228__centerside t228__menualign_right">
                        <div class="t228__centercontainer">
            <ul class="t228__list ">
                        <li class="t228__list_item"><a class="t-menu__link-item" href=""  style="color:#ffffff;font-weight:600;" data-menu-item-number="1">Главная</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href=""  style="color:#ffffff;font-weight:600;" data-menu-item-number="2">Новости</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href=""  style="color:#ffffff;font-weight:600;" data-menu-item-number="3">Вопросы</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href=""  style="color:#ffffff;font-weight:600;" data-menu-item-number="4">Положение</a></li>
                    
                        </ul>
            </div>
                      </div>
          
          <div class="t228__rightside">
                          <div class="t228__rightcontainer">
                                                    <div class="t228__right_share_buttons t228__transp-white">
                      <script type="text/javascript" src="images/js__ya-share.js" charset="utf-8"></script>
                      <div class="ya-share2" data-access-token:facebook="" data-yashareL10n="en" data-services="facebook,vkontakte,odnoklassniki," data-counter=""></div>        
                    </div>
                                            
                                    <div class="t228__right_buttons">
                        <div class="t228__right_buttons_wrap">
                          <div class="t228__right_buttons_but"><a href="" target="" class="t-btn "  style="color:#000000;background-color:#ffffff;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;"><table style="width:100%; height:100%;"><tr><td>Личный кабинет</td></tr></table></a></div>                              
                        </div>
                    </div>
                                        
             </div>
                       </div>
          
          <div class="t228__padding40px"></div>    
  </div>
</div>
<script type="text/javascript">
    
      $(document).ready(function() {
        t228_highlight();
        
                        
      }); 
    
 

$(window).resize(function() {
    t228_setBg('115580020');
});
$(document).ready(function() {
    t228_setBg('115580020');
});     
</script>

      
<style>
#rec115580020 .t-menu__link-item{
	  -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;	
		}
#rec115580020 .t-menu__link-item:not(.t-active):not(.tooltipstered):hover{
  color: #fd836c !important;  }

@supports (overflow:-webkit-marquee) and (justify-content:inherit)
{
  #rec115580020 .t-menu__link-item,
  #rec115580020 .t-menu__link-item.t-active {
    opacity: 1 !important;
  }
}
</style>
  
<!--[if IE 8]>
<style>
#rec115580020 .t228 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9000000', endColorstr='#D9000000');
}
</style>
<![endif]-->

</div>


<div id="rec115580021" class="r t-rec" style=" " data-animationappear="off" data-record-type="18"   >
<!-- cover -->
	




<div class="t-cover" id="recorddiv115580021" bgimgfield="img" style="height:60vh; background-image:-webkit-linear-gradient(top, #ccc, #777); background-image:-moz-linear-gradient(top, #ccc, #777); background-image:-o-linear-gradient(top, #ccc, #777); background-image:-ms-linear-gradient(top, #ccc, #777); background-image:linear-gradient(top, #ccc, #777); " >

	<div class="t-cover__carrier" id="coverCarry115580021" data-content-cover-id="115580021"  data-content-cover-bg="" data-content-cover-height="60vh" data-content-cover-parallax="dynamic"        style="height:60vh;background-attachment:scroll; "></div>

    <div class="t-cover__filter" style="height:60vh;background-image: -moz-linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));background-image: -o-linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));background-image: -ms-linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));background-image: linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4cffffff', endColorstr='#33000000');"></div>

	<div class="t-container">
        <div class="t-col t-col_8 ">
			<div class="t-cover__wrapper t-valign_middle" style="height:60vh;">
                <div class="t001 t-align_left">
                  <div class="t001__wrapper" data-hook-content="covercontent">
                                        <div class="t001__title t-title t-title_xl" style="" field="title">Новости</div>                                        <span class="space"></span>
                  </div>
                </div>
            </div>
        </div>
    </div>
  

</div>
    
</div>


<div id="rec115580022" class="r t-rec t-rec_pt_105 t-rec_pb_105" style="padding-top:105px;padding-bottom:105px; "  data-record-type="33"   >
<!-- T017 -->
<div class="t017">
  <div class="t-container t-align_left">
    <div class="t-col t-col_8 t-prefix_1">      
      <div class="t017__uptitle t-uptitle t-uptitle_md" field="subtitle" style="">17.07.17</div>      <div class="t017__title t-title t-title_xxs" field="title" style="font-size:30px;">Заголовок новости</div>      <div class="t017__descr t-descr t-descr_xs" field="descr" style="font-size:20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>    </div>
  </div>
</div>
</div>


<div id="rec115580023" class="r t-rec t-rec_pt_105 t-rec_pb_60" style="padding-top:105px;padding-bottom:60px;background-color:#fafafa; "  data-record-type="33"   data-bg-color="#fafafa">
<!-- T017 -->
<div class="t017">
  <div class="t-container t-align_left">
    <div class="t-col t-col_8 t-prefix_1">      
      <div class="t017__uptitle t-uptitle t-uptitle_md" field="subtitle" style="">15.07.19</div>      <div class="t017__title t-title t-title_xxs" field="title" style="font-size:30px;">Заголовок новости</div>      <div class="t017__descr t-descr t-descr_xs" field="descr" style="font-size:20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>    </div>
  </div>
</div>
</div>


<div id="rec115580025" class="r t-rec t-rec_pt_105 t-rec_pb_120" style="padding-top:105px;padding-bottom:120px; "  data-record-type="33"   >
<!-- T017 -->
<div class="t017">
  <div class="t-container t-align_left">
    <div class="t-col t-col_8 t-prefix_1">      
      <div class="t017__uptitle t-uptitle t-uptitle_md" field="subtitle" style="">10.07.19</div>      <div class="t017__title t-title t-title_xxs" field="title" style="font-size:30px;">Заголовок новости</div>      <div class="t017__descr t-descr t-descr_xs" field="descr" style="font-size:20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>    </div>
  </div>
</div>
</div>


<div id="rec115580027" class="r t-rec t-rec_pt_120 t-rec_pb_120" style="padding-top:120px;padding-bottom:120px;background-color:#f0f0f0; "  data-record-type="106"   data-bg-color="#f0f0f0">
<!-- T004 -->
<div class="t004">
	<div class="t-container t-align_center">
	  	<div class="t-col t-col_8 t-prefix_2">
			<div field="text" class="t-text t-text_md  " style=""><span style="font-weight: 500;">Контакты:<br /></span><br />E-mail: <strong>info@rsv.ru</strong><br />Phone: <span style="font-weight: 500;"><a href="tel:https://www.instagram.com/tildapublishing/" style="color:#000000 !important;text-decoration: none;border-bottom: 0px solid;box-shadow: inset 0px -0px 0px 0px;-webkit-box-shadow: inset 0px -0px 0px 0px;-moz-box-shadow: inset 0px -0px 0px 0px;">+7</a> (999) 999 99 99</span><br /><br /></div>
		</div>
	</div>
</div>
</div>


<div id="rec115580028" class="r t-rec t-rec_pt_0 t-rec_pb_30" style="padding-top:0px;padding-bottom:30px;background-color:#000000; "  data-record-type="144"   data-bg-color="#000000">
<!-- T134 -->

<div class="t134">
	<div class="t-container">
		<div class="t-col t-col_10 t-prefix_1">
		  				<div class="t134__descr" field="descr" style="color:#ffffff;"><br />"Культурная инициатива и лидерство в креативных проектах"<br /></div>		</div>
	</div>
</div>
</div>

</div>
<!--/allrecords-->
