<!--allrecords-->
<div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="822916" data-tilda-page-id="6302437"  data-tilda-formskey="781d16928441b077c84ced39bec63a84"   >

<div id="rec111860548" class="r t-rec t-rec_pt_0" style="padding-top:0px;background-color:#000000; " data-animationappear="off" data-record-type="257"   data-bg-color="#000000">

<!-- T228 -->
<div id="nav111860548marker"></div>
  <div class="t228__mobile">
    <div class="t228__mobile_container">
      <div class="t228__mobile_text t-name t-name_md" field="text">&nbsp;</div> 
      <div class="t228__burger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>  
    </div>
  </div>
<div id="nav111860548" class="t228 t228__hidden t228__positionfixed t228__beforeready" style="background-color: rgba(0,0,0,1); height:80px; " data-bgcolor-hex="#000000" data-bgcolor-rgba="rgba(0,0,0,1)" data-navmarker="nav111860548marker" data-appearoffset="0" data-bgopacity-two="" data-menushadow="" data-bgopacity="1"   data-menu-items-align="right" data-menu="yes">
    <div class="t228__maincontainer " style="height:80px;">
          <div class="t228__padding40px"></div>
          
          <div class="t228__leftside">
                        <div class="t228__leftcontainer">    
                <div class="t228__logo t-title" field="title" style="color:#ffffff;">РСВ</div>            </div>
                      </div>
        
          <div class="t228__centerside t228__menualign_right">
                        <div class="t228__centercontainer">
            <ul class="t228__list ">
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#person"  style="color:#ffffff;font-weight:600;letter-spacing:0.5px;" data-menu-item-number="1">Личные данные</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#project"  style="color:#ffffff;font-weight:600;letter-spacing:0.5px;" data-menu-item-number="2">Работа с проектом</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#working"  style="color:#ffffff;font-weight:600;letter-spacing:0.5px;" data-menu-item-number="3">Работа в Номинации</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#docs"  style="color:#ffffff;font-weight:600;letter-spacing:0.5px;" data-menu-item-number="4">Методические материалы</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="#feedback"  style="color:#ffffff;font-weight:600;letter-spacing:0.5px;" data-menu-item-number="5">Задать вопрос</a></li>
                    
                        </ul>
            </div>
                      </div>
          
          <div class="t228__rightside">
                          <div class="t228__rightcontainer">
                                                            
                                    <div class="t228__right_buttons">
                        <div class="t228__right_buttons_wrap">
                          <div class="t228__right_buttons_but"><a href="members/login" target="" class="t-btn "  style="color:#000000;background-color:#ffffff;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;"><table style="width:100%; height:100%;"><tr><td>Выход</td></tr></table></a></div>                              
                        </div>
                    </div>
                                        
             </div>
                       </div>
          
          <div class="t228__padding40px"></div>    
  </div>
</div>
<style>
@media screen and (max-width: 980px) {
  #rec111860548 .t228__leftcontainer{
    padding: 20px;
  }
}
@media screen and (max-width: 980px) {
  #rec111860548 .t228__imglogo{
    padding: 20px 0;
  }
}
</style>

<script type="text/javascript">
    
      $(document).ready(function() {
        t228_highlight();
        
                t228_checkAnchorLinks('111860548');
                        
      }); 
    
 

$(window).resize(function() {
    t228_setBg('111860548');
});
$(document).ready(function() {
    t228_setBg('111860548');
});     
    
        $(document).ready(function() {
            $('.t228').removeClass('t228__beforeready');      
            t228_appearMenu('111860548');
            $(window).bind('scroll', t_throttle(function(){t228_appearMenu('111860548')}, 200));
        });
    
</script>
<script type="text/javascript">
      
        $(document).ready(function() {
            t228_createMobileMenu('111860548');
        }); 
    
</script>
      
  
<!--[if IE 8]>
<style>
#rec111860548 .t228 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9000000', endColorstr='#D9000000');
}
</style>
<![endif]-->

</div>


<div id="rec111860549" class="r t-rec t-rec_pt_0" style="padding-top:0px; " data-animationappear="off" data-record-type="204"   >
<!-- cover -->
	




<div class="t-cover" id="recorddiv111860549" bgimgfield="img" style="height:60vh; background-image:-webkit-linear-gradient(top, #ccc, #777); background-image:-moz-linear-gradient(top, #ccc, #777); background-image:-o-linear-gradient(top, #ccc, #777); background-image:-ms-linear-gradient(top, #ccc, #777); background-image:linear-gradient(top, #ccc, #777); " >

	<div class="t-cover__carrier" id="coverCarry111860549" data-content-cover-id="111860549"  data-content-cover-bg="" data-content-cover-height="60vh" data-content-cover-parallax=""        style="height:60vh;background-attachment:scroll; "></div>

    <div class="t-cover__filter" style="height:60vh;background-image: -moz-linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));background-image: -o-linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));background-image: -ms-linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));background-image: linear-gradient(top, rgba(255,255,255,0.70), rgba(0,0,0,0.80));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4cffffff', endColorstr='#33000000');"></div>

	<div class="t-container">
        <div class="t-col t-col_8">
			<div class="t-cover__wrapper t-valign_middle" style="height:60vh; position: relative;z-index: 1;">
                <div class="t181">
                  <div data-hook-content="covercontent">
                  <div class="t181__wrapper">
                    <h1 class="t181__title t-title t-title_md t-animate" data-animate-style="fadeinright" data-animate-group="yes" style="" field="title"><br /><span style="font-weight: 300;"><br />Личный кабинет Участника</span></h1>                    <div class="t181__descr t-descr t-descr_lg t-opacity_70 t-animate" data-animate-style="fadeinright" data-animate-group="yes" style="opacity:0.80;" field="descr"><div style="font-size:30px;" data-customstyle="yes"></div></div>                                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- arrow -->
  <div class="t-cover__arrow"><div class="t-cover__arrow-wrapper t-cover__arrow-wrapper_animated"><div class="t-cover__arrow_mobile"><svg class="t-cover__arrow-svg" style="fill:#ffffff;" x="0px" y="0px" width="38.417px" height="18.592px" viewBox="0 0 38.417 18.592" style="enable-background:new 0 0 38.417 18.592;"><g><path d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z"/></g></svg></div></div></div>
  <!-- arrow -->
  

</div>
    
<style>

#rec111860549 .t-btn[data-btneffects-first],
#rec111860549 .t-btn[data-btneffects-second],
#rec111860549 .t-submit[data-btneffects-first],
#rec111860549 .t-submit[data-btneffects-second] {
	position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}





</style>



<script type="text/javascript">

$(document).ready(function() {
	

	

});

</script>
</div>


<div id="rec114779879" class="r t-rec" style=" "  data-record-type="215"   >
<a name="person" style="font-size:0;"></a>
</div>


<div id="rec111862120" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px; "  data-record-type="795"   >
<!-- T795 -->
<div class="t795">
  <div class="t-container t-align_center">
    <div class="t-col t-col_10 t-prefix_1">
      <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">Личные данные</div>          </div>
  </div>
</div>
</div>


<div id="rec111867143" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px; "  data-record-type="431"   >
<!-- t431 -->

<!--color5 — table head border color-->

<div class="t431">
	<div class="t-container">
      <div class="t-col t-col_10 t-prefix_1 t431__tdscale_1 t-text t-text_sm t-align_left t431__mobilescroll">
        <div class="t431__wrapper-for-mobile">
          <div class="t431__table-wapper" data-auto-correct-mobile-width="false">
            <table class="t431__table " style="">
            </table>
          </div>
        </div>
        <div class="t431__data-part1" data-auto-correct-mobile-width="false" data-btn-style="color:#ffffff;border:0px solid #000000;background-color:#000000;border-radius:21px; -moz-border-radius:21px; -webkit-border-radius:21px;" style="display: none;"></div>
        <div class="t431__data-part2" data-auto-correct-mobile-width="false" style="display: none;">Имя:;Иван
Фамилия:;Иванов
Регион:;Москва
Статус:;Одобрен</div>
      </div>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
      var t431__tablehead=$('#rec'+'111867143'+' .t431 .t-container .t431__data-part1').html();
      var t431__tablebody=$('#rec'+'111867143'+' .t431 .t-container .t431__data-part2').html();
      var t431__btnstyles = $('#rec'+'111867143'+' .t431 .t-container .t431__data-part1').attr('data-btn-style');
      var t431__tdstyles = 'font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;';
      var t431__thstyles = 'font-size: inherit; background: ; border-width: 0px 0px 1px 0px; border-color: #000000; color: ; font-size: ; font-family: ; font-weight: ;';
      var t431__oddrowstyles = 'background: #ffffff';
      var t431__evenrowstyles = 'background: #ffffff';
      t431_createTable('111867143',t431__tablehead,t431__tablebody,'25%;75%;','',t431__btnstyles,t431__tdstyles,t431__thstyles,t431__oddrowstyles,t431__evenrowstyles);
      if('' && $('#rec'+'111867143'+' .t431 .t-container .t431__data-part2').html().length>0) {
        setTimeout(function(){ t431_setHeadWidth('111867143'); }, 200);
      }
      
      if('' && $('#rec'+'111867143'+' .t431 .t-container .t431__data-part2').html().length>0) {
      $('.t431').bind('displayChanged',function(){
        t431_setHeadWidth('111867143');
      });      
      }
    });
  	// change the width of thead cells when window resizes
    if('' && $('#rec'+'111867143'+' .t431 .t-container .t431__data-part2').html().length>0) {
      var t431__doResize;
      $(window).resize(function(){
        t431_setHeadWidth('111867143');
        clearTimeout(t431__doResize);
        t431__doResize = setTimeout(function() { t431_setHeadWidth('111867143'); }, 100);
      });
    }

</script>

</div>


<div id="rec111867826" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px; "  data-record-type="191"   >
<!-- T142 -->
<div class="t142">
	<div class="t-container_100">
	  <div class="t142__wrapone">
		<div class="t142__wraptwo">
          <a href="http://" target=""  class=""><div class="t-btn t142__submit " style="color:#000000;border:3px solid #000000;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;" >Редактировать</div></a>
        </div>
	  </div>
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    t142_checkSize('111867826');
  });
    $(window).load(function() {
      t142_checkSize('111867826');
    });
</script>

<style>

#rec111867826 .t-btn[data-btneffects-first],
#rec111867826 .t-btn[data-btneffects-second],
#rec111867826 .t-submit[data-btneffects-first],
#rec111867826 .t-submit[data-btneffects-second] {
	position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}





</style>



<script type="text/javascript">

$(document).ready(function() {
	

	

});

</script>
</div>


<div id="rec114779887" class="r t-rec" style=" "  data-record-type="215"   >
<a name="project" style="font-size:0;"></a>
</div>


<div id="rec111862431" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px; "  data-record-type="795"   >
<!-- T795 -->
<div class="t795">
  <div class="t-container t-align_center">
    <div class="t-col t-col_10 t-prefix_1">
      <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">Проект "Моя культурная столица"</div>          </div>
  </div>
</div>
</div>


<div id="rec111865744" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px; " data-animationappear="off" data-record-type="585"   >

<!-- T585-->
<div class="t585">
  <div class="t-container">
                          <div class="t-col t-col_8 t-prefix_2">
      <div class="t585__accordion">
        <div class="t585__wrapper">
          <div class="t585__header" style=" border-top: 1px solid #eee;">
            <div class="t585__title t-name t-name_xl" field="li_title__1480611048442" style="">Код проекта</div>            <div class="t585__icon">
              <div class="t585__lines">
                <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square">
                    <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                      <path d="M0,11 L22,11"></path>
                      <path d="M11,0 L11,22"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="t585__circle" style="background-color: transparent;"></div>
            </div>
            <div class="t585__icon t585__icon-hover">
              <div class="t585__lines">
                <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square">
                    <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                      <path d="M0,11 L22,11"></path>
                      <path d="M11,0 L11,22"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="t585__circle" style="background-color: #eee;"></div>
            </div>
          </div>
          <div class="t585__content">
            <div class="t585__textwrapper">
                            <div class="t585__text t-descr t-descr_xs" field="li_descr__1480611048442" style="">Ваш код:<strong>JJ345hh8<br /><br /></strong>Подключиться к проекту: </div>            </div>
          </div>
        </div>
      </div>
          </div>
                        <div class="t-col t-col_8 t-prefix_2">
      <div class="t585__accordion">
        <div class="t585__wrapper">
          <div class="t585__header" style=" border-top: 1px solid #eee;">
            <div class="t585__title t-name t-name_xl" field="li_title__1562564105637" style="">Краткое описание</div>            <div class="t585__icon">
              <div class="t585__lines">
                <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square">
                    <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                      <path d="M0,11 L22,11"></path>
                      <path d="M11,0 L11,22"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="t585__circle" style="background-color: transparent;"></div>
            </div>
            <div class="t585__icon t585__icon-hover">
              <div class="t585__lines">
                <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square">
                    <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                      <path d="M0,11 L22,11"></path>
                      <path d="M11,0 L11,22"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="t585__circle" style="background-color: #eee;"></div>
            </div>
          </div>
          <div class="t585__content">
            <div class="t585__textwrapper">
                            <div class="t585__text t-descr t-descr_xs" field="li_descr__1562564105637" style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>            </div>
          </div>
        </div>
      </div>
          </div>
                        <div class="t-col t-col_8 t-prefix_2">
      <div class="t585__accordion">
        <div class="t585__wrapper">
          <div class="t585__header" style=" border-top: 1px solid #eee;">
            <div class="t585__title t-name t-name_xl" field="li_title__1489600117321" style="">Полное описание</div>            <div class="t585__icon">
              <div class="t585__lines">
                <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square">
                    <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                      <path d="M0,11 L22,11"></path>
                      <path d="M11,0 L11,22"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="t585__circle" style="background-color: transparent;"></div>
            </div>
            <div class="t585__icon t585__icon-hover">
              <div class="t585__lines">
                <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square">
                    <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                      <path d="M0,11 L22,11"></path>
                      <path d="M11,0 L11,22"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="t585__circle" style="background-color: #eee;"></div>
            </div>
          </div>
          <div class="t585__content">
            <div class="t585__textwrapper">
                            <div class="t585__text t-descr t-descr_xs" field="li_descr__1489600117321" style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>            </div>
          </div>
        </div>
      </div>
          </div>
                        <div class="t-col t-col_8 t-prefix_2">
      <div class="t585__accordion">
        <div class="t585__wrapper">
          <div class="t585__header" style=" border-top: 1px solid #eee;">
            <div class="t585__title t-name t-name_xl" field="li_title__1561120854346" style="">Файлы (1-я стадия)</div>            <div class="t585__icon">
              <div class="t585__lines">
                <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square">
                    <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                      <path d="M0,11 L22,11"></path>
                      <path d="M11,0 L11,22"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="t585__circle" style="background-color: transparent;"></div>
            </div>
            <div class="t585__icon t585__icon-hover">
              <div class="t585__lines">
                <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square">
                    <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                      <path d="M0,11 L22,11"></path>
                      <path d="M11,0 L11,22"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="t585__circle" style="background-color: #eee;"></div>
            </div>
          </div>
          <div class="t585__content">
            <div class="t585__textwrapper">
                            <div class="t585__text t-descr t-descr_xs" field="li_descr__1561120854346" style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>            </div>
          </div>
        </div>
      </div>
          </div>
                        <div class="t-col t-col_8 t-prefix_2">
      <div class="t585__accordion">
        <div class="t585__wrapper">
          <div class="t585__header" style=" border-top: 1px solid #eee;">
            <div class="t585__title t-name t-name_xl" field="li_title__1562564054043" style="">Файлы (2-я стадия)</div>            <div class="t585__icon">
              <div class="t585__lines">
                <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square">
                    <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                      <path d="M0,11 L22,11"></path>
                      <path d="M11,0 L11,22"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="t585__circle" style="background-color: transparent;"></div>
            </div>
            <div class="t585__icon t585__icon-hover">
              <div class="t585__lines">
                <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square">
                    <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                      <path d="M0,11 L22,11"></path>
                      <path d="M11,0 L11,22"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="t585__circle" style="background-color: #eee;"></div>
            </div>
          </div>
          <div class="t585__content">
            <div class="t585__textwrapper">
                            <div class="t585__text t-descr t-descr_xs" field="li_descr__1562564054043" style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>            </div>
          </div>
        </div>
      </div>
      <div class="t585__border" style="height: 1px; background-color: #eee;"></div>    </div>
        </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        t585_init('111865744');
    });
</script>

</div>


<div id="rec111866630" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px; "  data-record-type="191"   >
<!-- T142 -->
<div class="t142">
	<div class="t-container_100">
	  <div class="t142__wrapone">
		<div class="t142__wraptwo">
          <a href="http://" target=""  class=""><div class="t-btn t142__submit " style="color:#000000;border:3px solid #000000;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;" >Редактировать</div></a>
        </div>
	  </div>
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    t142_checkSize('111866630');
  });
    $(window).load(function() {
      t142_checkSize('111866630');
    });
</script>

<style>

#rec111866630 .t-btn[data-btneffects-first],
#rec111866630 .t-btn[data-btneffects-second],
#rec111866630 .t-submit[data-btneffects-first],
#rec111866630 .t-submit[data-btneffects-second] {
	position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}





</style>



<script type="text/javascript">

$(document).ready(function() {
	

	

});

</script>
</div>


<div id="rec114779901" class="r t-rec" style=" "  data-record-type="215"   >
<a name="team" style="font-size:0;"></a>
</div>


<div id="rec114778814" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px; "  data-record-type="795"   >
<!-- T795 -->
<div class="t795">
  <div class="t-container t-align_center">
    <div class="t-col t-col_10 t-prefix_1">
      <h2 class="t795__title t-title t-title_xs t-margin_auto" field="title" style=""><div style="font-size:36px;" data-customstyle="yes">Команда</div></h2>          </div>
  </div>
</div>
</div>


<div id="rec114778798" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px; " data-animationappear="off" data-record-type="585"   >

<!-- T585-->
<div class="t585">
  <div class="t-container">
                          <div class="t-col t-col_8 t-prefix_2">
      <div class="t585__accordion">
        <div class="t585__wrapper">
          <div class="t585__header" style=" border-top: 1px solid #eee;">
            <div class="t585__title t-name t-name_xl" field="li_title__1480611048442" style="">Состав</div>            <div class="t585__icon">
              <div class="t585__lines">
                <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square">
                    <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                      <path d="M0,11 L22,11"></path>
                      <path d="M11,0 L11,22"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="t585__circle" style="background-color: transparent;"></div>
            </div>
            <div class="t585__icon t585__icon-hover">
              <div class="t585__lines">
                <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square">
                    <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                      <path d="M0,11 L22,11"></path>
                      <path d="M11,0 L11,22"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="t585__circle" style="background-color: #eee;"></div>
            </div>
          </div>
          <div class="t585__content">
            <div class="t585__textwrapper">
                            <div class="t585__text t-descr t-descr_xs" field="li_descr__1480611048442" style="">Иван Иванович <a href="234234" style="">Исключить  Назначить лидером<br /></a>Петр Петрович <a href="24523452345" style="">Исключить</a> <a href="1234123434" style="">Назначить лидером</a><br />Петр Петрович <a href="укеукецкуеуке" style="">Исключить </a>  <a href="цукйцукйцукйцук" style="">Назначить лидером</a><br /></div>            </div>
          </div>
        </div>
      </div>
          </div>
                        <div class="t-col t-col_8 t-prefix_2">
      <div class="t585__accordion">
        <div class="t585__wrapper">
          <div class="t585__header" style=" border-top: 1px solid #eee;">
            <div class="t585__title t-name t-name_xl" field="li_title__1562564105637" style="">Заявки на вступление</div>            <div class="t585__icon">
              <div class="t585__lines">
                <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square">
                    <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                      <path d="M0,11 L22,11"></path>
                      <path d="M11,0 L11,22"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="t585__circle" style="background-color: transparent;"></div>
            </div>
            <div class="t585__icon t585__icon-hover">
              <div class="t585__lines">
                <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square">
                    <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                      <path d="M0,11 L22,11"></path>
                      <path d="M11,0 L11,22"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="t585__circle" style="background-color: #eee;"></div>
            </div>
          </div>
          <div class="t585__content">
            <div class="t585__textwrapper">
                            <div class="t585__text t-descr t-descr_xs" field="li_descr__1562564105637" style="">Иван Иванович <a href="1341341234" style="">включить</a><br />Петр Петрович <a href="123412341234" style="">включить</a><br />Петр Петрович <a href="132412341234" style="">включить</a></div>            </div>
          </div>
        </div>
      </div>
      <div class="t585__border" style="height: 1px; background-color: #eee;"></div>    </div>
        </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        t585_init('114778798');
    });
</script>

</div>


<div id="rec114779905" class="r t-rec" style=" "  data-record-type="215"   >
<a name="working" style="font-size:0;"></a>
</div>


<div id="rec111862361" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px; "  data-record-type="795"   >
<!-- T795 -->
<div class="t795">
  <div class="t-container t-align_center">
    <div class="t-col t-col_10 t-prefix_1">
      <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">Работа в Номинации "Музеи"</div>          </div>
  </div>
</div>
</div>


<div id="rec111861867" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "  data-record-type="296"   >
<!-- t265 -->
<div class="t265">
  <div class="t-container">
    <div class="t-col t-col_8 t-prefix_2">
      <div class="t265__wrapper" style="background: #EBEBEB;">
        <div class="t265__icon">
                    	<svg x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;">
              <circle style="fill:#ff0000;" cx="12.125" cy="12.125" r="12"/>
              <g>
                <path style="fill: #fff;" d="M10.922,6.486c0-0.728,0.406-1.091,1.217-1.091s1.215,0.363,1.215,1.091c0,0.347-0.102,0.617-0.304,0.81
                  c-0.202,0.193-0.507,0.289-0.911,0.289C11.328,7.585,10.922,7.219,10.922,6.486z M13.252,17.792h-2.234V9.604h2.234V17.792z"/>
              </g>
            </svg>
                  </div>
        <div class="t265__text t-descr t-descr_xs" style="" field="text"><span style="font-weight: 600;">Сообщение от ментора: </span>Обновите материалы своих проектов для презентации.</div>
      </div>
    </div>
  </div>
</div>
</div>


<div id="rec111880222" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px; "  data-record-type="431"   >
<!-- t431 -->

<!--color5 — table head border color-->

<div class="t431">
	<div class="t-container">
      <div class="t-col t-col_10 t-prefix_1 t431__tdscale_1 t-text t-text_sm t-align_left t431__mobilescroll">
        <div class="t431__wrapper-for-mobile">
          <div class="t431__table-wapper" data-auto-correct-mobile-width="false">
            <table class="t431__table " style="">
            </table>
          </div>
        </div>
        <div class="t431__data-part1" data-auto-correct-mobile-width="false" data-btn-style="color:#ffffff;border:0px solid #000000;background-color:#000000;border-radius:21px; -moz-border-radius:21px; -webkit-border-radius:21px;" style="display: none;"></div>
        <div class="t431__data-part2" data-auto-correct-mobile-width="false" style="display: none;">Ментор:;Менторов Иван Иванович
;Доцент и участник, эксперт в области культуры
</div>
      </div>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
      var t431__tablehead=$('#rec'+'111880222'+' .t431 .t-container .t431__data-part1').html();
      var t431__tablebody=$('#rec'+'111880222'+' .t431 .t-container .t431__data-part2').html();
      var t431__btnstyles = $('#rec'+'111880222'+' .t431 .t-container .t431__data-part1').attr('data-btn-style');
      var t431__tdstyles = 'font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;';
      var t431__thstyles = 'font-size: inherit; background: ; border-width: 0px 0px 1px 0px; border-color: #000000; color: ; font-size: ; font-family: ; font-weight: ;';
      var t431__oddrowstyles = 'background: #ffffff';
      var t431__evenrowstyles = 'background: #ffffff';
      t431_createTable('111880222',t431__tablehead,t431__tablebody,'25%;75%;','',t431__btnstyles,t431__tdstyles,t431__thstyles,t431__oddrowstyles,t431__evenrowstyles);
      if('' && $('#rec'+'111880222'+' .t431 .t-container .t431__data-part2').html().length>0) {
        setTimeout(function(){ t431_setHeadWidth('111880222'); }, 200);
      }
      
      if('' && $('#rec'+'111880222'+' .t431 .t-container .t431__data-part2').html().length>0) {
      $('.t431').bind('displayChanged',function(){
        t431_setHeadWidth('111880222');
      });      
      }
    });
  	// change the width of thead cells when window resizes
    if('' && $('#rec'+'111880222'+' .t431 .t-container .t431__data-part2').html().length>0) {
      var t431__doResize;
      $(window).resize(function(){
        t431_setHeadWidth('111880222');
        clearTimeout(t431__doResize);
        t431__doResize = setTimeout(function() { t431_setHeadWidth('111880222'); }, 100);
      });
    }

</script>

</div>


<div id="rec114779943" class="r t-rec" style=" "  data-record-type="215"   >
<a name="allprojects" style="font-size:0;"></a>
</div>


<div id="rec111870207" class="r t-rec t-rec_pt_120 t-rec_pb_30" style="padding-top:120px;padding-bottom:30px; "  data-record-type="33"   >
<!-- T017 -->
<div class="t017">
  <div class="t-container t-align_center">
    <div class="t-col t-col_10 t-prefix_1">      
            <h2 class="t017__title t-title t-title_xxs" field="title" style="">Проекты номинации</h2>          </div>
  </div>
</div>
</div>


<div id="rec111869372" class="r t-rec t-rec_pt_45 t-rec_pb_45" style="padding-top:45px;padding-bottom:45px; "  data-record-type="47"   >
<!-- T033 -->
<div class="t033">
	<div class="t-container">
			<div class="t-col t-col_4   ">
				<div class="t033__lineTop" ></div>
				<div class="t033__title t-title" style="" field="title"><strong>"Студийная мастерская"</strong><br />Алексей В. - Москва</div>
			</div>
			<div class="t-col t-col_8 ">
				<div class="t033__descr t-descr t-descr_xl" style="" field="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br /></div>
			</div>
		</div>
</div>
</div>


<div id="rec111869933" class="r t-rec t-rec_pt_45 t-rec_pb_45" style="padding-top:45px;padding-bottom:45px; "  data-record-type="47"   >
<!-- T033 -->
<div class="t033">
	<div class="t-container">
			<div class="t-col t-col_4   ">
				<div class="t033__lineTop" ></div>
				<div class="t033__title t-title" style="" field="title"><strong>"Ночь в музее"</strong><br />Сергей В. - Москва</div>
			</div>
			<div class="t-col t-col_8 ">
				<div class="t033__descr t-descr t-descr_xl" style="" field="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br /></div>
			</div>
		</div>
</div>
</div>


<div id="rec114779955" class="r t-rec" style=" "  data-record-type="215"   >
<a name="docs" style="font-size:0;"></a>
</div>


<div id="rec111860556" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px; "  data-record-type="795"   >
<!-- T795 -->
<div class="t795">
  <div class="t-container t-align_center">
    <div class="t-col t-col_10 t-prefix_1">
      <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">Методические материалы</div>          </div>
  </div>
</div>
</div>


<div id="rec112402337" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px; "  data-record-type="431"   >
<!-- t431 -->

<!--color5 — table head border color-->

<div class="t431">
	<div class="t-container">
      <div class="t-col t-col_10 t-prefix_1 t431__tdscale_1 t-text t-text_sm t-align_left t431__mobilescroll">
        <div class="t431__wrapper-for-mobile">
          <div class="t431__table-wapper" data-auto-correct-mobile-width="false">
            <table class="t431__table " style="">
            </table>
          </div>
        </div>
        <div class="t431__data-part1" data-auto-correct-mobile-width="false" data-btn-style="color:#ffffff;border:0px solid #000000;background-color:#000000;border-radius:21px; -moz-border-radius:21px; -webkit-border-radius:21px;" style="display: none;">Документ;Описание</div>
        <div class="t431__data-part2" data-auto-correct-mobile-width="false" style="display: none;">Таблица расчета;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
Пример презентации;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
Пример Коммерческого предложения;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
Пример Коммерческого предложения 2;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
Пример Коммерческого предложения 3;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
</div>
      </div>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
      var t431__tablehead=$('#rec'+'112402337'+' .t431 .t-container .t431__data-part1').html();
      var t431__tablebody=$('#rec'+'112402337'+' .t431 .t-container .t431__data-part2').html();
      var t431__btnstyles = $('#rec'+'112402337'+' .t431 .t-container .t431__data-part1').attr('data-btn-style');
      var t431__tdstyles = 'font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;';
      var t431__thstyles = 'font-size: inherit; background: ; border-width: 0px 0px 1px 0px; border-color: #000000; color: ; font-size: ; font-family: ; font-weight: ;';
      var t431__oddrowstyles = 'background: #ffffff';
      var t431__evenrowstyles = 'background: #ffffff';
      t431_createTable('112402337',t431__tablehead,t431__tablebody,'25%;75%;','',t431__btnstyles,t431__tdstyles,t431__thstyles,t431__oddrowstyles,t431__evenrowstyles);
      if('' && $('#rec'+'112402337'+' .t431 .t-container .t431__data-part2').html().length>0) {
        setTimeout(function(){ t431_setHeadWidth('112402337'); }, 200);
      }
      
      if('' && $('#rec'+'112402337'+' .t431 .t-container .t431__data-part2').html().length>0) {
      $('.t431').bind('displayChanged',function(){
        t431_setHeadWidth('112402337');
      });      
      }
    });
  	// change the width of thead cells when window resizes
    if('' && $('#rec'+'112402337'+' .t431 .t-container .t431__data-part2').html().length>0) {
      var t431__doResize;
      $(window).resize(function(){
        t431_setHeadWidth('112402337');
        clearTimeout(t431__doResize);
        t431__doResize = setTimeout(function() { t431_setHeadWidth('112402337'); }, 100);
      });
    }

</script>

</div>


<div id="rec114779976" class="r t-rec" style=" "  data-record-type="215"   >
<a name="videos" style="font-size:0;"></a>
</div>


<div id="rec112402426" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px; "  data-record-type="795"   >
<!-- T795 -->
<div class="t795">
  <div class="t-container t-align_center">
    <div class="t-col t-col_10 t-prefix_1">
      <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">Записи лекций</div>          </div>
  </div>
</div>
</div>


<div id="rec111860557" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px; "  data-record-type="251"   >
<!-- T223 -->
<div class="t223">
	<div class="t-container">
      <div class="t223-col t-col t-col_6">
          <div class="t-video-lazyload" data-videolazy-type="youtube" data-videolazy-id="XEfDYMngJeE" data-blocklazy-id="111860557" data-videolazy-load="false" data-videolazy-height="315" data-videolazy-two-id="1">
          </div>
          <div class="t223__blocktext t-text t-text_sm" field="text">Открытая лекция<br />22 июля</div>      </div>      
      <div class="t223-col t223-col_right t-col t-col_6">
          <div class="t-video-lazyload" data-videolazy-type="youtube" data-videolazy-id="1dy5wKtJxEY " data-blocklazy-id="111860557" data-videolazy-load="false" data-videolazy-height="315" data-videolazy-two-id="2">
	      </div>
	      <div class="t223__blocktext t-text t-text_sm" field="text2">Открытая лекция<br />5 августа</div>      </div>            
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    var div = $("#rec111860557").find(".t-video-lazyload");
    var iframe = div.find('iframe');
    var height=div.width() * 0.5625;
    div.height(height);
    iframe.height(height);
    $('.t223').bind('displayChanged',function(){
        height=div.width() * 0.5625;
        div.height(height);
        iframe.height(height);
    });
    $(window).bind('scroll', t_throttle(function() {
        height=div.width() * 0.5625;
        div.height(height);
        iframe.height(height);
    }, 200));
});
</script>  

</div>


<div id="rec114780000" class="r t-rec" style=" "  data-record-type="215"   >
<a name="feedback" style="font-size:0;"></a>
</div>


<div id="rec111860571" class="r t-rec t-rec_pt_120 t-rec_pb_120" style="padding-top:120px;padding-bottom:120px; " data-animationappear="off" data-record-type="678"   >
<!-- t678 -->
<div class="t678 ">
  
  			<div class="t-section__container t-container">
		<div class="t-col t-col_12">
			<div class="t-section__topwrapper t-align_center">
				<div class="t-section__title t-title t-title_xs" field="btitle">Задать вопрос Организаторам</div>							</div>
		</div>
	</div>
		
    <div class="t-container">
        <div class="t-col t-col_8 t-prefix_2">
        <div>
                                  	  		                  	  		
    <form id="form111860571" name='form111860571' role="form" action='' method='POST' data-formactiontype="0" data-inputbox=".t-input-group"   class="t-form js-form-proccess t-form_inputs-total_2  "  data-success-callback="t678_onSuccess"  >
	
	  		<!-- NO ONE SERVICES CONNECTED -->	        
            
            <div class="js-successbox t-form__successbox t-text t-text_md" style="display:none;"></div>

            <div class="t-form__inputsbox">

				
            <div class="t-input-group t-input-group_in" data-input-lid="1562565514313">
          <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1562565514313" style="">Тема вопроса</div>                    <div class="t-input-block">
                          <input type="text" name="Тема вопроса" class="t-input js-tilda-rule  " value=""  data-tilda-req="1"   style="color:#000000; border:1px solid #000000;  ">
                    <div class="t-input-error"></div>
          </div>
      </div>


            <div class="t-input-group t-input-group_ta" data-input-lid="1495027254430">
          <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1495027254430" style="">Вопрос</div>                    <div class="t-input-block">
                          <textarea name="Вопрос" class="t-input js-tilda-rule "   style="color:#000000; border:1px solid #000000;  height:170px" rows="5"></textarea>
                    <div class="t-input-error"></div>
          </div>
      </div>





				<div class="t-form__errorbox-middle">
					                <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;">
                    <div class="t-form__errorbox-text t-text t-text_md">
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-all"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-req"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-email"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-name"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-phone"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-minlength"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-string"></p>
                    </div>
                </div>				</div>

                <div class="t-form__submit">
                    <button type="submit" class="t-submit" style="color:#ffffff;background-color:#000000;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;" >Отправить</button>
                </div>

            </div>

            <div class="t-form__errorbox-bottom">
            	                <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;">
                    <div class="t-form__errorbox-text t-text t-text_md">
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-all"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-req"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-email"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-name"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-phone"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-minlength"></p>
                        <p class="t-form__errorbox-item js-rule-error js-rule-error-string"></p>
                    </div>
                </div>            </div>


    </form>


		
	<style>
	#rec111860571 input::-webkit-input-placeholder {color:#000000; opacity: 0.5;}
	#rec111860571 input::-moz-placeholder          {color:#000000; opacity: 0.5;}
	#rec111860571 input:-moz-placeholder           {color:#000000; opacity: 0.5;}
	#rec111860571 input:-ms-input-placeholder      {color:#000000; opacity: 0.5;}
	#rec111860571 textarea::-webkit-input-placeholder {color:#000000; opacity: 0.5;}
	#rec111860571 textarea::-moz-placeholder          {color:#000000; opacity: 0.5;}
	#rec111860571 textarea:-moz-placeholder           {color:#000000; opacity: 0.5;}
	#rec111860571 textarea:-ms-input-placeholder      {color:#000000; opacity: 0.5;}
	</style>
	
	        </div>  
		            
        </div>   
    </div>              
</div>
                                    
                  

<style>

#rec111860571 .t-btn[data-btneffects-first],
#rec111860571 .t-btn[data-btneffects-second],
#rec111860571 .t-submit[data-btneffects-first],
#rec111860571 .t-submit[data-btneffects-second] {
	position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}





</style>



<script type="text/javascript">

$(document).ready(function() {
	

	

});

</script>
</div>


<div id="rec111860572" class="r t-rec t-rec_pt_60 t-rec_pb_15" style="padding-top:60px;padding-bottom:15px;background-color:#0d0d0d; "  data-record-type="106"   data-bg-color="#0d0d0d">
<!-- T004 -->
<div class="t004">
	<div class="t-container t-align_center">
	  	<div class="t-col t-col_8 t-prefix_2">
			<div field="text" class="t-text t-text_md  " style=""><div style="font-size:14px;color:#9d9d9d;" data-customstyle="yes">"Культурная инициатива и лидерство в креативных проектах"<br /><br />О конкурсе | Новости | Программа | Эксперты | Менторы | Преподаватели | Контакты</div></div>
		</div>
	</div>
</div>
</div>


<div id="rec111860573" class="r t-rec t-rec_pt_0 t-rec_pb_60" style="padding-top:0px;padding-bottom:60px;background-color:#0d0d0d; "  data-record-type="56"   data-bg-color="#0d0d0d">
<!-- T046 -->
<div class="t046">
	<div class="t-container">
		<div class="t-col t-col_6 t-prefix_3">
			<div class="t046__text t-text t-text_xs" style="" field="text"><div style="color:#9d9d9d;" data-customstyle="yes"></div></div>
		</div>
	</div>
</div>
</div>

</div>
<!--/allrecords-->
