<!--allrecords-->
<div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="822916" data-tilda-page-id="6534728" data-tilda-page-alias="news_ex" data-tilda-formskey="781d16928441b077c84ced39bec63a84"   >

<div id="rec115586427" class="r t-rec t-rec_pt_0" style="padding-top:0px;background-color:#000000; " data-animationappear="off" data-record-type="257"   data-bg-color="#000000">

<!-- T228 -->
<div id="nav115586427marker"></div>
  <div class="t228__mobile">
    <div class="t228__mobile_container">
      <div class="t228__mobile_text t-name t-name_md" field="text">&nbsp;</div> 
      <div class="t228__burger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>  
    </div>
  </div>
<div id="nav115586427" class="t228 t228__hidden t228__positionabsolute " style="background-color: rgba(0,0,0,1); height:80px; " data-bgcolor-hex="#000000" data-bgcolor-rgba="rgba(0,0,0,1)" data-navmarker="nav115586427marker" data-appearoffset="" data-bgopacity-two="" data-menushadow="" data-bgopacity="1"   data-menu-items-align="right" data-menu="yes">
    <div class="t228__maincontainer t228__c12collumns" style="height:80px;">
          <div class="t228__padding40px"></div>
          
          <div class="t228__leftside">
                        <div class="t228__leftcontainer">    
                <a href="/"  style="color:#ffffff;font-weight:600;"><div class="t228__logo t-title" field="title" style="color:#ffffff;font-weight:600;">РСВ</div></a>            </div>
                      </div>
        
          <div class="t228__centerside t228__menualign_right">
                        <div class="t228__centercontainer">
            <ul class="t228__list ">
                        <li class="t228__list_item"><a class="t-menu__link-item" href="/"  style="color:#ffffff;font-weight:600;" data-menu-item-number="1">Главная</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="/news/"  style="color:#ffffff;font-weight:600;" data-menu-item-number="2">Новости</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href=""  style="color:#ffffff;font-weight:600;" data-menu-item-number="3">Вопросы</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href=""  style="color:#ffffff;font-weight:600;" data-menu-item-number="4">Положение</a></li>
                    
                        </ul>
            </div>
                      </div>
          
          <div class="t228__rightside">
                          <div class="t228__rightcontainer">
                                                    <div class="t228__right_share_buttons t228__transp-white">
                      <script type="text/javascript" src="images/js__ya-share.js" charset="utf-8"></script>
                      <div class="ya-share2" data-access-token:facebook="" data-yashareL10n="en" data-services="facebook,vkontakte,odnoklassniki," data-counter=""></div>        
                    </div>
                                            
                                    <div class="t228__right_buttons">
                        <div class="t228__right_buttons_wrap">
                          <div class="t228__right_buttons_but"><a href="" target="" class="t-btn "  style="color:#000000;border:1px solid #000000;background-color:#ffffff;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;"><table style="width:100%; height:100%;"><tr><td>Личный кабинет</td></tr></table></a></div>                              
                        </div>
                    </div>
                                        
             </div>
                       </div>
          
          <div class="t228__padding40px"></div>    
  </div>
</div>
<script type="text/javascript">
    
      $(document).ready(function() {
        t228_highlight();
        
                        
      }); 
    
 

$(window).resize(function() {
    t228_setBg('115586427');
});
$(document).ready(function() {
    t228_setBg('115586427');
});     
</script>
<script type="text/javascript">
      
        $(document).ready(function() {
            t228_createMobileMenu('115586427');
        }); 
    
</script>
      
<style>
#rec115586427 .t-menu__link-item{
	  -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;	
		}

#rec115586427 .t-menu__link-item.t-active{
  color:#ed7437 !important;    }
@supports (overflow:-webkit-marquee) and (justify-content:inherit)
{
  #rec115586427 .t-menu__link-item,
  #rec115586427 .t-menu__link-item.t-active {
    opacity: 1 !important;
  }
}
</style>
  
<!--[if IE 8]>
<style>
#rec115586427 .t228 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9000000', endColorstr='#D9000000');
}
</style>
<![endif]-->

</div>


<div id="rec115586428" class="r t-rec t-rec_pt_165 t-rec_pb_0" style="padding-top:165px;padding-bottom:0px; "  data-record-type="255"   >
<!-- T225 -->
<div class="t225">
  <div class="t-container t-align_left">
    <div class="t-col t-col_8 t-prefix_2">
            <div class="t225__title t-title t-title_md" field="title" style="">Заголовок страницы</div>          </div>
  </div>
</div>
</div>


<div id="rec115586429" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px; "  data-record-type="127"   >
<!-- T119 -->
<div class="t119">
	<div class="t-container ">
	  	<div class="t-col t-col_8 t-prefix_2">
			<div class="t119__preface t-descr t-opacity_70" style="opacity:0.70;" field="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
		</div>
	</div>
</div>
</div>


<div id="rec115586430" class="r t-rec t-rec_pt_45 t-rec_pb_60" style="padding-top:45px;padding-bottom:60px; "  data-record-type="106"   >
<!-- T004 -->
<div class="t004">
	<div class="t-container ">
	  	<div class="t-col t-col_8 t-prefix_2">
			<div field="text" class="t-text t-text_md  " style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br /><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br /></div>
		</div>
	</div>
</div>
</div>


<div id="rec115586431" class="r t-rec t-rec_pt_0 t-rec_pb_60" style="padding-top:0px;padding-bottom:60px; "  data-record-type="3"   >
<!-- T107 -->
<div class="t107">
  <div class="t-align_center" itemscope itemtype="http://schema.org/ImageObject"><meta itemprop="image" content="images/lib__unsplash__5e2702cb-92fc-9c57-45b9-ad35daadb75e__photo.jpg">    <img src="images/lib__unsplash__5e2702cb-92fc-9c57-45b9-ad35daadb75e__-__empty__photo.jpg" data-original="images/lib__unsplash__5e2702cb-92fc-9c57-45b9-ad35daadb75e__photo.jpg"  class="t107__width t-width t-width_8 t-img" imgfield="img"  />               
  </div>  
</div>
</div>


<div id="rec115586432" class="r t-rec t-rec_pt_0 t-rec_pb_30" style="padding-top:0px;padding-bottom:30px; "  data-record-type="106"   >
<!-- T004 -->
<div class="t004">
	<div class="t-container ">
	  	<div class="t-col t-col_8 t-prefix_2">
			<div field="text" class="t-text t-text_md  " style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</div>
	</div>
</div>
</div>


<div id="rec115586433" class="r t-rec t-rec_pt_0 t-rec_pb_15" style="padding-top:0px;padding-bottom:15px; "  data-record-type="40"   >
<!-- T026 -->
<div class="t026">
  <div class="t-container t-align_left">
    <div class="t-col t-col_8 t-prefix_2">      
      <div class="t026__title t-text" field="title" style="color:#a3a3a3;">15 АПРЕЛЯ / 2019</div>
      <div class="t026__descr t-text t-text_xs" field="subtitle" style="text-transform:uppercase;"></div>
    </div>
  </div>
</div>
</div>


<div id="rec115586434" class="r t-rec t-rec_pt_0" style="padding-top:0px; "  data-record-type="126"   >
<!-- T118 -->
<div class="t118">
	<div class="t-container">
	  	<div class="t-col t-col_8 t-prefix_2">
			<hr class="t118__line" style="background-color:#000000;opacity:0.2;">
        </div>
	</div>
</div>
</div>


<div id="rec115586436" class="r t-rec t-rec_pt_120 t-rec_pb_120" style="padding-top:120px;padding-bottom:120px;background-color:#fafafa; "  data-record-type="106"   data-bg-color="#fafafa">
<!-- T004 -->
<div class="t004">
	<div class="t-container t-align_center">
	  	<div class="t-col t-col_8 t-prefix_2">
			<div field="text" class="t-text t-text_md  " style=""><span style="font-weight: 500;">Контакты:<br /></span><br />E-mail: <strong>info@rsv.ru</strong><br />Телефон: <span style="font-weight: 500;">+7 (999) 999 99 99</span><br /></div>
		</div>
	</div>
</div>
</div>


<div id="rec115586437" class="r t-rec t-rec_pt_0 t-rec_pb_30" style="padding-top:0px;padding-bottom:30px;background-color:#000000; "  data-record-type="144"   data-bg-color="#000000">
<!-- T134 -->

<div class="t134">
	<div class="t-container">
		<div class="t-col t-col_10 t-prefix_1">
		  				<div class="t134__descr" field="descr" style="color:#ffffff;"><br />"Культурная инициатива и лидерство в креативных проектах"<br /></div>		</div>
	</div>
</div>
</div>

</div>
<!--/allrecords-->
