<?php $sql = new SQL(); ?>
<?php $subscription = $sql->getallkey('*',DB_TABLE_PREFIX.'events_subscribe',
    "user_id = '".$_SESSION['SESS_AUTH']['ID']."'",
    '','event_id');?>
<?php $teachers = $sql->getallkey('*',DB_TABLE_PREFIX.'teachers',"hidden = 0 OR hidden IS NULL",'','alias');?>
<div id="rec111862120" class="r t-rec t-rec_pt_120 t-rec_pb_0"
     data-record-type="795"><!-- T795 -->
    <div class="t795">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">Лекции</div>
            </div>
        </div>
    </div>
</div>
<div id="obsv_lectures" class="r t-rec t-rec_pt_60 t-rec_pb_90"  data-animationappear="off" data-record-type="678" >
    <!-- t678 -->
    <div class="t678 ">
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_2">
                <div>
                    <form action="/obsv/lectures" method="post" name="tform" id="obsv_zap" class="t-form t-form_inputs-total_4 ">
                        <!-- NO ONE SERVICES CONNECTED -->
                        <div class="t-form__successbox t-text t-text_md" style="display:none;">
                            <?= (!empty($_OBSV['ERROR']))?$_OBSV['ERROR']:'';?>
                        </div>
                        <div class="t-form__inputsbox">
                            <?php if(!empty($_SESSION['SESS_AUTH']['LOGIN']) && strpos($_SESSION['SESS_AUTH']['LOGIN'],'@')!== false ){ ?>
                                <input type="hidden" name="obsv[email]" value="<?= $_SESSION['SESS_AUTH']['LOGIN']?>" />
                            <?php }else{ ?>
                                <div class="t-input-group t-input-group_em" data-input-lid="1493283059688">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1493283059688" style="">E-mail</div>
                                    <div class="t-input-block">
                                        <input type="text" name="obsv[email]" class="t-input"
                                               value=""  style="color:#000000; border:1px solid #000000; ">
                                    </div>
                                </div>
                            <?php } ?>
                            <?php if(!empty($_SESSION['SESS_AUTH']['ALL']['author_surname'])){ ?>
                                <input type="hidden" name="obsv[surname]" value="<?= $_SESSION['SESS_AUTH']['ALL']['author_surname']?>" />
                            <?php }else{ ?>
                                <div class="t-input-group t-input-group_nm" data-input-lid="1494858943227">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1494858943227" style="">Фамилия</div>
                                    <div class="t-input-block">
                                        <input type="text" name="obsv[surname]" class="t-input"
                                               value=""  style="color:#000000; border:1px solid #000000; ">
                                    </div>
                                </div>
                            <?php } ?>
                            <?php if(!empty($_SESSION['SESS_AUTH']['NAME'])){ ?>
                                <input type="hidden" name="obsv[name]" value="<?= $_SESSION['SESS_AUTH']['NAME']?>" />
                            <?php }else{ ?>
                            <div class="t-input-group t-input-group_nm" data-input-lid="1494858943227">
                                <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1494858943227" style="">Имя</div>
                                <div class="t-input-block">
                                    <input type="text" name="obsv[name]" class="t-input"
                                           value=""   style="color:#000000; border:1px solid #000000; ">
                                </div>
                            </div>
<?php } ?>

                            <div class="t-input-group t-input-group_ph" data-input-lid="1495040492013">
                                <div class="t-input-block">