
<label class="t-checkbox__control t-text t-text_md">
    <input type="checkbox" name="obsv[events][]" value="<?=$data['alias']?>" class="t-checkbox" <?=(!empty($subscription[$data['alias']]))?'checked':'';?>>
    <div class="t-checkbox__indicator"></div>
    <?=STR::date2word($data['event_date'],'d m');?> <?=$data['event_time'];?>
    <div style="margin-left: 34px;">
        <strong><?=$data['name'];?></strong>
        <?php foreach (explode(',',$data['teacher_id']) as $teacher_id){ ?>
        <?php $teacher = $teachers[$teacher_id];?>
        <br><em><?=$teacher['name'];?></em><br>
        <span class="t-text_xs"><?=$teacher['position'];?></span><br>
        <span class="t-text_xs">по адресу г. Москва, ул. Нижняя Сыромятническая, д. 10,
        <?php if($data['event_date'] == '2019-09-25'){?>
            стр. 2, ауд. B/5-01 (Вход в здание Московской школы кино)
        <?php }else{ ?>
            стр. 3, ауд. 3/5-11 (Вход в здание Британской высшей школы дизайна)
        <?php } ?></span>
    <?php } ?></label>
</div><br>