
</div>
</div>
<div class="t-form__submit"> <button type="submit" class="t-submit" style="color:#ffffff;background-color:#000000;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;" >Отправить</button> </div>
</div>
    <input type="hidden" name="lk" value="1">
<input type="hidden" name="obsv[agree_eula]" value="1">
</form>
</div>
</div>
</div>
</div>

<style>
    #rec111721791 input::-webkit-input-placeholder {
        color: #000000;
        opacity: 0.5;
    }

    #rec111721791 input::-moz-placeholder {
        color: #000000;
        opacity: 0.5;
    }

    #rec111721791 input:-moz-placeholder {
        color: #000000;
        opacity: 0.5;
    }

    #rec111721791 input:-ms-input-placeholder {
        color: #000000;
        opacity: 0.5;
    }

    #rec111721791 textarea::-webkit-input-placeholder {
        color: #000000;
        opacity: 0.5;
    }

    #rec111721791 textarea::-moz-placeholder {
        color: #000000;
        opacity: 0.5;
    }

    #rec111721791 textarea:-moz-placeholder {
        color: #000000;
        opacity: 0.5;
    }

    #rec111721791 textarea:-ms-input-placeholder {
        color: #000000;
        opacity: 0.5;
    }
    #rec111721791 .t-btn[data-btneffects-first],
    #rec111721791 .t-btn[data-btneffects-second],
    #rec111721791 .t-submit[data-btneffects-first],
    #rec111721791 .t-submit[data-btneffects-second] {
        position: relative;
        overflow: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
</style>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#obsv_zap").validate({
            rules: {
                'obsv[email]': {
                    required: true,
                    email: true
                },
                'obsv[name]': {
                    required: true,
                    rangelength: [2, 255]
                },
                'obsv[surname]': {
                    required: true,
                    rangelength: [2, 255]
                },
                'obsv[agree_eula]': {
                    required: true
                }
            },
            messages: {
                'obsv[email]': {
                    required: "Заполните это поле",
                    email: "Введенные данные не являются email"
                },
                'obsv[name]': {
                    required: "Заполните это поле",
                    rangelength: "Введите от 2 до 255 символов"
                },
                'obsv[surname]': {
                    required: "Заполните это поле",
                    rangelength: "Введите от 2 до 255 символов"
                },
                'obsv[agree_eula]': {
                    required: "Необходимо дать согласие на обработку<br>"
                }
            }
        });
    });


    $('#obsv_lectures').off('submit','#obsv_zap').on('submit','#obsv_zap',function (e) {

        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
        var $form = $(this);
        // создадим объект данных формы
        formData = new FormData($form.get(0));
        $.ajax({
            contentType: false, // важно - убираем форматирование данных по умолчанию
            processData: false, // важно - убираем преобразование строк по умолчанию
            type: 'post',
            url: '/empty/obsv/',
            data: formData
        }).done(function (data) {
            console.log('success');
            console.log(data);
            //$('#sector_obsv').html(data);
            if( data == 'Ok' ) {
                $('#obsv_lectures .t-form__successbox').html('Данные успешно отправлены');
            }else{
                $('#obsv_lectures .t-form__successbox').html('К сожалению в данный момент регистрацию на лекции не удалось выполнить.<br>Попробуйте повторить позднее. Если проблема будет повторяться, пожалуйста сообщите нам через форму обратной связи на главной странице.');
            }
            $('#obsv_lectures .t-form__successbox').show(400);
            scrollToElement('events_subscribe');
            //$('#obsv')[0].reset();
            setTimeout(function(){
                $('#obsv_lectures .t-form__successbox').hide(400).html('');
                $.get('/empty/db/events','',
                    function(data){
                        $('#events_subscribe').html(data);
                    }
                );

            }, 6000);

        }).fail(function (jqXHR, textStatus) {
            //alert( "Request failed: " + textStatus );
            console.log("Request failed: " + textStatus);
            console.log(data);
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
    });
</script>