<?php if (sizeof($_KAT['SEARCH_RES']) > 0) { ?>
</div></div></div></div>
    <div id="rec116591179" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px; "
         data-record-type="191"><!-- T142 -->
        <div class="t142">
            <div class="t-container_100">
                <div class="t142__wrapone">
                    <div class="t142__wraptwo"><a href="/news" target="" class="">
                            <div class="t-btn t142__submit "
                                 style="color:#000000;border:3px solid #000000;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;">
                                Все новости
                            </div>
                        </a></div>
                </div>
            </div>
        </div>
        <script type="text/javascript"> $(document).ready(function () {
                t142_checkSize('116591179');
            });
            $(window).load(function () {
                t142_checkSize('116591179');
            });</script>
        <style>#rec116591179 .t-btn[data-btneffects-first],
            #rec116591179 .t-btn[data-btneffects-second],
            #rec116591179 .t-submit[data-btneffects-first],
            #rec116591179 .t-submit[data-btneffects-second] {
                position: relative;
                overflow: hidden;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }</style>
        <script type="text/javascript">$(document).ready(function () {
            });</script>
    </div>
<?php } ?>