
<div class="t-col t-col_4">
    <?php /*
    <div class="t-name t-name_md" style="" >
        <?=$data['name']?>
    </div>
    <?php
    if(!empty($data['doc'])){
        $path_news = '/data/db/f_news/';
        $abs_path_news = $_SERVER['DOCUMENT_ROOT']. $path_news;
    ?>
    <?php if( is_file($abs_path_news.$data['doc']) ){?>
    <div class="t472__blockimg t-bgimg"
         bgimgfield="news_img<?= $data['id']?>" data-original="<?= $path_news.$data['doc']?>" style="background: url('/reimg<?= $path_news.$data['doc']?>?20x20') center center no-repeat; background-size:cover;" >

    </div>
    <?php } ?>
    <?php } */ ?>
    <div class="t007__text t-text t-text_md" style="" field="text">
        <?=$data['anons']?><br /><br />
        <?php if(!empty($data['more'])){ ?>
            <a href="<?=$data['more']?>" <?= (strpos($data['more'],'http:')!== false)?'target="_blank"':''?> style=""><?=(!empty($data['more_title']))?$data['more_title']:'Подробнее';?></a>
        <?php }elseif(!empty($data['cont'])){ ?>
        <a href="/db/news/<?=$data['alias']?>" style=""><?=(!empty($data['more_title']))?$data['more_title']:'Подробнее';?></a>
        <?php } ?>
    </div>
</div>
