<?php if (sizeof($_KAT['SEARCH_RES']) > 0) { ?>
<div id="rec111463268" class="r t-rec" style=" " data-record-type="215" ><a name="news" style="font-size:0;"></a></div>
<div id="rec111473973" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px; " data-record-type="795" >
    <!-- T795 -->
    <div class="t795">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">Новости</div>
            </div>
        </div>
    </div>
</div>
<div id="rec111473553" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px; " data-record-type="24" >
    <!-- T007 -->
    <div class="t007">
<div class="t-container">
    <div class="t-row">
<?php } ?>