<?php global $obsv,$_OBSV; ?>
<div id="rec111721791" class="r t-rec t-rec_pt_120 t-rec_pb_90" style="padding-top:120px;padding-bottom:90px; " data-animationappear="off" data-record-type="678" >
    <!-- t678 -->
    <div class="t678 ">
        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__topwrapper t-align_center">
                    <div class="t-section__title t-title t-title_xs" field="btitle">Задать вопрос</div>
                    <div class="t-section__descr t-descr t-descr_xl" field="bdescr">
                        Ознакомьтесь со списком
						<br><a href="/db/faq">часто задаваемых вопросов</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_2">
                <div>
                    <form action="/obsv/" method="post" name="tform" id="obsv" class="t-form t-form_inputs-total_4 ">
                        <!-- NO ONE SERVICES CONNECTED -->
                        <div class="t-form__successbox t-text t-text_md" style="display:none;">
                            <?= (!empty($_OBSV['ERROR']))?$_OBSV['ERROR']:'';?>
                        </div>
                        <div class="t-form__inputsbox">
                            <?php if(!empty($_SESSION['SESS_AUTH']['NAME'])){?>
                                <input type="hidden" name="obsv[contact_name]" value="<?= $_SESSION['SESS_AUTH']['NAME']?>" />
                            <?php }else{ ?>
                                <div class="t-input-group t-input-group_nm" data-input-lid="1494858943227">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1494858943227" style="">Имя</div>
                                    <div class="t-input-block">
                                        <input type="text" name="obsv[contact_name]" class="t-input"
                                               value="" placeholder="Представьтесь"  style="color:#000000; border:1px solid #000000; ">
                                    </div>
                                </div>
                            <?php } ?>

                            <?php if(!empty($_SESSION['SESS_AUTH']['LOGIN']) && strpos($_SESSION['SESS_AUTH']['LOGIN'],'@')!== false ){ ?>
                                <input type="hidden" name="obsv[contact_mail]" value="<?= $_SESSION['SESS_AUTH']['LOGIN']?>" />
                            <?php }else{ ?>
                            <div class="t-input-group t-input-group_em" data-input-lid="1493283059688">
                                <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1493283059688" style="">E-mail</div>
                                <div class="t-input-block">
                                    <input type="text" name="obsv[contact_mail]" class="t-input"
                                           value="" placeholder="Ваш E-mail" style="color:#000000; border:1px solid #000000; ">
                                </div>
                            </div>
                            <?php } ?>
                            <div class="t-input-group t-input-group_ph" data-input-lid="1495040492013">
                                <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1495040492013" style="">Телефон</div>
                                <div class="t-input-block">
                                    <input type="tel" name="obsv[phone]" class="t-input " value="" data-project-rule="phone" pattern="[0-9]*" style="color:#000000; border:1px solid #000000; ">
                                </div>
                            </div>
                            <div class="t-input-group t-input-group_ta" data-input-lid="1495027254430">
                                <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1495027254430" style="">Задайте ваш вопрос</div>
                                <div class="t-input-block">
                                    <textarea name="obsv[desc]" placeholder="Задайте ваш вопрос" class="t-input " style="color:#000000; border:1px solid #000000; height:170px" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="t-form__submit"> <button type="submit" class="t-submit" style="color:#ffffff;background-color:#000000;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;" >Отправить</button> </div>
                        </div>
                        <input type="hidden" name="obsv[ts]" value="<?= date("Y-m-d H:i:s") ?>">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <style>
        #rec111721791 input::-webkit-input-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec111721791 input::-moz-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec111721791 input:-moz-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec111721791 input:-ms-input-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec111721791 textarea::-webkit-input-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec111721791 textarea::-moz-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec111721791 textarea:-moz-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec111721791 textarea:-ms-input-placeholder {
            color: #000000;
            opacity: 0.5;
        }
        #rec111721791 .t-btn[data-btneffects-first],
        #rec111721791 .t-btn[data-btneffects-second],
        #rec111721791 .t-submit[data-btneffects-first],
        #rec111721791 .t-submit[data-btneffects-second] {
            position: relative;
            overflow: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    </style>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#obsv").validate({
            rules: {
                'obsv[contact_name]': {
                    required: true,
                    rangelength: [3, 255]
                },
                'obsv[contact_mail]': {
                    required: true,
                    email: true
                },/*
                'obsv[phone]': {
                    required: true,
                    rangelength: [7, 16]
                },*/
                'obsv[desc]': {
                    required: true,
                    rangelength: [10, 2000]
                }
            },
            messages: {
                'obsv[contact_name]': {
                    required: "Пожалуйста, укажите Ваше имя",
                    rangelength: "Пожалуйста, введите от 3 до 255 символов"
                },
                'obsv[contact_mail]': {
                    required: "Пожалуйста, укажите Ваш email для связи",
                    email: "Пожалуйста, укажите Ваш email для связи",
                },/*
                'obsv[phone]': {
                    required: "Пожалуйста, введите не менее 7 символов",
                    rangelength: "Пожалуйста, введите не менее 7 символов"
                },*/
                'obsv[desc]': {
                    required: "Пожалуйста, задайте Ваш вопрос",
                    rangelength: "Пожалуйста, введите от 10 до 2000 символов"
                }
            }
        });
    });


    $('#sector_obsv').off('submit','#obsv').on('submit','#obsv',function (e) {

        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
        var $form = $(this);
        // создадим объект данных формы
        formData = new FormData($form.get(0));
        $.ajax({
            contentType: false, // важно - убираем форматирование данных по умолчанию
            processData: false, // важно - убираем преобразование строк по умолчанию
            type: 'post',
            url: '/empty/obsv/',
            data: formData
        }).done(function (data) {
            console.log('success');
            $('#sector_obsv').html(data);
            $('#sector_obsv .t-form__successbox').show(400);
            scrollToElement('sector_obsv');
            setTimeout(function(){
                $('#sector_obsv .t-form__successbox').hide(400).html('');
            }, 3000);

        }).fail(function (jqXHR, textStatus) {
            //alert( "Request failed: " + textStatus );
            console.log("Request failed: " + textStatus);
            console.log(data);
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
    });
</script>