<?php global $obsv,$_OBSV; ?>
<?php $sql = new SQL(); ?>
<?php $lectures = $sql->getallkey('*',DB_TABLE_PREFIX.'events',"event_date >= '".date('Y-m-d')."' AND (hidden = 0 OR hidden IS NULL)",'ORDER BY event_date ASC','alias');?>
<?php $teachers = $sql->getallkey('*',DB_TABLE_PREFIX.'teachers',"hidden = 0 OR hidden IS NULL",'','alias');?>
<div id="obsv_lectures" class="r t-rec t-rec_pt_120 t-rec_pb_90" style="padding-top:120px;padding-bottom:90px; " data-animationappear="off" data-record-type="678" >
    <!-- t678 -->
    <div class="t678 ">
        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__topwrapper t-align_center">
                    <div class="t-section__title t-title t-title_xs" field="btitle">Записаться на лекции</div>
                </div>
            </div>
        </div>
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_2">
                <div>
                    <form action="/obsv/lectures" method="post" name="tform" id="obsv_zap" class="t-form t-form_inputs-total_4 ">
                        <!-- NO ONE SERVICES CONNECTED -->
                        <div class="t-form__successbox t-text t-text_md" style="display:none;">
                            <?= (!empty($_OBSV['ERROR']))?$_OBSV['ERROR']:'';?>
                        </div>
                        <div class="t-form__inputsbox">
                            <?php if(!empty($_SESSION['SESS_AUTH']['LOGIN']) && strpos($_SESSION['SESS_AUTH']['LOGIN'],'@')!== false ){ ?>
                                <input type="hidden" name="obsv[email]" value="<?= $_SESSION['SESS_AUTH']['LOGIN']?>" />
                            <?php }else{ ?>
                                <div class="t-input-group t-input-group_em" data-input-lid="1493283059688">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1493283059688" style="">E-mail</div>
                                    <div class="t-input-block">
                                        <input type="text" name="obsv[email]" class="t-input"
                                               value=""  style="color:#000000; border:1px solid #000000; ">
                                    </div>
                                </div>
                            <?php } ?>
                            <?php if(!empty($_SESSION['SESS_AUTH']['ALL']['author_surname'])){ ?>
                                <input type="hidden" name="obsv[surname]" value="<?= $_SESSION['SESS_AUTH']['ALL']['author_surname']?>" />
                            <?php }else{ ?>
                                <div class="t-input-group t-input-group_nm" data-input-lid="1494858943227">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1494858943227" style="">Фамилия</div>
                                    <div class="t-input-block">
                                        <input type="text" name="obsv[surname]" class="t-input"
                                               value=""  style="color:#000000; border:1px solid #000000; ">
                                    </div>
                                </div>
                            <?php } ?>
                            <?php if(!empty($_SESSION['SESS_AUTH']['NAME'])){ ?>
                                <input type="hidden" name="obsv[name]" value="<?= $_SESSION['SESS_AUTH']['NAME']?>" />
                            <?php }else{ ?>
                                <div class="t-input-group t-input-group_nm" data-input-lid="1494858943227">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1494858943227" style="">Имя</div>
                                    <div class="t-input-block">
                                        <input type="text" name="obsv[name]" class="t-input"
                                               value=""   style="color:#000000; border:1px solid #000000; ">
                                    </div>
                                </div>
                            <?php } ?>

                            <div class="t-input-group t-input-group_ph" data-input-lid="1495040492013">
                                <div class="t-input-block">
                                        <?php if(!empty($lectures)){ ?>
                                        <?php foreach($lectures as $alias => $lecture ){ ?>
                                                <label class="t-checkbox__control t-text t-text_md">
                                                <input type="checkbox" name="obsv[events][]" value="<?=$alias?>" class="t-checkbox">
                                                <div class="t-checkbox__indicator"></div>
                                                    <?=STR::date2word($lecture['event_date'],'d m');?> <?=$lecture['event_time'];?>
                                                    <div style="margin-left: 34px;">
                                                        <strong><?=$lecture['name'];?></strong>
                                        <?php foreach (explode(',',$lecture['teacher_id']) as $teacher_id){ ?>
                                                <?php $teacher = $teachers[$teacher_id];?>
                                                        <br><em><?=$teacher['name'];?></em><br>
                                                        <span class="t-text_xs"><?=$teacher['position'];?></span>
                                                    <?php } ?></label>
                                </div><br>
                                        <?php } ?>
                                        <?php } ?>
                                </div>
                            </div>
                        <div class="t-input-group t-input-group_cb">
                            <div class="t-input-block">
                                <label class="t-checkbox__control t-text t-text_xs">
                                    <input type="checkbox" name="obsv[agree_eula]" value="1"
                                           class="t-checkbox">
                                    <div class="t-checkbox__indicator"></div>
                                    Даю свое согласие на обработку персональных данных</label>
                                <div class="t-input-error"></div>
                            </div>
                        </div><!--
                        <div class="t-input-group t-input-group_cb">
                            <div class="t-input-block">
                                <label class="t-checkbox__control t-text t-text_xs">
                                    <input type="checkbox" name="obsv[news_subscribe]" value="1"
                                           class="t-checkbox">
                                    <div class="t-checkbox__indicator"></div>
                                    Хочу получать новости о программе "Культурная инициатива / лидерство в креативных индустриях"</label>
                                <div class="t-input-error"></div>
                            </div>
                        </div>-->
                            <div class="t-form__submit"> <button type="submit" class="t-submit" style="color:#ffffff;background-color:#000000;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;" >Отправить</button> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <style>
        #rec111721791 input::-webkit-input-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec111721791 input::-moz-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec111721791 input:-moz-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec111721791 input:-ms-input-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec111721791 textarea::-webkit-input-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec111721791 textarea::-moz-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec111721791 textarea:-moz-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec111721791 textarea:-ms-input-placeholder {
            color: #000000;
            opacity: 0.5;
        }
        #rec111721791 .t-btn[data-btneffects-first],
        #rec111721791 .t-btn[data-btneffects-second],
        #rec111721791 .t-submit[data-btneffects-first],
        #rec111721791 .t-submit[data-btneffects-second] {
            position: relative;
            overflow: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    </style>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#obsv_zap").validate({
            rules: {
                'obsv[email]': {
                    required: true,
                    email: true
                },
                'obsv[name]': {
                    required: true,
                    rangelength: [2, 255]
                },
                'obsv[surname]': {
                    required: true,
                    rangelength: [2, 255]
                },
                'obsv[events][]': {
                    required: true,
                    minlength:  1
                },
                'obsv[agree_eula]': {
                    required: true
                }
            },
            messages: {
                'obsv[email]': {
                    required: "Заполните это поле",
                    email: "Введенные данные не являются email"
                },
                'obsv[name]': {
                    required: "Заполните это поле",
                    rangelength: "Введите от 2 до 255 символов"
                },
                'obsv[surname]': {
                    required: "Заполните это поле",
                    rangelength: "Введите от 2 до 255 символов"
                },
                'obsv[events][]': {
                    required: "Выберите хотябы одну лекцию<br>",
                    minlength: "Выберите хотябы одну лекцию<br>"
                },
                'obsv[agree_eula]': {
                    required: "Необходимо дать согласие на обработку<br>"
                }
            }
        });
    });


    $('#obsv_lectures').off('submit','#obsv_zap').on('submit','#obsv_zap',function (e) {

        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
        var $form = $(this);
        // создадим объект данных формы
        formData = new FormData($form.get(0));
        $.ajax({
            contentType: false, // важно - убираем форматирование данных по умолчанию
            processData: false, // важно - убираем преобразование строк по умолчанию
            type: 'post',
            url: '/empty/obsv/',
            data: formData
        }).done(function (data) {
            console.log('success');
            console.log(data);
            //$('#sector_obsv').html(data);
            if( data == 'Ok' ) {
                $('#obsv_lectures .t-form__successbox').html('Регистрация на лекции успешно завершена. <br>На Вашу почту было отправлено письмо с информацией по выбранным лекциям.');
            }else{
                $('#obsv_lectures .t-form__successbox').html('К сожалению в данный момент регистрацию на лекции не удалось выполнить.<br>Попробуйте повторить позднее. Если проблема будет повторяться, пожалуйста сообщите нам через форму обратной связи на главной странице.');
            }
            $('#obsv_lectures .t-form__successbox').show(400);
            scrollToElement('obsv_lectures');
            $('#obsv')[0].reset();
            setTimeout(function(){
                $('#obsv_lectures .t-form__successbox').hide(400).html('');
            }, 6000);

        }).fail(function (jqXHR, textStatus) {
            //alert( "Request failed: " + textStatus );
            console.log("Request failed: " + textStatus);
            console.log(data);
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
    });
</script>