<?php
    $iconClassModules = array(
        'db'=>'fa fa-table',
        'doctxt'=>'fa fa-file-text',
        'auth' => 'fa fa-users',
        'local' => 'fa fa-wrench'
    );
    $cur_url = $_SERVER['SERVER_NAME'].$_SERVER['REQUEST_URI'];
    if(!empty($_SERVER['QUERY_STRING'])) $cur_url .= '?'.$_SERVER['QUERY_STRING'];
?>
<?php for ($i = 0; $i < sizeof($modules); $i++) { ?>
    <?php $_PROJECT['ADM_MENU'] = array(); ?>
    <?php $_CORE->cmd_exec(array($modules[$i], '/adm_menu')); ?>
    <?php if (!empty($_PROJECT['ADM_MENU'])) { ?>
        <?php $show_sub_menu = false; ?>
        <?php $sub_menu = down_sub_menu($_PROJECT['ADM_MENU'], $cur_url, $show_sub_menu); ?>
        <li class="treeview <?= ($show_sub_menu)?'menu-open':'';?>">
            <a href="javascript:;">
                <?php if(!empty($iconClassModules[$modules[$i]])) { ?>
                    <i class="<?= $iconClassModules[$modules[$i]];?>"></i>
                <?php } ?>
                <?php  $modName = Main::get_lang_str('menu_name', $modules[$i]); ?>
                <span><?= ($modName != 'menu_name')? $modName : strtoupper($modules[$i]); ?></span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <?php if(!empty($sub_menu)){ ?>
            <ul class="treeview-menu" style="display: <?= ($show_sub_menu)?'block':'none';?>;">
                <?= $sub_menu; ?>
            </ul>
            <?php } ?>
        </li>
    <?php } ?>
<?php } ?>

<?php if($_CORE->IS_DEV) { ?>
    <li class="treeview">
        <a href="javscript:;">
            <i class="fa fa-cog mr-5"></i>
            Настройки
            <b class="caret"></b>
        </a>

        <ul class="treeview-menu">
            <li><a href="/db/settings/">Настройки сайта</a></li>
            <? if ($_CORE->IS_DEV) { ?>
                <li><a href="/db/core_menu/">Меню админки</a></li>
            <? } ?>
            <li><a href="/db/core_shortcuts/">Быстрые ссылки</a></li>
        </ul>

    </li>
<?php } ?>
<?php
function down_sub_menu($arr, $cur_url, &$show_sub_menu){
    $str = '';
    foreach ($arr as $path => $val) {
        if ($val[2] == 'delimeter') {
            $str .= '<li class="header nav-small-cap">'.$val['1'].'</li>';
        } else {
            if(strpos($cur_url,$path)!== false) $show_sub_menu = true;
            $str .= '<li class="'.((strpos($cur_url,$path)!== false)?'active':'').'" >';
            $str .= '<a href="'.$path.'">'.$val['1'].'</a></li>';
        }
    }
    return $str;
}
?>