<li <?= (in_array($item['id'], $itemsparent)) ? 'class="treeview"' : ''; ?>>

    <a href="<?= (!empty($item['link'])) ? $item['link'] : 'javascript:;'; ?>" >
        <i class="<?= $item['icon']; ?>"></i>
        <span><?= $item['name']; ?></span>
        <?php if (in_array($item['id'], $itemsparent)) { ?>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
        <?php } ?>
    </a>