<?php global $form, $_KAT; ?>
<?php $headerFields = array('name', 'ts', 'hidden'); ?>
<div class="box-body">
<div class="panel panel-default">
    <div class="panel-body">
    <p align=center><?= @nl2br($_KAT['ERROR']); ?></p>
    </div>
    <form action="" method="post"
          enctype="multipart/form-data" name="db_form">
        <div class="panel-body">
        <fieldset style="border:0;">
            <button type="reset" class="btn btn-default"><?= Main::get_lang_str('cancel', 'db'); ?></button>
            <div class="btn-group pull-right">
                <input type="submit" name="submit_x" onClick="db_form.apply.value=1; db_form.submit();"
                       class="btn btn-info"
                       value="<?= Main::get_lang_str('apply', 'db'); ?>">
                <input type="submit" name="submit" class="btn btn-success"
                       value="<?= Main::get_lang_str('save', 'db'); ?>">
            </div>
        </fieldset>
        </div>
        <table border=0 width='100%' cellspacing=1 cellpadding=3 class="form table">
            <?php $_KAT['cForm']->Body_print(); ?>
        </table>
        <div class="panel-body">
        <fieldset style="border:0;">
            <button type="reset" class="btn btn-default"><?= Main::get_lang_str('cancel', 'db'); ?></button>
            <div class="btn-group pull-right">
                <input type="submit" name="submit_x" onClick="db_form.apply.value=1; db_form.submit();"
                       class="btn btn-info"
                       value="<?= Main::get_lang_str('apply', 'db'); ?>">
                <input type="submit" name="submit" class="btn btn-success"
                       value="<?= Main::get_lang_str('save', 'db'); ?>">
            </div>
            <input type="hidden" name="apply" value="0">
        </fieldset>
        </div>
    </form>
</div>
<script type="text/javascript">
    document.db_form['form[name]'].focus();
</script>
</div>