<div id="form">
	<!--//knopka zagruzki fajlov-->
	<input id="uploadify" type="file" name="Filedata" style="margin:10px;" /><br />
	<!-- Spisok zagruzhaemyh fajlov -->
 	<div id="Filequeue"></div> 
</div>

<!--//blok vyvoda informacii o kolichestve zagruzhennyh fajlov-->
<div id="status-message"></div>
<div id="sat"></div>

<script type="text/javascript" language="javascript">
	$(document).ready(function(){
		$("#uploadify").uploadify({
			'uploader'     : '<?=$_CORE->TEMPLATES.$_CORE->CURR_TPL?>/db/uploadify.swf',
			'script'       : '/clear/db/<?=$_KAT['KUR_ALIAS'];?>/mass/uploadify',
			'cancelImg'    : '<?='/templates/'.$_CORE->CURR_TPL.'/'.$_KAT['MODULE_NAME'];?>/cancel.png',
			'multi'        : true,
			'auto'         : true,
			'fileExt'      : '*.jpg;*.jpeg;*.gif;*.png',
			'fileDesc'     : 'Image Files (.JPG, .GIF, .PNG)',
			'queueID'      : 'Filequeue',
			'removeCompleted': true,  

			'scriptData'   : {
			   "galeryID"  : $("#galeryID").val(),
			   "SID"  : '<?=session_id();?>'
			},
			'onSelectOnce' : function(event,data) {
				//$('#upload_but').show();
			},
			'onCancel' : function(event,data) {
				//$('#upload_but').hide();
			},
			'onAllComplete' : function(event,data) {
				if (!data.errors) {
					$('#status-message').text('<?=Main::get_lang_str('zagruzka_vyp_zagr', 'db');?> ' + data.filesUploaded + ' <?=Main::get_lang_str('file', 'db');?>');
					$('#form').hide();
					$("#sat").load('/clear/db/<?=$_KAT['KUR_ALIAS'];?>/mass/getnewfoto');
				} else {
					$('#status-message').text('<?=Main::get_lang_str('zagruzka_ne_vyp', 'db');?>' + data.errors + '<?=Main::get_lang_str('error', 'db');?>');
				}
			}
		});
	});
</script>
