table.table tr td a{
	color: #FF8B01;
}




/* common plate & see also*/

table.common a:hover, table.seealso a:hover { color: #FF8B01; }


/* color plate */

table.color, table.popuptitle {
	background-color: #FF8B01;
	padding: 20px;
	border-collapse: inherit;
}

TABLE.calend {
	BORDER-RIGHT: #BBBBBB 0px solid; BORDER-TOP: #BBBBBB 1px solid; BORDER-LEFT: #BBBBBB 1px solid; BORDER-BOTTOM: #BBBBBB 0px solid
}
TD.month {
	BORDER-RIGHT: #BBBBBB 1px solid; BORDER-TOP: #BBBBBB 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #BBBBBB 0px solid; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #BBBBBB 1px solid; BACKGROUND-COLOR: #cccccc
}
TD.head {
	BORDER-RIGHT: #BBBBBB 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #BBBBBB 0px solid; PADDING-LEFT: 7px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #BBBBBB 0px solid; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #BBBBBB 1px solid; BACKGROUND-COLOR: #348DF4
}
TD.cday {
	BORDER-RIGHT: #BBBBBB 1px solid; BORDER-TOP: #BBBBBB 0px solid; FONT-WEIGHT: bold; BORDER-LEFT: #BBBBBB 0px solid; COLOR: white; BORDER-BOTTOM: #BBBBBB 1px solid; BACKGROUND-COLOR: #348DF4
}
TD.day {
	BORDER-RIGHT: #BBBBBB 1px solid; BORDER-TOP: #BBBBBB 0px solid; FONT-SIZE: 11px; BORDER-LEFT: #BBBBBB 0px solid; COLOR: black; BORDER-BOTTOM: #BBBBBB 1px solid; BACKGROUND-COLOR: #f3f3f3
}
TD.gday {
	BORDER-RIGHT: #BBBBBB 1px solid; BORDER-TOP: #BBBBBB 0px solid; FONT-SIZE: 11px; BORDER-LEFT: #BBBBBB 0px solid; COLOR: #999999; BORDER-BOTTOM: #BBBBBB 1px solid; BACKGROUND-COLOR: #DDDDDD
}
A.cday {
	FONT-WEIGHT: bold; COLOR: white; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none; width: 100%;
}
A.day {
	COLOR: black; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none; width: 100%;
}
A.day6 {
	COLOR: #ff7f00; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none; width: 100%;
}
A.day7 {
	COLOR: #ff7f00; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none; width: 100%;
}

/* autocompleter */
.ac_results {
	padding: 0px;
	border: 1px solid #336600;/* WindowFrame*/;
	background-color: #ffffff; /*Window*/;
	overflow: hidden;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}

.ac_loading {
	background : Window url('./indicator.gif') right center no-repeat;
}

.ac_over {
	background-color: #336600/*Highlight*/;
	color: #ffffff /*HighlightText*/;
}


.impreview { height: 100px; }

option {
	white-space: normal;
}