<?php global $_KAT, $_CORE, $FORM_DATA, $FORM_ORDER; ?>
<script language=JavaScript>
    var f = false;
    function moveGroupUp(dir) {
        var list = document.dataForm.answers;
        var selindex = list.selectedIndex;
        if ((    selindex == -1 ) || ( dir >= 0 )) {
            return;
        }
        var toindex;
        for (i = 0; i < list.options.length; i++)
            if (list.options[i].selected) {
                selindex = i;
                toindex = selindex + dir;
                if (toindex < 0) {
                    return;
                }
                var selopt = new Option(list.options[selindex].text,
                    list.options[selindex].value,
                    false,
                    list.options[selindex].selected);

                var toopt = new Option(list.options[toindex].text,
                    list.options[toindex].value,
                    false,
                    list.options[toindex].selected);
                list.options[toindex] = selopt;
                list.options[selindex] = toopt;
            }
    }

    function moveGroupDown(dir) {
        var list = document.dataForm.answers;
        var selindex = list.selectedIndex;
        if ((    selindex == -1 ) || ( dir <= 0 )) {
            return;
        }
        var toindex;
        for (i = list.options.length - 1; i >= 0; i--)
            if (list.options[i].selected) {
                selindex = i;
                toindex = selindex + dir;
                if (toindex >= list.options.length) {
                    return;
                }
                var selopt = new Option(list.options[selindex].text,
                    list.options[selindex].value,
                    false,
                    list.options[selindex].selected);

                var toopt = new Option(list.options[toindex].text,
                    list.options[toindex].value,
                    false,
                    list.options[toindex].selected);
                list.options[toindex] = selopt;
                list.options[selindex] = toopt;
            }
    }

    function saveData() {
        var list = document.dataForm.answers;
        document.dataForm.data_ordering.value = "";
        for (i = 0; i < list.options.length; i++) {
            document.dataForm.data_ordering.value += list.options[i].value + ';';
        }
        return true;
    }


    function saveDefault() {
        if (f) {
            return;
        }
        def = new Array(document.dataForm.answers.options.length);
        var list = document.dataForm.answers;
        for (i = 0; i < list.options.length; i++) {
            def[i] = list.options[i];
        }
        f = true;
    }
    function Reset() {
        var list = document.dataForm.answers;
        for (i = 0; i < list.options.length; i++) {
            list.options[i] = def[i];
            list.options[i].selected = false;
        }
    }
</script>

<h2><?=Main::get_lang_str('priority','db');?></h2>

<form onmouseover="saveDefault();" name="dataForm" method="post"
      action="<?= $template ?><?= $_SERVER['REQUEST_URI'] ?>?<?= $_SERVER['QUERY_STRING'] ?>">
    <input type="hidden" value="1" name="closeWindow">
    <input type="hidden" name="data_ordering">

    <p><?=Main::get_lang_str('spisok','db');?><span class=star>*</span></p>

    <?php if (!$wC) {
        $search = @$_REQUEST['form']; ?>

        <?php if (KAT::inc_tpl('search.form.html', $file)) include "$file"; ?>

        <?php if (!empty($search)) {
            $_KAT['SEARCH_RES'] = array(); ?>
            <?php KAT::search($search, $FORM_ORDER, 10000); ?>
            <?php if (sizeof($_KAT['SEARCH_RES']) > 0) { ?>

                <select style="width: 100%" class="form-control"
                        size=<?= (sizeof($_KAT['SEARCH_RES']) > 30) ? 30 : sizeof($_KAT['SEARCH_RES']); ?> name=answers
                        multiple>

                    <?php foreach ($_KAT['SEARCH_RES'] as $num => $data) { ?>

                        <option value=<?= $data['alias'] ?>> <?= $data['name'] ?></option>

                    <?php } ?>

                </select>

            <?php } else { ?>

                <?php if (!isset($_KAT[$_KAT['KUR_ALIAS']]['NOTHING'])) { ?>
                    <div class="mark"><?= KAT_ERR_NOT_FOUND ?> </div><br>
                <?php } else { ?>
                    <?= $_KAT[$_KAT['KUR_ALIAS']]['NOTHING']; ?>
                <?php } ?>
            <?php } ?>
        <?php } ?>
    <?php } else { ?>
        <?php if (KAT::inc_tpl('after_ordering.html', $file)) include "$file"; ?>
    <?php } ?>

    <div class="btn-group">
        <input type="button" onclick="moveGroupUp(-1);" class="btn btn-info" value="<?=Main::get_lang_str('up','db');?>"
               name="submit232222">
        <input type="button" onclick="moveGroupDown(1);" class="btn btn-success" value="<?=Main::get_lang_str('down','db');?>"
               name="submit23222">
    </div>
    <div class="row"><p></p></div>
    <fieldset style="border:0;">
        <input type=button value="<?=Main::get_lang_str('cancel','db');?>" onclick="Reset();" class="btn btn-default">
        <div class="btn-group pull-right">
            <input type="button" id="Apply"
                   onclick="dataForm.closeWindow.value=0;saveData(); dataForm.submit();" class="btn btn-info"
                   value="<?=Main::get_lang_str('apply','db');?>">
            <input type="submit" id="Update" onclick="dataForm.closeWindow.value=1;saveData();"
                   class="btn btn-success" value="<?=Main::get_lang_str('save','db');?>">
        </div>
    </fieldset>
</form>
