</tbody></table></form>
<div id='connects'></div>

<SCRIPT language="javascript" src="/js/common.js"  type="text/javascript"></SCRIPT>
<script>
names = new Array;
from = new Array;
order = new Array;
var max=<?=$i?>;
<? global $str_names, $str_from; ?>
<?=$str_names?>
<?=$str_from?>
<?=$str_order?>
lview();
</script>



