<form name=conn>
    <table class="table table-bordered table-striped table-responsive dataTable">
        <thead>
        <tr>
            <th width="1%">
                <img height=16 alt=" " src="<?= Main::comm_link('links.gif', $f, $_CONNECTS['MODULE_NAME']); ?>"
                     width=16></th>
            <th>Название</th>
        </tr>
        </thead>
        <tbody>
