<?php
global $form, $_CORE;
if (empty($form['from_auth'])) $form['from_auth'] = $_SESSION['SESS_AUTH']['ID'];

// скроем от пользователей удаленные
if (!$_CORE->IS_ADMIN && !empty($form['hidden'])) {

    echo '<div class="alert alert-danger alert-dismissable">Данные удалены<button type="button" class="close" data-dismiss="alert" aria-hidden="true">х</button></div>';

} else {

    ?>
    <div class="content-panel">

        <?= (!empty($_KAT['ERROR'])) ? '<p class="alert alert-warning">' . @nl2br($_KAT['ERROR']) . '</p>' : '' ?>

        <form class="form form-horizontal style-form" id="<?=$_KAT['KUR_ALIAS']?>Form" autocomplete="off" method=post
              enctype="multipart/form-data" name='db_form'>

            <?php foreach ($form as $kf => $form_val){
                if(!empty($form_val) && is_string($form_val)){
                    $form[$kf] = htmlspecialchars_decode($form_val);
                }
            }?>
            <table border=0 width='100%' cellspacing=0 cellpadding=0 class="form">
                <tbody class="t431__tbody">
                <?php $_KAT['cForm']->Form_TD_title['class'] = "t431__td td-18"; ?>
                <?php $_KAT['cForm']->Form_TD_val['class'] = "t431__td td-75 padding-right"; ?>
                <?php $_KAT['cForm']->Body_print(); ?>
                <?php if(empty($_SESSION['SESS_AUTH']['ALL']['agree_eula'])){?>
                <tr class="t431__oddrow" data-unique="51803_name">
                    <td valign="top" colspan="2" class="t431__td td-100" align="left">
                        <div class="t-input-group t-input-group_cb">
                            <div class="t-input-block">
                                <label class="t-checkbox__control t-text t-text_xs">
                                    <input type="checkbox" name="agree_eula" value="1"
                                           class="t-checkbox">
                                    <div class="t-checkbox__indicator"></div>
                                    Я принимаю условия <a href="https://auth.rsv.bizml.ru/docs/cultureheads/user.docx" target="_blank">Пользовательского соглашения</a> и даю своё согласие на передачу персональной информации третьим лицам на условиях, определенных <a href="https://auth.rsv.bizml.ru/docs/cultureheads/conf_politic.docx" target="_blank">Политикой конфиденциальности</a></label>
                                <div class="t-input-error"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <?php } ?>
                </tbody>
            </table>

            <table width="100%" border="0" cellpadding="0" cellspacing="0" class=" form"
                   style="margin-top:20px">
                <tr>
                    <td colspan="3" class="sep">
                        <div class="sep">
                            <spacer type="block" width="1" height="1"></spacer>
                        </div>
                    </td>
                </tr>
                <tr>
                    <input type="hidden" name="apply" value="0">
                    <input type="hidden" name="submit_x" value="1">
                    <td width="30%" class="tdleft"><input type=submit name="submit"
                                                          class="t-submit btn btn-primary btn-info btn-large"
                                                          value="Сохранить"></td>
                    <td width="40%">&nbsp; &nbsp;</td>
                    <td width="30%" class="tdright" align="right">
                        <input type="reset" value="Отменить" class="t-submit btn btn-warning btn-large btn-block"
                               onclick="$('#rec111867143 .t431:eq(1)').hide();$('#rec111867143 .t431:first').show(); ">
                    </td>
                </tr>
            </table>
        </form>
    </div>


    <script>

        $(document).ready(function() {
            $('#<?=$_KAT['KUR_ALIAS']?>Form input[type=file]').hide();

            $('#<?=$_KAT['KUR_ALIAS']?>Form input[type=file]').each(function (index, el){
                // Для каждого элемента сохраняем значение в personsIdsArray,
                // если значение есть.
                $(el).after('<div class="load_file btn t-submit">Обзор...</div><input type="text" name="f_name" class="t-input load_file_name" value="Файл не выбран.">');
            });

            $('#<?=$_KAT['KUR_ALIAS']?>Form .load_file').click(function(){
                $(this).prev('input[type=file]').click();
                return false;
            });
            $('#<?=$_KAT['KUR_ALIAS']?>Form input[type=file]').change(function() {
                if($(this).get(0).files.length > 0){
                    var f_name = [];
                    for (var i = 0; i < $(this).get(0).files.length; ++i) {
                        f_name.push($(this).get(0).files[i].name);
                    }
                    $(this).next().next('input.load_file_name').val(f_name.join(", "));
                }else{
                    $(this).next().next('input.load_file_name').val('Файл не выбран.');
                }
            });

        });

    </script>
<? } ?>

