<?php if($member_role !== ''){ ?>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
<?php } ?>
</div>
</div>
<script type="text/javascript"> $(document).ready(function () {
        <?php if($member_cnt < 2 || $member_cnt > 3 ){ ?>
        $('#member_cnt').show();
        <?php } ?>
        t585_init('114778798');

    });</script>
</div>

<script>
        $(document).off('click', '#cabinet_members a.member_role').on('click', '#cabinet_members a.member_role', function (e) {
            //$('#cabinet_members a.member_role').click(function (e) {
            console.log($(this).attr('href'));
            var reload_page = false;
            if($(this).hasClass('change_leader')){
                if(confirm('Передать лидерство этому участнику?') == false){
                    return false;
                }
                reload_page = true;
            }
            //отмена действия по умолчанию для кнопки submit
            e.preventDefault();
            $.ajax({
                type: 'get',
                url: $(this).attr('href'),
            }).done(function (data) {
                console.log('success');
                if(reload_page) {location.reload();return false;}
                $('#cabinet_members').html(data);

            }).fail(function (jqXHR, textStatus) {
                //alert( "Request failed: " + textStatus );
                console.log("Request failed: " + textStatus);
                console.log(data);
            });
            //отмена действия по умолчанию для кнопки submit
            e.preventDefault();
            return false;
        });
</script>