<div id="rec114779901" class="r t-rec" style=" " data-record-type="215"><a name="team" style="font-size:0;"></a>
</div>
<div id="rec114778814" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px; "
     data-record-type="795"><!-- T795 -->
    <div class="t795">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <h2 class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">
                    <div style="font-size:36px;" data-customstyle="yes">Команда</div>
                </h2>
            </div>
        </div>
    </div>
</div>

    <div id="member_cnt" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; display: none; "
         data-record-type="296"><!-- t265 -->
        <div class="t265">
            <div class="t-container">
                <div class="t-col t-col_8 t-prefix_2">
                    <div class="t265__wrapper" style="background: #EBEBEB;">
                        <div class="t265__icon">
                            <svg x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24"
                                 style="enable-background:new 0 0 24 24;">
                                <circle style="fill:#ff0000;" cx="12.125" cy="12.125" r="12"/>
                                <g>
                                    <path style="fill: #fff;"
                                          d="M10.922,6.486c0-0.728,0.406-1.091,1.217-1.091s1.215,0.363,1.215,1.091c0,0.347-0.102,0.617-0.304,0.81 c-0.202,0.193-0.507,0.289-0.911,0.289C11.328,7.585,10.922,7.219,10.922,6.486z M13.252,17.792h-2.234V9.604h2.234V17.792z"/>
                                </g>
                            </svg>
                        </div>
                        <div class="t265__text t-descr t-descr_xs" style="" field="text">
                            В составе <strong>обязательно</strong> должно быть 2 или 3 человека, пригласите ваших коллег и подскажите им код проекта
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div id="rec114778798" class="r t-rec t-rec_pt_60 t-rec_pb_60"
     data-animationappear="off" data-record-type="585"><!-- T585-->
    <div class="t585">
        <div class="t-container">
<?php $member_role = ''; $member_cnt = 0;?>