<?php if($data['role_project']!== $member_role){ ?>
<?php if($member_role !== ''){ ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php } ?>
<?php $member_role = $data['role_project']; ?>
<div class="t-col t-col_8 t-prefix_2">
    <div class="t585__accordion">
        <div class="t585__wrapper">
            <div class="t585__header" style=" border-top: 1px solid #eee;">
                <div class="t585__title t-name t-name_xl" field="li_title__1480611048442" style="">
                    <?php if($member_role == 99) echo 'Лидер'; ?>
                    <?php if($member_role == 20) echo 'Состав'; ?>
                    <?php if($member_role == 0) echo 'Заявки на вступление'; ?>
                </div>
                <div class="t585__icon">
                    <div class="t585__lines">
                        <svg width="24px" height="24px" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                               stroke-linecap="square">
                                <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                    <path d="M0,11 L22,11"></path>
                                    <path d="M11,0 L11,22"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="t585__circle" style="background-color: transparent;"></div>
                </div>
                <div class="t585__icon t585__icon-hover">
                    <div class="t585__lines">
                        <svg width="24px" height="24px" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd"
                               stroke-linecap="square">
                                <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                    <path d="M0,11 L22,11"></path>
                                    <path d="M11,0 L11,22"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="t585__circle" style="background-color: #eee;"></div>
                </div>
            </div>
            <div class="t585__content">
                <div class="t585__textwrapper">
                    <div class="t585__text t-descr t-descr_xs" field="li_descr__1480611048442" style="">
<?php } ?>

<?= $data['author_comment'];?>

<?php if($_SESSION['SESS_AUTH']['ALL']['role_project'] == 99 ){ ?>
    <?php $url_act = '/empty/local/project_role?user_id='.$data['author_id']; ?>
    <?php if($data['role_project'] == '20' && $_CONF['access_change_status'] ){  ?>
       ~ <a href="<?= $url_act?>&no" class="member_role">Исключить</a> ~ <a href="<?= $url_act?>&main"  class="member_role change_leader">Назначить лидером</a>
    <?php } ?>
    <?php if($data['role_project'] == '0' && $_CONF['access_change_status'] ){ ?><?= $member_cnt ?>
       ~ <?= ($member_cnt<3)?'<a href="'. $url_act.'&yes" class="member_role">Включить</a>':'<span title="максимальное количество участников: 3 человека">Включить</span>'?> ~ <a href="<?= $url_act?>&no" class="member_role">Отказать</a>
    <?php } ?>
<?php } ?>
<?php if($_CONF['OurChat']){ ?>
    <?php if($_SESSION['SESS_AUTH']['ALL']['alias'] != $data['alias']){?>
           ~ <a href="javascript:"  class="OurChat_show" data-alias="<?=$data['alias']?>">Написать</a>
    <?php } ?>
<?php } ?>
<br/>
<?php if($data['role_project'] >= 20 )$member_cnt++; ?>
