<?php global $form;
$region_name = '';
if (!empty($form['region_id']))
    $region_name = SQL::getval('name', DB_TABLE_PREFIX . 'regions', "id = '" . $form['region_id'] . "'");
?>
<div id="rec111862120" class="r t-rec t-rec_pt_120 t-rec_pb_0" style="padding-top:120px;padding-bottom:0px; "
     data-record-type="795"><!-- T795 -->
    <div class="t795">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t795__title t-title t-title_xs t-margin_auto" field="title" style="">Личные данные</div>
            </div>
        </div>
    </div>
</div>
<?php if($form['complit']!=100){ ?>
<div class="r t-rec t-rec_pt_30 t-rec_pb_0 r_anim r_showed" style="" data-record-type="296"><!-- t265 -->
    <div class="t265">
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t265__wrapper" style="background: #EBEBEB;">
                    <div class="t265__icon">
                        <svg x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;">
                            <circle style="fill:#ff0000;" cx="12.125" cy="12.125" r="12"></circle>
                            <g>
                                <path style="fill: #fff;" d="M10.922,6.486c0-0.728,0.406-1.091,1.217-1.091s1.215,0.363,1.215,1.091c0,0.347-0.102,0.617-0.304,0.81 c-0.202,0.193-0.507,0.289-0.911,0.289C11.328,7.585,10.922,7.219,10.922,6.486z M13.252,17.792h-2.234V9.604h2.234V17.792z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="t265__text t-descr t-descr_xs" style="" field="text">
                        Для участия в проекте заполните свои анкетные данные
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php } ?>
<div id="rec111867143" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px; "
     data-record-type="431"><!-- t431 --><!--color5 — table head border color-->
    <div class="t431">
        <div class="t-container">
            <div class="t-col t-col_10 t-prefix_1 t431__tdscale_1 t-text t-text_sm t-align_left ">
                <div class="t431__wrapper-for-mobile">
                    <div class="t431__table-wapper" data-auto-correct-mobile-width="false">
                        <table class="t431__table " style="">
                            <tbody class="t431__tbody">
                            <?php if(!empty($form['author_comment'])){ ?>
                            <tr class="t431__oddrow" style="background: #ffffff">
                                <td class="t431__td"
                                    style="width:25vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                    Имя:
                                </td>
                                <td class="t431__td"
                                    style="width:75vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                    <?= $form['author_comment']?>
                                </td>
                            </tr>
                            <?php } ?>
                            <?php if(!empty($form['author_surname'])){ ?>
                            <tr class="t431__oddrow" style="background: #ffffff">
                                <td class="t431__td"
                                    style="width:25vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                    Фамилия:
                                </td>
                                <td class="t431__td"
                                    style="width:75vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                    <?= $form['author_surname']?>
                                </td>
                            </tr>
                            <?php } ?>
                            <?php if(!empty($form['author_patronymic'])){ ?>
                            <tr class="t431__oddrow" style="background: #ffffff">
                                <td class="t431__td"
                                    style="width:25vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                    Отчество:
                                </td>
                                <td class="t431__td"
                                    style="width:75vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                    <?= $form['author_patronymic']?>
                                </td>
                            </tr>
                            <?php } ?>
                            <?php if(!empty($form['author_phone'])){ ?>
                            <tr class="t431__oddrow" style="background: #ffffff">
                                <td class="t431__td"
                                    style="width:25vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                    Контактный телефон:
                                </td>
                                <td class="t431__td"
                                    style="width:75vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                    <?= $form['author_phone']?>
                                </td>
                            </tr>
                            <?php } ?>
                            <?php if(!empty($form['gender'])){ ?>
                                <tr class="t431__oddrow" style="background: #ffffff">
                                    <td class="t431__td"
                                        style="width:25vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                        Пол:
                                    </td>
                                    <td class="t431__td"
                                        style="width:75vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                        <?= $form['gender']?>
                                    </td>
                                </tr>
                            <?php } ?>
                            <?php if(!empty($form['author_age'])){ ?>
                            <tr class="t431__oddrow" style="background: #ffffff">
                                <td class="t431__td"
                                    style="width:25vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                    Возраст:
                                </td>
                                <td class="t431__td"
                                    style="width:75vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                    <?= $form['author_age']?>
                                </td>
                            </tr>
                            <?php } ?>
                            <?php if(!empty($region_name)){ ?>
                            <tr class="t431__evenrow" style="background: #ffffff">
                                <td class="t431__td"
                                    style="width:25vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                    Регион:
                                </td>
                                <td class="t431__td"
                                    style="width:75vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                    <?= $region_name;?>
                                </td>
                            </tr>
                            <?php } ?>
                            <?php if(!empty($form['city'])){ ?>
                                <tr class="t431__oddrow" style="background: #ffffff">
                                    <td class="t431__td"
                                        style="width:25vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                        Город\ нас. пункт:
                                    </td>
                                    <td class="t431__td"
                                        style="width:75vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                        <?= $form['city']?>
                                    </td>
                                </tr>
                            <?php } ?>
                            <?php if(!empty($form['education'])){ ?>
                                <tr class="t431__oddrow" style="background: #ffffff">
                                    <td class="t431__td"
                                        style="width:25vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                        Моё образование:
                                    </td>
                                    <td class="t431__td"
                                        style="width:75vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                        <?= $FORM_DATA['education']['arr'][$form['education']]?>
                                    </td>
                                </tr>
                            <?php } ?>
                            <?php if(!empty($form['achievement'])){ ?>
                                <tr class="t431__oddrow" style="background: #ffffff">
                                    <td class="t431__td"
                                        style="width:25vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                        Профессиональные достижения:
                                    </td>
                                    <td class="t431__td"
                                        style="width:75vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                        <?= nl2br($form['achievement'])?>
                                    </td>
                                </tr>
                            <?php } ?>
                            <?php if(!empty($form['realized_projects'])){ ?>
                                <tr class="t431__oddrow" style="background: #ffffff">
                                    <td class="t431__td"
                                        style="width:25vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                        Реализованные проекты в сфере культуры и креативных индустрий:
                                    </td>
                                    <td class="t431__td"
                                        style="width:75vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                        <?= nl2br($form['realized_projects'])?>
                                    </td>
                                </tr>
                            <?php } ?>
                            <?php if(!empty($form['motivation_letter'])){ ?>
                                <tr class="t431__oddrow" style="background: #ffffff">
                                    <td class="t431__td"
                                        style="width:25vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                        Мотивационное письмо:
                                    </td>
                                    <td class="t431__td"
                                        style="width:75vw;font-size: inherit; border-width: 1px 0px 1px 0px; border-color: #d9d9d9; color: #4d4c4c;">
                                        <?= nl2br($form['motivation_letter'])?>
                                    </td>
                                </tr>
                            <?php } ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="t142" style="padding-top:60px;padding-bottom:0px; ">
            <div class="t-container_100">
                <div class="t142__wrapone">
                    <div class="t142__wraptwo"><a
                                onclick="$('#rec111867143 .t431:first').hide();$('#rec111867143 .t431:eq(1)').show(); return false;"
                                target="" class="">
                            <div class="t-btn t142__submit "
                                 style="color:#000000;border:3px solid #000000;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;">
                                Редактировать
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="t431 t431_form" style="display: none;">
        <div class="t-container">
            <div class="t-col t-col_10 t-prefix_1 t431__tdscale_1 t-text t-text_sm t-align_left ">
                <div class="t431__wrapper-for-mobile">
                    <div class="t431__table-wapper" data-auto-correct-mobile-width="false">
                        <?php $_GET['edit'] = 1; ?>
                        <?= cmd('db/accounts/' . $_SESSION['SESS_AUTH']['ALL']['alias'], false, true); ?>
                        <?php unset($_GET['edit']); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#accountsForm").validate({
            rules: {
                'form[author_comment]': {
                    required: true,
                    rangelength: [2, 255]
                }/*,
                'form[author_surname]': {
                    required: true,
                    rangelength: [2, 255]
                },
                'form[author_patronymic]': {
                    required: true,
                    rangelength: [2, 255]
                },
                'form[author_phone]': {
                    required: true,
                    rangelength: [6, 24]
                },
                'form[gender]': {
                    required: true
                },
                'form[author_age]': {
                    required: true
                },
                'form[region_id]': {
                    required: true,
                    min: 1
                },
                'form[city]': {
                    required: true,
                    rangelength: [3, 255]
                },
                'form[education]': {
                    required: true,
                    min: 1
                },
                'form[achievement]': {
                    required: true,
                    rangelength: [3, 255]
                },
                'form[realized_projects]': {
                    required: true,
                    rangelength: [3, 255]
                }*/
                <?php if(empty($_SESSION['SESS_AUTH']['ALL']['agree_eula'])){?>
                ,
                'agree_eula': {
                    required: true
                }
                <?php } ?>
            },
            messages: {
                'form[author_comment]': {
                    required: "Заполните это поле",
                    rangelength: "Введите от 2 до 255 символов"
                }/*,
                'form[author_surname]': {
                    required: "Заполните это поле",
                    rangelength: "Введите от 2 до 255 символов"
                },
                'form[author_patronymic]': {
                    required: "Заполните это поле",
                    rangelength: "Введите от 2 до 255 символов"
                },
                'form[author_phone]': {
                    required: "Заполните это поле",
                    rangelength: "Введите от 6 до 24 символов"
                },
                'form[gender]': {
                    required: "Выберите один из пунктов списка"
                },
                'form[author_age]': {
                    required: "Выберите один из пунктов списка"
                },
                'form[region_id]': {
                    required: "Выберите один из пунктов списка",
                    min: "Выберите один из пунктов списка"
                },
                'form[city]': {
                    required: "Заполните это поле",
                    rangelength: "Введите от 3 до 255 символов"
                },
                'form[education]': {
                    required: "Выберите один из пунктов списка",
                    min: "Выберите один из пунктов списка"
                },
                'form[achievement]': {
                    required: "Заполните это поле",
                    rangelength: "Введите от 3 до 255 символов"
                },
                'form[realized_projects]': {
                    required: "Заполните это поле",
                    rangelength: "Введите от 3 до 255 символов"
                }*/<?php if(empty($_SESSION['SESS_AUTH']['ALL']['agree_eula'])){?>,
                'agree_eula': {
                    required: "Необходимо принять условия соглашений<br>"
                }
                <?php } ?>
            }
        });
    });
    $(document).off('submit', '#accountsForm').on('submit','#accountsForm',function (e) {

        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
        var $form = $(this);
        // создадим объект данных формы
        formData = new FormData($form.get(0));

        $.ajax({
            contentType: false, // важно - убираем форматирование данных по умолчанию
            processData: false, // важно - убираем преобразование строк по умолчанию
            type: 'post',
            url: '/empty/db/accounts/<?=$_SESSION['SESS_AUTH']['ALL']['alias']?>?edit&ajax_data',
            data: formData
        }).done(function (data) {
            console.log('success');
            $('#accounts').html(data);

        }).fail(function (jqXHR, textStatus) {
            //alert( "Request failed: " + textStatus );
            console.log("Request failed: " + textStatus);
            console.log(data);
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
    });
</script>