<?php
    $num++;
    $add_class = 't-rec_pb_60';
    if($num == 1)
        $add_class = 't-rec_pb_105';
    elseif(sizeof($_KAT['SEARCH_RES']) == ($num+1))
        $add_class = 't-rec_pb_120';
?>
<div class="r t-rec t-rec_pt_105 <?= $add_class?>" data-record-type="33"
    <?= ($num%2 == 0)?'data-bg-color="#fafafa" style="background-color:#fafafa;"':''; ?> >
<!-- T017 -->
    <div class="t017">
        <div class="t-container t-align_left">
            <div class="t-col t-col_8 t-prefix_1">
                <div class="t017__uptitle t-uptitle t-uptitle_md" field="subtitle" style="">
                    <?= date('d.m.y', strtotime($data['ts'])); ?>
                </div>
                <div class="t017__title t-title t-title_xxs" field="title" style="font-size:30px;">
                    <?=$data['name']?>
                </div>
                <div class="t017__descr t-descr t-descr_xs" field="descr" style="font-size:20px;"><?=$data['anons']?><br />
                    <?php if(!empty($data['more'])){ ?>
                        <a href="<?=$data['more']?>" <?= (strpos($data['more'],'http:')!== false)?'target="_blank"':''?> style="">Подробнее</a>
                    <?php }elseif(!empty($data['cont'])){ ?>
                        <a href="/db/news/<?=$data['alias']?>" style="">Подробнее</a>
                    <?php } ?>
                </div>
            </div>
        </div>
    </div>
</div>
