<div id="rec115580021" class="r t-rec" style=" " data-animationappear="off" data-record-type="18"><!-- cover -->
    <div class="t-cover" id="recorddiv115580021" bgimgfield="img"
         style="height:60vh; background-image:-webkit-linear-gradient(top, #ccc, #777); background-image:-moz-linear-gradient(top, #ccc, #777); background-image:-o-linear-gradient(top, #ccc, #777); background-image:-ms-linear-gradient(top, #ccc, #777); background-image:linear-gradient(top, #ccc, #777); ">
        <div class="t-cover__carrier" id="coverCarry115580021" data-content-cover-id="115580021"
             data-content-cover-bg="" data-content-cover-height="60vh" data-content-cover-parallax="dynamic"
             style="height:60vh;background-attachment:scroll; "></div>
        <div class="t-cover__filter"
             style="height:60vh;background-image: -moz-linear-gradient(top, rgba(<?= $_CONF['TOP_BANNER']['start_rgba']?>), rgba(<?= $_CONF['TOP_BANNER']['end_rgba']?>));background-image: -webkit-linear-gradient(top, rgba(<?= $_CONF['TOP_BANNER']['start_rgba']?>), rgba(<?= $_CONF['TOP_BANNER']['end_rgba']?>));background-image: -o-linear-gradient(top, rgba(<?= $_CONF['TOP_BANNER']['start_rgba']?>), rgba(<?= $_CONF['TOP_BANNER']['end_rgba']?>));background-image: -ms-linear-gradient(top, rgba(<?= $_CONF['TOP_BANNER']['start_rgba']?>), rgba(<?= $_CONF['TOP_BANNER']['end_rgba']?>));background-image: linear-gradient(top, rgba(<?= $_CONF['TOP_BANNER']['start_rgba']?>), rgba(<?= $_CONF['TOP_BANNER']['end_rgba']?>));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='<?= $_CONF['TOP_BANNER']['start_color']?>', endColorstr='<?= $_CONF['TOP_BANNER']['end_color']?>');"></div>
        <div class="t-container">
            <div class="t-col t-col_8 ">
                <div class="t-cover__wrapper t-valign_middle" style="height:60vh;">
                    <div class="t001 t-align_left">
                        <div class="t001__wrapper" data-hook-content="covercontent">
                            <div class="t001__title t-title t-title_xl" style="" field="title">Новости</div>
                            <span class="space"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php $num = 0; ?>