<?
/*if (isset($_KAT['DOC_PATH'][$_KAT['KUR_ALIAS']])){
	global $_DOC;
	$_DOC['RE_TITLE'] = str_replace(array('[',']'),'',$form['name']);
	$_SERVER['REQUEST_URI'] = $_KAT['DOC_PATH'][$_KAT['KUR_ALIAS']]; // что бы меню выделилось
	$_DOC['CURRENT'] = $_SERVER['REQUEST_URI'];
}else{*/
	// если это не в подпапках, то CURRENT будет DB значит надо заголовок там поменять
	global $_KAT;
	$_KAT['RE_TITLE'] = htmlspecialchars(str_replace(array('[',']'),'',$form['name']));
    $_KAT['SEO_DESC'] = htmlspecialchars(str_replace(array('[',']'),'',$form['anons']));
    $data_url = 'https://'.$_SERVER['SERVER_NAME'].'/db/news/'.$form['alias'];
//}
?>
<div id="rec115586428" class="r t-rec t-rec_pt_165 t-rec_pb_0" style="padding-top:165px;padding-bottom:0px; "
     data-record-type="255"><!-- T225 -->
    <div class="t225">
        <div class="t-container t-align_left">
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t225__title t-title t-title_md" field="title" style=""><?=$form['name']?></div>
            </div>
        </div>
    </div>
</div>
<?php if(!empty($form['title2'])){ ?>
<div id="rec115586429" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px; "
     data-record-type="127"><!-- T119 -->
    <div class="t119">
        <div class="t-container ">
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t119__preface t-descr t-opacity_70" style="opacity:0.70;" field="text">
                    <?= $form['title2']?>
                </div>
            </div>
        </div>
    </div>
</div>
<?php } ?>
<div id="rec115586430" class="r t-rec t-rec_pt_45 t-rec_pb_60" style="padding-top:45px;padding-bottom:60px; "
     data-record-type="106"><!-- T004 -->
    <div class="t004">
        <div class="t-container ">
            <div class="t-col t-col_8 t-prefix_2">
                <div field="text" class="t-text t-text_md " style=""><?=$form['cont']?></div>
            </div>
        </div>
    </div>
</div>
<?php $share_img = '';?>
<?php if (!empty($form["doc"]) && is_file($FORM_DATA["doc"]["abspath"]."/".$form["doc"])):?>
<div id="rec115586431" class="r t-rec t-rec_pt_0 t-rec_pb_60" style="padding-top:0px;padding-bottom:60px; "
     data-record-type="3"><!-- T107 -->
    <div class="t107">
        <div class="t-align_center" itemscope itemtype="http://schema.org/ImageObject">
            <meta itemprop="image" content="/reimg<?=$FORM_DATA["doc"]["path"]."/".$form["doc"]?>?760">
            <img src="/reimg<?=$FORM_DATA["doc"]["path"]."/".$form["doc"]?>?200"
                 data-original="/reimg<?=$FORM_DATA["doc"]["path"]."/".$form["doc"]?>?760"
                 class="t107__width t-width t-width_8 t-img" imgfield="img"/></div>
    </div>
</div>
    <?php $share_img = 'https://'.$_SERVER['SERVER_NAME'].'/reimg'.$FORM_DATA["doc"]["path"]."/".$form["doc"].'?760';?>
<?endif;?>

<?php if (!empty($form['ts'])): ?>

    <div id="rec115586433" class="r t-rec t-rec_pt_0 t-rec_pb_15" style="padding-top:0px;padding-bottom:15px; "
         data-record-type="40"><!-- T026 -->
        <div class="t026">
            <div class="t-container t-align_left">
                <div class="t-col t-col_8 t-prefix_2">
                    <div class="t026__title t-text" field="title" style="color:#a3a3a3;"><?=mb_strtoupper(STR::date2word($form['ts'],'d m'))?> / <?=STR::date2word($form['ts'],'y')?></div>
                    <div class="t026__descr t-text t-text_xs" field="subtitle" style="text-transform:uppercase;">

                        <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                        <script src="https://yastatic.net/share2/share.js"></script>

                        <div class="share_block">
                            <div class="page-ya-share">
                                <div class="ya-share2__list_direction_horizontal ya-share2__container_size_m" style="display: inline-block; margin: 0 6px 0 0;">
                                    <div class="ya-share2__item ya-share2__item_service_vkontakte ">
                                        <a class="ya-share2__link" onclick="Share.vkontakte('<?=$data_url?>','<?=$_KAT['RE_TITLE'];?>', '<?=$share_img;?>', '<?=$_KAT['SEO_DESC'];?>')" rel="nofollow noopener" target="_blank" title="ВКонтакте"><span class="ya-share2__badge"><span class="ya-share2__icon"></span><span class="ya-share2__counter"></span></span></a>
                                    </div>
                                </div>
                                <div class="ya-share2" id="my-share-facebook"  style="display: inline-block; margin: 0 6px 0 0;"></div>
                            </div>
                        </div>

                        <script>
                            Ya.share2('my-share-facebook', {
                                theme: {
                                    services: 'facebook',
                                    size: 'm'
                                },
                                content: {
                                    url: '<?=$data_url;?>',
                                    title: '<?=$_KAT['RE_TITLE'];?>',
                                    description: "<?=$_KAT['SEO_DESC'];?>"
                                }
                            });
                        </script>
                        <style>
                            .ya-share2__container_size_m .ya-share2__icon {
                                height: 66px;
                                width: 66px;
                            }
                            .share_block .ya-share2__list_direction_horizontal .ya-share2__item_service_facebook{
                                margin-top: -2px;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?endif;?>
<div id="rec115586434" class="r t-rec t-rec_pt_0" style="padding-top:0px; " data-record-type="126"><!-- T118 -->
    <div class="t118">
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_2">
                <hr class="t118__line" style="background-color:#000000;opacity:0.2;">
            </div>
        </div>
    </div>
</div>
