<?php
global $form, $_CORE;
if (empty($form['from_auth'])) $form['from_auth'] = $_SESSION['SESS_AUTH']['ID'];

// скроем от пользователей удаленные
if (!$_CORE->IS_ADMIN && !empty($form['hidden'])) {

    echo '<div class="alert alert-danger alert-dismissable">Данные удалены<button type="button" class="close" data-dismiss="alert" aria-hidden="true">х</button></div>';

} else {

    ?>
    <div class="content-panel">

        <?= (!empty($_KAT['ERROR'])) ? '<p class="alert alert-warning">' . @nl2br($_KAT['ERROR']) . '</p>' : '' ?>

        <form class="form form-horizontal style-form" id="<?=$_KAT['KUR_ALIAS']?>Form" autocomplete="off" method=post
              enctype="multipart/form-data" name='db_form'>


            <table border=0 width='100%' cellspacing=0 cellpadding=0 class="form">
                <tbody class="t431__tbody">
                <?php $_KAT['cForm']->Form_TD_title['class'] = "t431__td td-18"; ?>
                <?php $_KAT['cForm']->Form_TD_val['class'] = "t431__td td-75 padding-right"; ?>
                <?php $_KAT['cForm']->Body_print(); ?>
                </tbody>
            </table>

            <table width="100%" border="0" cellpadding="0" cellspacing="0" class=" form"
                   style="margin-top:20px">
                <tr>
                    <td colspan="3" class="sep">
                        <div class="sep">
                            <spacer type="block" width="1" height="1"></spacer>
                        </div>
                    </td>
                </tr>
                <tr>
                    <input type="hidden" name="apply" value="0">
                    <input type="hidden" name="submit_x" value="1">
                    <td width="30%" class="tdleft"><input type=submit name="submit"
                                                          class="t-submit btn btn-primary btn-info btn-large"
                                                          value="Сохранить"></td>
                    <td width="40%">&nbsp; &nbsp;</td>
                    <td width="30%" class="tdright" align="right">
                        <input type="reset" value="Отменить" class="t-submit btn btn-warning btn-large btn-block" ">
                    </td>
                </tr>
            </table>
        </form>
    </div>
<? } ?>