<div class="t650__col t-col t-col_3 t-align_left t-animate" data-animate-style="fadeinup"
     data-animate-chain="yes">
    <div class="t650__inner-col"
         style="background-color:#ffffff; border-radius:5px; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.30);">
        <div class="t650__text">
            <div class="t-name t-name_lg t650__bottommargin" style="" field="li_title__1489140981614">
                <?=$data['name']?>
            </div>
            <div class="t-text t-text_sm" style="" field="li_descr__1489140981614">
                <div style="font-size:16px;" data-customstyle="yes"><?= nl2br($data['cont']);?>
                </div>
            </div>
        </div>
    </div>
</div>
