<?php if (sizeof($_KAT['SEARCH_RES']) > 0) { ?>
    <div id="rec130555719" class="r t-rec t-rec_pt_60 t-rec_pb_60"
         style="background-color:#efefef; " data-record-type="650"
         data-bg-color="#efefef"><!-- T650 -->
        <div class="t650">
            <div class="t-section__container t-container">
                <div class="t-col t-col_12">
                    <div class="t-section__topwrapper t-align_center">
                        <div class="t-section__descr t-descr t-descr_xl t-margin_auto" field="bdescr">
                            <div style="font-size:16px;" data-customstyle="yes">За время программы мы поможем вам построить
                                проект с нуля или вывести имеющийся проект на новый уровень. <br/></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-container">
                <div class="t650__row">
<?php } ?>