<?php if (sizeof($_KAT['SEARCH_RES']) > 0) { ?>

    </div>
    </div>
    </div>
    <style> #rec130555719 .t650__inner-col:hover {
            background-color: !important;
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10) !important;
        }</style>
    <script type="text/javascript"> $(document).ready(function () {
            t650_unifyHeights('130555719');
        });
        var t650__doResize_130555719;
        $(window).resize(function () {
            clearTimeout(t650__doResize_130555719);
            t650__doResize = setTimeout(function () {
                t650_unifyHeights('130555719');
            }, 200);
        });
        $(window).load(function () {
            t650_unifyHeights('130555719');
        });
        $('.t650').bind('displayChanged', function () {
            t650_unifyHeights('130555719');
        });</script>
    </div>
<?php } ?>