/* common plate & see also*/

table.common a:hover, table.seealso a:hover { color: #869A00; }


/* color plate */

table.color, table.popuptitle { background-color: #869A00; }

table.table tr td a.link_db, table.table tr td a.link_db:hover, table.table tr td a.link_db:focus{
	color: #FF8B01;
}